[2021-01-21 21:03] JJanneh commented on #253
CheckBox Option
![Capping_Filler_Check_Box](https://user-images.githubusercontent.com/76751383/105412069-71d59200-5bf1-11eb-8edb-5a35e6b0d11c.PNG)

[2021-01-21 23:25] TedCC1209 commented on #14
The colors look to be working correctly--showing up in the scene and exporting into the XML, thank you.

As for the issue about an adjacent deeper TK assembly--it looks to only be doing the 1/4" extension toward the deeper TK assembly if the return for that side is also selected (i.e., if I want it to extend 1/4" left for an adjacent deeper TK assembly on the left it will only extend if Left Retur

[2021-01-21 23:45] AntonioGloria commented on #262
Hi @TedCC1209,
The labels for the capping bottoms are done.
![Capping_Bottom_Label](https://user-images.githubusercontent.com/74732175/105426162-4f06a600-5c10-11eb-90b5-62c2063a1900.png)
Here's the link for this feature: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23262-label-capping-bottoms

[2021-01-22 13:38] ClassyTeddy commented on #14
I think that make sense. So basically, all you want me to do I remove the requirement to have a return selected?

[2021-01-22 13:43] TedCC1209 commented on #14
Yes that should fix it, I was just also explaining the real life application of why that is.

[2021-01-22 13:49] nailsonlandim commented on #174
Hi @TedCC1209 ,

Take a look and tell me what you think.

[2D Views One.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5856184/2D.Views.One.pdf)

[2D Views Two.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5856182/2D.Views.Two.pdf)

Available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23174-show-cross-section

[2021-01-22 14:31] TedCC1209 commented on #174
Your examples look good Nailson, thank you. @sarahhightower @kategodfrey @JBTattersall  can you guys also test this one and give us your feedback please? Thanks, Ted

[2021-01-22 14:32] TedCC1209 commented on #262
Your example looks good Antonio, thank you. @kategodfrey @sarahhightower @JBTattersall can you guys test this and give us your feedback please? Thanks, Ted

[2021-01-22 15:08] JJanneh commented on #280
@RyanMDev Removed all Previous saved Projects/Rooms and Started from Scratch. Export of XML files currently is working now.

[2021-01-22 15:23] #280 closed

[2021-01-22 15:55] TedCC1209 commented on #271
@ClassyTeddy since @JJanneh is already working on the edgebanding the bottom edge for fillers, perhaps this issue would be something he can address too if you haven't already looked into it. Let us know

[2021-01-22 16:01] sarahhightower commented on #262
Looks great. Thanks!

![Screenshot 2021-01-22 090051](https://user-images.githubusercontent.com/72047269/105514144-65544680-5c90-11eb-88dc-3ee14b2a279b.png)

[2021-01-22 16:05] ClassyTeddy commented on #271
I think he should be able to address this. All you need to do is CV add some logic to the `get_part_width` function

[2021-01-22 16:07] JJanneh commented on #272
**Edge Bottom of Filler** Check box option is currently exporting XML data @TedCC1209 @ClassyTeddy
![Edge_Bottom_of_Filler_xml_Export_Data](https://user-images.githubusercontent.com/76751383/105514806-2d99ce80-5c91-11eb-9e21-c7a9e9a53798.PNG)

<Item ID="IDI-0">
 <Name>000.0008.01</Name>
 <Description>Edge Bottom Filler Options</Description>
 <Note>Closet:41110</Note>
<Part ID="IDP-0" LabelID="IDL-

[2021-01-22 16:09] kategodfrey commented on #174
Looks good to me! The only thing is that it didn't show up on my wall D. But other than that I like it.

![image](https://user-images.githubusercontent.com/63115502/105514983-6174f400-5c91-11eb-880b-f6fc42de7324.png)
![image](https://user-images.githubusercontent.com/63115502/105515060-7f425900-5c91-11eb-946a-e89f3ef35253.png)

[2021-01-22 16:29] kategodfrey commented on #262
I tested this twice and it doesn't show up... I will try again later this evening. I think what could have happened was that when I opened Nailson's Snap to work in, the pop-up to update to version 1.2.2. came up and I pressed it without thinking... But like I said, I will try again later this evening when I get back to my computer.

[2021-01-22 16:30] JJanneh commented on #271
@ClassyTeddy I can work on this issue. CV add some logic to the get_part_width function

[2021-01-22 16:35] TedCC1209 commented on #272
Hi J, your example picture here is of a bottom cleat, not a filler. Filler pieces will be named "Left Filler" and "Right Filler" in the XML.

No edgebanding is being passed in the XML to fillers in my testing on the branch Option-to-edge-bottom-edge (this branch also does not look like it has been updated with all the latest changes to the master branch). If there is a different branch I should be

[2021-01-22 16:35] sarahhightower commented on #174
This is awesome! But, there are no dotted lines on wall d for me either.

![1](https://user-images.githubusercontent.com/72047269/105518179-31c7eb00-5c95-11eb-95c8-40cf59261438.png)

![2](https://user-images.githubusercontent.com/72047269/105518186-342a4500-5c95-11eb-950d-5b04ff46df86.png)

![3](https://user-images.githubusercontent.com/72047269/105518195-35f40880-5c95-11eb-9cd4-b9fb23a10531.png)

[2021-01-22 16:49] TedCC1209 commented on #262
@AntonioGloria @nailsonlandim  Can we have your repository updated to have all the latest merges to the SNaP-Dev master branch? Even the master branch of Nailson's repository asks to update to v1.2.2 when I open it. Then we can test again after that. Thanks, Ted

[2021-01-22 16:49] #278 closed

[2021-01-22 16:49] #279 closed

[2021-01-22 16:51] TedCC1209 opened #281 "2D Views: L-Shelves"
Many of the changes we have made to 2D views do not look like they have been applied to L-Shelves. We need to update L-Shelf 2D view labels accordingly. If whoever is working on this issue would like me to go through each specific thing I see that is not being applied to L-Shelves I can, just let me know.

[2021-01-22 16:51] nailsonlandim commented on #262
Ok, I will fix that.

[2021-01-22 16:57] JJanneh commented on #272
@TedCC1209 just talked to @ClassyTeddy I still need to place the XML logic for the Left and Right Fillers

[2021-01-22 17:03] SeanRadvan opened #282 "Prepare 2D Views error 1.2.2"
https://mail.google.com/mail/u/0?ui=2&ik=3093dcecd3&attid=0.1&permmsgid=msg-f:1689544364517952714&th=177277a5df5b0cca&view=fimg&disp=thd&attbid=ANGjdJ_A4At73VBELoHhlyowozKlSpZTMiUzH7FBFghPN3WyNf9pUsVe-yY3TP-XaTDUgX-Qb_vRtpXbGwkrDC6rUuP8HyyK0ayOiD1h1hXrf5nu-XsifSLpg2DnER4&ats=2524608000000&sz=w1920-h937
End user is apparently running into this issue when preparing 2D views on an updated version of

[2021-01-22 17:08] TedCC1209 commented on #231
https://drive.google.com/drive/folders/1cmOsba35tHt_DPk1XNJyiCzAbLJYuAZ7?usp=sharing

In the Island Append to View video it has some info about where you put in certain project and other info to show up on the 2D Views.

[2021-01-22 17:14] TedCC1209 commented on #282
I can't see anything on the link you sent, can you share it a different way please?

[2021-01-22 17:22] TedCC1209 commented on #176
@sarahhightower can likely explain this better, so please correct me where I am wrong and add things that I am missing.

Currently we can "Append to View" for islands, but the 2D Views of Islands are extremely limited as it what it actually exports. I think the Plan view is okay? But elevation-wise it looks like it only exports one elevation of the island and depending on the orientation of the is

[2021-01-22 17:26] TedCC1209 opened #283 "Simplify Closet Materials Menu"
Right now in order to change a closet color from the default Oxford White to a different color, it takes a lot of clicks--edgebanding, secondary edgebanding, material selection, Door/Drawer face edge, Door/Drawer face material. It would be a lot more convenient if the user just had to choose the material color and that the default is that everyone else changes with it (which, in 98% of jobs is the

[2021-01-22 17:29] TedCC1209 opened #284 ""Replace All" option for wood doors/drawer fronts"
Currently there is an option for pulls to "Replace All" pulls in the scene with the newly selected handle. This option is not available for Wood Doors/Drawer Fronts, however. It would be nice to have a "Replace All" option for wood doors/fronts so that the user does not have to select each door in the room to then replace.

[2021-01-22 17:42] nailsonlandim commented on #262
Fixed,

You can look at it again

let me know if the problem persists.

Thanks,
Nailson

[2021-01-22 17:44] SeanRadvan commented on #282
![image](https://user-images.githubusercontent.com/54151330/105525841-d569c900-5c9e-11eb-9080-38cef4e46596.png)

[2021-01-22 17:47] RyanMDev commented on #282
The room .blend file for this would be helpful as well.

[2021-01-22 17:53] TedCC1209 opened #285 "Garage Legs"
We need the option to add garage legs. I see them working similar to toe kicks. We need a rendering of the different garage legs to be made first (@SeanRadvan perhaps you can get this ready before @ClassyTeddy or @nailsonlandim begin working on this). I believe the legs have been added to the SNaP Library csv but I will verify it is all inclusive:

SKU | Name | DisplayName | Description
-- | -- |

[2021-01-22 17:55] TedCC1209 opened #286 "Garage Door Track Rendering"
Can we add a garage door track rendering/object that we can add to scenes to work around? @SeanRadvan is this something you can create?

Thanks,
Ted

[2021-01-22 17:58] sarahhightower commented on #176
You got it, Ted. The plan view is fine.

I've attached a few visuals for reference. The first one shows what a dual sided island looks like when one side faces the door. The drawers overlap each other and it's not very clear. The second one shows what it looks like when you see the side of the island from the door.

![1](https://user-images.githubusercontent.com/72047269/105526815-229a6a80-5ca0-11

[2021-01-22 17:59] TedCC1209 opened #287 "Default cleat location in drawer stacks/hampers should be "Below" in certain situations"
Let's change the default location of cleats in drawer stacks & hampers to be "Below" when placed in islands or when there is a countertop present.

[2021-01-22 18:00] RyanMDev commented on #282
The following conditional statement is failing to set the `opng_x_pos` variable. Notice that this only takes into account wall angles: 0, 180, 90, -90. My guess without seeing the room file would be that this is failing because the user is using a custom room with angled walls that are anything other than: 0, 180, 90, -90 degrees.

            # Depending on wall angle, our "X-axis" is different.

[2021-01-22 18:10] TedCC1209 opened #288 "Topshelf covering filler"
Topshelf should automatically cover left and right fillers rather than just only cover the top of the partition adjacent to the filler. Right now you have to "extend left" or "extend right" on the topshelf to get it to cover the filler, but I think this should be an easy automatic thing

[2021-01-22 18:16] TedCC1209 opened #289 "Calculating openings when using "Fill" option for partition placement"
Classy standards are 3" increments (12, 15, 18, etc.) for our standard interior opening widths. Instead of calculating exact equal interior widths when using the "Fill" option for partition placement (which it is currently doing) we should have it determine the closest 3" increment for all but the last opening on the right and then the opening on the right would get the remaining amount of opening

[2021-01-22 18:19] TedCC1209 opened #290 "Larger Prompt Menus"
Some users are saying some of the prompt menus are hard to read because of small text. Is there a way (perhaps it is a user preference in blender?) to adjust the text size of prompt menus?

[2021-01-22 18:37] TedCC1209 opened #291 "2D Views: Label File Drawers"
We need to label file drawers (left side of the drawer face I am thinking will be the best place). It's a 10H+  drawer face so it should be tall enough to have two lines. The top line should say FILE and the second line should say Lateral ("Lat.") or Front to Back ("F2B") as well as Letter or Legal  (e.g., "Lat. Letter" or "F2B Legal"). These options are all included within the drawer prompts.

[2021-01-22 18:43] TedCC1209 commented on #233
Can we also show the Entry Door door swing on this? The Entry doors have their own prompts that affect this.

[2021-01-22 19:04] JJanneh commented on #272
![L_Filler_EDGE_BANDING](https://user-images.githubusercontent.com/76751383/105533754-cb00fc80-5ca9-11eb-9070-f4ace24ba222.PNG)
![Screenshot (104)](https://user-images.githubusercontent.com/76751383/105533853-ec61e880-5ca9-11eb-8a3a-03251f11c5cd.png)

[2021-01-22 19:39] SeanRadvan commented on #282
Confirmed with end user, he did have a 45 degree wall.

[2021-01-22 19:49] nailsonlandim commented on #282
@SeanRadvan does this 45-degree wall has any assembly on it?

[2021-01-22 19:52] SeanRadvan commented on #282
@nailsonlandim As far as I know, yes it did.

[2021-01-22 20:10] TedCC1209 opened #292 "Rendering More than Once in a single session causes Black Boxes/Screen"
Even if you Clear All 2D Views, if you try to Render Selected Scenes a second time in a single session working on a room (after making changes or whatnot between renderings), the second time you do this it comes out with black boxes where the 2D Views should be. It would be nice not to have to exit the program and get back into the project in order to re-render 2D views.

[2D Views (1).pdf](https:

[2021-01-22 20:44] AntonioGloria commented on #290
Hi @TedCC1209,
The size of the text can be adjusted for menus or prompts with Blender by going to File > User Preferences... > Themes > Text Style
The menu looks like this:
![image](https://user-images.githubusercontent.com/74732175/105543998-16bea080-5cc0-11eb-9712-c2992bb376c9.png)
The three highlighted sliders are the values that affect UI text size. Hope this helps.

[2021-01-22 20:52] TedCC1209 commented on #290
Thanks @AntonioGloria !

@sarahhightower see above. Going too big makes it look a little funny, but a size 14 text might be good for the users who are having issues reading smaller text.

[2021-01-22 21:22] sarahhightower commented on #290
Very helpful information. Thank you!

[2021-01-22 21:52] sarahhightower commented on #282
@nailsonlandim I notice you said that that it is "failing because the user is using a custom room with angled walls that are anything other than: 0, 180, 90, -90 degrees." To clarify, does the new version not allow us to do any other angles? 45 and 135 angles are also common variations and sometimes we may even have to draw walls outside of the 45 degree wall standard.

Also, FYI, I did a test wit

[2021-01-22 22:20] nailsonlandim commented on #282
Thank you @SeanRadvan , @sarahhightower and @TedCC1209 for the prompt feedback.

I changed it to rely on trigonometry instead of fixed values. So you can have angles like 30 degrees...

![image](https://user-images.githubusercontent.com/70038700/105554537-55675180-5ce6-11eb-8ca2-f12d2c46a0f3.png)

and right angles works just like before.

![image](https://user-images.githubusercontent.com/70038700

[2021-01-22 23:03] sarahhightower commented on #282
Thanks Nailson!

Is there a workaround for users who now have a version of SNaP that doesn't allow them to generate 2d views of plans that have angled walls?

[2021-01-22 23:12] TedCC1209 commented on #282
This looks good to me! Nice work @nailsonlandim

Can we get a pull request @ClassyTeddy ? @RyanMDev were you thinking of sending out a hotfix auto-update for this?

[2021-01-22 23:13] TedCC1209 commented on #129
This is possible @kategodfrey . Just click on the wall you want to rename:

[2021-01-22 23:16] #129 closed

[2021-01-23 00:16] kategodfrey opened #293 "1.2.2 Door prompt giving error for a user in Dallas"
Hi @ClassyTeddy or @SeanRadvan  or anyone who can help 😂

I received a call from a user saying he is not able to put doors in. He did the update and followed our instructions on fixing the leftover files and now he gets an error any time he tries to put in doors.  Here is his error:

![Screenshot 2021-01-22 174834](https://user-images.githubusercontent.com/63115502/105561945-855a2900-5cd5-11eb-815

[2021-01-25 07:15] RyanMDev commented on #282
Yes.

On Fri, Jan 22, 2021 at 3:12 PM Theo <notifications@github.com> wrote:

[2021-01-25 16:03] SeanRadvan commented on #286
If its simply creating the rendering for a rail, most likely I should be able to handle that. If you want it be able to interact with cabinets for things like fill to wall, that might take a bit more work. because where the tracks sit in a garage can vary wildly, we would want some sort of dialogue box to adjust its height / length. Not terribly difficult but I would probably need to teddy / J to

[2021-01-25 16:26] JJanneh commented on #221
Custom_Partition_Depth Branch ready to test Prompt functions
![Screenshot (105)](https://user-images.githubusercontent.com/76751383/105733575-f163a980-5eee-11eb-95ce-37cd4f8e27d6.png)

[2021-01-25 16:45] nailsonlandim commented on #291
Hi @TedCC1209 @SeanRadvan @sarahhightower @kategodfrey @JBTattersall

I've created a Wiki page listing all labels I've seen and when they are generated. So a UI/UX evaluation can be done.

https://github.com/CCDevNelson/Snap-Updates/wiki/Label-and-Dimension-Generation

[2021-01-25 16:46] JJanneh commented on #272
Option-to-edge-bottom-edge branch Branch ready for testing. Currently exporting edge banding data
 ![Screenshot (106)](https://user-images.githubusercontent.com/76751383/105736138-b4e57d00-5ef1-11eb-9756-10bad953f4e5.png)

[2021-01-25 16:58] sarahhightower commented on #282
I let the designer who brought up this issue that an auto update should be happening tomorrow. He is really anxious and is wondering if there's anything we can do to help him today to generate 2D views? Here's his file.

https://drive.google.com/file/d/18OaOcUEImITqZmUI4NG1WxXhu3Hp9lrn/view?usp=sharing

[2021-01-25 17:45] nailsonlandim commented on #282
Hi @sarahhightower

Here it comes. I hope it helps.

[2D Views - Master 1pp.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5868456/2D.Views.-.Master.1pp.pdf)
[2D Views - Master 3pp.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5868457/2D.Views.-.Master.3pp.pdf)
[2D Views - Master 2pp.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5868458/2D.Views.-.Master.2pp.pdf)
[2D View

[2021-01-25 17:50] RyanMDev commented on #282
The fix for this only invloves one file: `SNaP\2.78\scripts\addons\snap_db\fd_2dviews\__init__.py`

If you think he can handle replacing this file on his install, you can send him the updated one:

[fd_2dviews_fix_wall_X-axis_calculation.zip](https://github.com/CCDevNelson/Snap-Updates/files/5868445/fd_2dviews_fix_wall_X-axis_calculation.zip)

Looking at his error message, his path to the file to

[2021-01-25 17:51] RyanMDev commented on #282
I am going to look at #293 and see if a fix for that issue can be included in the hotfix as well.

[2021-01-25 17:54] SeanRadvan commented on #282
@sarahhightower I have the zip and will be available today if you want me to help them. They should have my email / phone number already, just let them know to contact me.

[2021-01-25 18:20] TedCC1209 commented on #286
Yes let's start with just a rendering of the rail/track with the option to adjust the height and length of the track as well as distance off the wall because we want this to be "attached"/"connected" with the wall that the cabinets are going to go on that are having to work around it. Let me know if that makes sense--we can start with this for now.

Thanks, Ted

[2021-01-25 18:27] TedCC1209 commented on #291
Oh wow so pretty much everything you all have added is done upon selecting "prepare 2D views" and not upon "label parts" in the 2D Closet setup. This is a major oversight on my part.

@nailsonlandim / @AntonioGloria how big of an undertaking would this be to move the items from "Prepare 2D Views" over to 2D Closet Setup with a checkbox selection for each to allow a user to unselect each of them? A

[2021-01-25 18:41] nailsonlandim commented on #291
@TedCC1209 It would take something between 7 to 10 days at most, if I get lucky it goes faster.

[2021-01-25 18:49] kategodfrey commented on #282
@SeanRadvan it looks like this fix might help Jerry in Dallas.

[2021-01-25 18:51] kategodfrey commented on #282
@SeanRadvan it looks like this fix might help Jerry in Dallas.

[2021-01-25 19:06] RyanMDev commented on #293
It looks to me like he may have some of the old pull thumbnails/.png images leftover from version 1.2.1.

The "Matte Nickel" pull category has been removed in version 1.2.2. So it appears that he still has the old thumbnail image but the .blend file for the pull no longer exists. This could be why it is looking for the old pull.

Can you confirm this?

The pulls folder is located here:
`SNaP\2.78\

[2021-01-25 19:21] RyanMDev commented on #282
Unfortunately, it will not.

The error from #293 stems from not being able to load a pull .blend file. Which is not code related to 2d views.

[2021-01-25 19:32] RyanMDev commented on #293
Alright, I'll make a fix for this and include it in the hotfix update with the 2d views fix.

[2021-01-25 19:39] kategodfrey commented on #293
Great. Thank you both!

[2021-01-25 19:47] SeanRadvan commented on #282
Just got of phone with the user, the fix did not fix any previously drawn rooms, even after loading snap defaults, but they were able to draw a wall of -45 and do 2D Views after the fix.

[2021-01-25 20:19] #290 closed

[2021-01-25 21:14] TedCC1209 commented on #174
@kategodfrey @sarahhightower Do the cross sections show up on Wall D if you had an assembly on the wall other than just the door?

[2021-01-25 21:52] JJanneh commented on #272
**Option-to-edge-bottom-edge** branch ready for testing

[2021-01-25 22:15] RyanMDev commented on #282
Update 1.2.3 is ready to go and includes:

- 2D views fix for angled walls (this issue)
- Fix for #293

I will release this after hours today unless anyone sees a need to release it earlier.

[2021-01-25 22:21] sarahhightower commented on #174
It does, but it's missing the outline of the partition and the top shelf. See visual below.

![1](https://user-images.githubusercontent.com/72047269/105773356-ffcab900-5f20-11eb-93ea-f95c1b786e58.png)

[2021-01-25 22:45] sarahhightower commented on #272
The material core is not shown to test the feature, even after pulling the Option-to-edge-bottom-edge branch and loading SNaP defaults. Please let me know if I'm missing something here...

![1](https://user-images.githubusercontent.com/72047269/105775558-38b85d00-5f24-11eb-91bf-5fb1c614135d.png)

[2021-01-25 23:11] nailsonlandim commented on #174
Hi @sarahhightower could you share this file? I am trying to do something similar with no success.

[2021-01-26 00:21] sarahhightower commented on #174
Sure. Here you go:

https://drive.google.com/file/d/1gpeCzjdJ1UB6o1NLBZGbwJBIZVmpED8G/view?usp=sharing

[2021-01-26 00:28] nailsonlandim commented on #174
@sarahhightower Got no assembly at Wall D :-(

![image](https://user-images.githubusercontent.com/70038700/105782973-2c4bf880-5f54-11eb-955d-c0c849e716e4.png)

[2021-01-26 01:10] RyanMDev commented on #282
Do you have any more info on exactly how it did not fix any previously drawn rooms?

The file he provided (41110_Master Closet.blend) **was** a previously drawn room as it was previously drawn in 1.2.2 without the fix:

Nailson was then able to take this previously drawn room and create the following with the fix:

I am also able to reproduce Nailson's results with the fix using the previously dra

[2021-01-26 01:44] sarahhightower commented on #174
My apologies. Here is the correct file:

https://drive.google.com/file/d/1JCY4oeGMSuKCqxyhwSe5f5nnGMc9vTrw/view?usp=sharing

[2021-01-26 14:07] TedCC1209 commented on #14
@ClassyTeddy do you have an ETA on this? Thanks, Ted

[2021-01-26 14:32] TedCC1209 commented on #272
@JJanneh It looks like you are getting this branch back up to speed after the update. When that's ready and after you get the material core to show (the bottom of the filler should look like the bottom of the partition in @sarahhightower 's example when the option to edge the bottom is not selected), please let us know so we can test. Thanks, Ted

[2021-01-26 14:44] JJanneh commented on #272
Yes it appears that after I updated SNaP this morning. Some of the prompts
are missing and will update again shortly.

On Tue, Jan 26, 2021 at 7:32 AM Theo <notifications@github.com> wrote:

[2021-01-26 15:20] JJanneh commented on #272
@ClassyTeddy I have the Edge Banding exporting L/R but the material is not changing when selected in SNaP.

[2021-01-26 17:14] kategodfrey commented on #262
I was able to get it to appear. The first time I did it, it did not appear... I think it is because I updated to 1.2.3? This last time I did not update and was able to get it to appear 👍

![image](https://user-images.githubusercontent.com/63115502/105879357-4d95fe80-5fbf-11eb-99a8-787f06dcfa45.png)

[2021-01-26 18:20] sarahhightower commented on #190
We have a franchise that uses 22H Hampers. Can we expand the hamper options prompt to included a 22H as an option?

![SNaP_  C__Users_shightower_Documents_SNaP Projects_1_26_41110_New Room blend  1_26_2021 11_16_08 AM](https://user-images.githubusercontent.com/72047269/105886823-1ed05600-5fc8-11eb-900f-057b311ce7c1.png)

[2021-01-26 22:02] TedCC1209 commented on #262
Yes, @ClassyTeddy @nailsonlandim @JJanneh @AntonioGloria all of the outstanding branches you have been working on with changes that have not yet been merged with the Master look like they need to be updated with v1.2.3 and the most recent changes to the master branch.

[2021-01-26 22:11] JJanneh commented on #272
No Edge Banding Showing CheckBox function needs work. XML data is currently exporting on selection
![Screenshot (113)](https://user-images.githubusercontent.com/76751383/105912184-50f1b000-5fe8-11eb-8c57-1a1223ec083b.png)

[2021-01-27 13:43] ClassyTeddy commented on #14
@TedCC1209 Should have it done by tomorrow afternoon at the latest. I'm still wrapping up the functionality for the islands, and I still need to fix how the adjacent deeper TK is functioning.

[2021-01-27 14:45] TedCC1209 commented on #272
J, as we discussed it is incorrectly showing edgebanding on the long vertical edge at all times whether your option is selected or not--that edge will be up against a wall so it should not be showing edgebanding:

![FILLER EDGING](https://user-images.githubusercontent.com/61025894/106007487-96a78a80-6073-11eb-9133-9565c6f04194.png)

Then you are also currently working on (with the help of @ClassyT

[2021-01-27 14:51] nailsonlandim commented on #291
Hi @sarahhightower @kategodfrey @TedCC1209

Got File Drawers labels again.

I've made the tests with this synthetic project:

![image](https://user-images.githubusercontent.com/70038700/106007737-607b0280-6095-11eb-9615-f552a25c4251.png)

Please, be creative while testing. Test at will :-)

Available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23291-label-file-drawers

[2021-01-27 14:59] TedCC1209 commented on #291
Thanks @nailsonlandim I will get to testing. From your pic I had a couple questions--First, did you disable the label for the drawer front height? (3H, 10H, etc.).

Then second it looks like file rails are showing up as dashed lines behind drawer fronts--we do not want those to show up. While we are at that, can we have it not show the middle KDs behind drawer fronts/hampers as well? Middle KDs be

[2021-01-27 15:07] TedCC1209 opened #294 "2D Views: Don't show KDs or File Rails as dashed lines behind Drawer Fronts & Hamper faces"
As the title of the Issue states, we do not want KDs or File Rails to show up as dashed lines behind Drawer Fronts or Hamper faces. We do still want middle KDs to show up as dashed lines behind doors (except for KDs at the very top and very bottom of the doors like it currently is excluding).

Thanks, Ted

[2021-01-27 15:08] nailsonlandim commented on #291
These are done at 2D views setup, I haven't generated them in this test.

So I did it.

![image](https://user-images.githubusercontent.com/70038700/106010237-fa43af00-6097-11eb-97f3-6a73bb5466fb.png)

[2021-01-27 15:15] TedCC1209 commented on #291
Okay thanks. Then can you have the first line say FILE instead of Lat/F2B and then have the second line say Lat/F2B Letter/Legal please? You can shorten Letter and Legal to Let. and Leg. respectively if you it's getting tight on space. Thanks, Ted

[2021-01-27 15:47] nailsonlandim commented on #291
Sure, Done!

![image](https://user-images.githubusercontent.com/70038700/106015538-56f59880-609d-11eb-8c64-c6ff44268a38.png)

[2021-01-27 17:47] TedCC1209 opened #295 "2D Views: Labels Creation"
Thanks @nailsonlandim for putting this together:

https://github.com/CCDevNelson/Snap-Updates/wiki/Label-and-Dimension-Generation

Let's have these all be created at Label Parts @ Closet 2D Setup rather than upon Prepare 2D Views. Each item should default to being selected as being a label to be added with the option to unselect them. Let me know if you have any questions.

Thanks,

Ted

[2021-01-27 19:19] kategodfrey commented on #293
I just got this error after selecting left swing. Happened 2 times in a row.

![image](https://user-images.githubusercontent.com/63115502/106042126-de410d00-6099-11eb-8949-f3041afcbfc2.png)

[2021-01-27 19:21] kategodfrey commented on #293
Got this one after selecting "fill opening." I believe Ted opened an issue about the fill opening issue... I can search and see which issue # it is.

![image](https://user-images.githubusercontent.com/63115502/106042235-003a8f80-609a-11eb-8a9b-d4c75dfec3bd.png)

[2021-01-27 20:27] ClassyTeddy commented on #293
The issue actually has to do with the doors looking for a parent object that doesn't exist. It looks like the logic isn't working because you put the door in an island.

[2021-01-27 20:38] RyanMDev commented on #293
I am able to reproduce this on the master branch.

Both of the errors above come from the same line of code in `data_closet_doors.py` (line: 618).

        if(self.assembly.obj_bp.parent.lm_closets.is_closet):
            closet_obj = self.assembly.obj_bp.parent
            closet_assembly = fd_types.Assembly(closet_obj)
        elif(self.assembly.obj_bp.parent.parent.lm_closets.is_closet):

[2021-01-28 00:42] AntonioGloria commented on #257
Hi @TedCC1209, @sarahhightower and @kategodfrey,
I have added the labeling features to the Flat Crown labels.
![fc_01](https://user-images.githubusercontent.com/74732175/106073151-1f9fdf80-60cf-11eb-86c6-8ecc764e30e4.png)
![fc_02](https://user-images.githubusercontent.com/74732175/106073152-20387600-60cf-11eb-996f-b4c4a4c18859.png)
![fc_03](https://user-images.githubusercontent.com/74732175/106073

[2021-01-28 16:36] kategodfrey opened #296 "Error Given when trying to generate 2D view in Custom Room"
I received this email from a user in CO:

"I found another snag...
I have a really large job that was designed in last update (August)
but now when I go to make 2 d's, it does not work.
I may need to go back to the last version until this job is complete- it's far too large to redraw (72K)
Is there a way?"

I then tried to generate a 2D view on a custom room I drew in version 1.2.1 and got this er

[2021-01-28 16:40] sarahhightower commented on #296
I had a similar issue when I tested a custom room, except my room completely disappeared when I attempted to "prepare 2d views".

![SNaP_  C__Users_shightower_Desktop_Client Files_Sold_Weissman-Hunt, Amy_Living Room blend  1_28_2021 9_32_49 AM](https://user-images.githubusercontent.com/72047269/106169537-b78fde80-614c-11eb-83e2-4e2058222524.png)

[2021-01-28 16:54] nailsonlandim commented on #296
Hi @kategodfrey and @sarahhightower ,

Got it here, I can fix it to avoid crashing it again. Confirm if removing existing doors and placing them again prevent it from happening.

[2021-01-28 17:01] nailsonlandim commented on #296
@ClassyTeddy and @RyanMDev , besides checking door prompts, any idea on how to differentiate if a project was done on a previous version?

[2021-01-28 17:03] kategodfrey commented on #296
Can you explain what you mean by this? Like should I take out all the doors and replace them all? Or just one and see if I get an error?

[2021-01-28 17:06] JJanneh commented on #271
@ClassyTeddy I started with so Logic get_part_width: def get_part_width(self,assembly):
        width = math.fabs(assembly.obj_y.location.y)
        oversize_width = assembly.get_prompt("Oversize Width")
        if oversize_width:
            width += oversize_width.value()

        if self.is_is_filler_bp(assembly):
            #Exclude stringer parts and tk skins
            if not assembly.obj_

[2021-01-28 17:10] kategodfrey commented on #296
Never mind that doesn't apply to me because I only have one set of doors... I took them out and put them back in and was able to generate the 2Ds.

[2021-01-28 17:19] TedCC1209 commented on #272
@JJanneh As we talked about on the phone this morning, if the XML is working, the prompts are working, and if the bottom edge is showing edgebanding now when selected in the prompts then this is ready to test (if you can't get the vertical edge to show core material it's okay). Please let us know when latest updates are in your branch to test. Thanks, Ted

[2021-01-28 17:20] kategodfrey commented on #296
So with this information... should I tell the user she needs to take out all the doors and replace them?

[2021-01-28 17:24] JJanneh commented on #221
Ready to Test Custom_Partition_Depth

[2021-01-28 17:32] JJanneh commented on #272
XML is working, the Edge Bottom L/R Filler are working once they are selected , and the bottom edge is showing core material. The option to display the change in core material still not completed. The Prompt to select edge banding Left and Right is currently functioning.
Ready to Test  Option-to-edge-bottom-edge branch

[2021-01-28 17:34] ClassyTeddy commented on #296
I don't know if there is a way, but there still might be. @RyanMDev please let us know if this is something currently in place.

[2021-01-28 17:36] nailsonlandim commented on #296
Yes @kategodfrey, that's the fast fix.

Doors were changed, and the old files miss some data that was included in version 1.2.2. Replacing all doors in a project will add doors that have this information.

To avoid a crash I will write a fix.

If doors keep unchanged on a project after the fix, in some scenarios, the shelf count on Plan View tags can be wrong.

[2021-01-28 17:37] RyanMDev commented on #296
@nailsonlandim, you need to check if the prompt exists before attempting to retrieve the value.

For older library data, the prompts you are looking for may not exist since they were drawn with a previous version.

[code]

First check if the prompt is not `None` and then check the value.

[code]

Or
[code]

[2021-01-28 17:45] TedCC1209 commented on #272
What further information do you need from me or @ClassyTeddy to accomplish this? This is similar to an "exposed end" on a topshelf or the edgebanding for exposed ends on flat crown.

Thanks, Ted

[2021-01-28 17:45] nailsonlandim commented on #296
Thanks @RyanMDev for the prompt answer, that's what I am planning to do. besides checking the prompt existence, there's anything else to help to define the "file version"?

I was thinking of firing an alert because of what I mentioned previously about the shelf count.

[2021-01-28 17:51] JJanneh commented on #272
ready to test Edge Bottom Filler Left and Right

[2021-01-28 17:52] ClassyTeddy commented on #271
Hey @JJanneh, this is sort of on the right track, but you copied too much and things need to be removed.

First off, the third line cancels out the first line. What you copied over was logic looking at different parts, and you just put in filler. So the 2nd and 3rd line can be removed, and the 4th line can be unindented.  You also need to change it from adding 4 inches to adding 2 inches. Like thi

[2021-01-28 17:56] RyanMDev commented on #296
Currently, there is not. Although SNaP 2.0 will include this.

[2021-01-28 18:19] TedCC1209 commented on #291
@nailsonlandim can you please have the second line mimic the following:

"the second line should say Lateral ("Lat.") or Front to Back ("F2B") as well as Letter or Legal (e.g., "Lat. Letter" or "F2B Legal")."

Please do not have LAT capitalized and we do not need a "-" between Lat./F2B and Letter/Legal. Without the "-" we can probably spell out Letter and Legal.

Thanks,

Ted

[2021-01-28 18:24] sarahhightower commented on #221
Looks good! I just notice one small thing that isn't consistent. When you click on "Extend left end pard forward" or "Extend left end pard down" the fields below appear for those left options only. But, when you click on "Extend right end pard forward" or "Extend right end pard down" the fields appear for both the left and right side, even if the left sides don't have checkmarks. Visuals included

[2021-01-28 18:27] TedCC1209 commented on #221
Good catch @sarahhightower . Along with fixing what @sarahhightower pointed out @JJanneh , please have the rows for the fields where you put the extension amounts show up directly under the row of the check box that is selected rather than showing up all the way below the row for "Add Hutch Backing".

Thanks, Ted

[2021-01-28 19:18] JJanneh commented on #221
Ok making adjustments now. Extension amounts show up directly under the row
of the check box that is selected.

On Thu, Jan 28, 2021 at 11:28 AM Theo <notifications@github.com> wrote:

[2021-01-28 19:29] nailsonlandim commented on #291
Done!

![image](https://user-images.githubusercontent.com/70038700/106188471-c3e45d80-6185-11eb-8a8b-7e9d42e691e9.png)

Available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23291-label-file-drawers

[2021-01-28 20:47] nailsonlandim commented on #296
Hi @TedCC1209 @kategodfrey

Fixed. I tested it on example large room project.

Available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23296-2dviews-custom-room-error

[2021-01-28 20:51] JJanneh commented on #221
Changed extension amounts show up directly under the row of the check box that is selected

[2021-01-28 20:53] kategodfrey commented on #296
Thank you @nailsonlandim So I actually can't test this anymore since I resaved my last project with custom walls and doors... @sarahhightower said she would for me.

Any ETA on when we can release a hot fix for this so our users can render their older files?

[2021-01-28 20:55] nailsonlandim commented on #296
Hey @RyanMDev , can you give me a hand?

[2021-01-28 21:00] ClassyTeddy commented on #14
This is ready for testing on the `Adding-TK-Skins` branch.

[2021-01-28 21:04] JJanneh commented on #221
![Screenshot (115)](https://user-images.githubusercontent.com/76751383/106198828-c50b8f80-6171-11eb-8e23-398ee0435800.png)

[2021-01-28 21:26] sarahhightower commented on #296
@nailsonlandim I tested this on a different custom room in your #296 branch. When bringing in new doors I got an error message, but it didn't prevent me using the door prompt. Then I tried generating the 2D views and I got another error message, but again it didn't prevent me from getting my 2d plans. Below are the errors I received.

![SNaP_  C__Users_shightower_Desktop_Client Files_Sold_Esch, Pu

[2021-01-28 21:34] nailsonlandim commented on #296
Understood @sarahhightower , can you send me the file? So I can test here too. In the while, I'll write the fix with the given error messages. Thanks!

[2021-01-28 21:49] RyanMDev commented on #296
@nailsonlandim do you see that these two are both stemming from `data_closet_doors.py`?

It is the same issue as before. The blind corner panel prompt does not exist in the old closet carcasses.

I can fix this.

Can you double-check `fd_2dviews/__init__.py` for any place where `get_prompt` is used and make sure it will not cause an issue if the prompt does not exist?

[2021-01-28 21:54] nailsonlandim commented on #296
Got it, thanks.

[2021-01-28 21:57] sarahhightower commented on #296
Sure. Here you go!

https://drive.google.com/file/d/1V_0adpXTxh1sF3qJ2fRSayxPK9jIo9G0/view?usp=sharing

[2021-01-29 00:11] RyanMDev commented on #296
Fix for door error when placing in older carcasses is available on commit: CCDevNelson/SNaP-Dev@42df5485805c9512852ea0c7e56e860134ae2c1f

[2021-01-29 00:13] RyanMDev commented on #293
I have included the above fix on commit: CCDevNelson/SNaP-Dev@42df5485805c9512852ea0c7e56e860134ae2c1f

[2021-01-29 00:14] kategodfrey commented on #296
Thanks!! Let me know when I can let the user know it will work on her computer.

[2021-01-29 00:17] RyanMDev commented on #296
@nailsonlandim did you have anything to add to this?

[2021-01-29 01:15] nailsonlandim commented on #296
Hi @RyanMDev

I think that's it. Tell me what you think

[2021-01-29 04:10] RyanMDev commented on #296
@kategodfrey the hotfix update (version 1.2.4) is now up. The update should be available the next time she opens SNaP.

[2021-01-29 04:26] kategodfrey commented on #296
Thank you guys for working on this today!!

[2021-01-29 15:57] nailsonlandim commented on #174
Hi @sarahhightower

Besides the problem mentioned below, is there anything else you could find out?

I ask you to work on a solution that works as expected on a project.

Thanks,
Nailson

[2021-01-29 16:31] sarahhightower commented on #174
Hi @nailsonlandim.

Besides the partition outlines not appearing on wall d (without other components on the wall) and missing the partition outline/topshelf when there are other components on wall d, I think that's it.

Let us know if you want @kategodfrey and I do to any other testing.

[2021-01-29 16:36] nailsonlandim commented on #174
Great, thanks @sarahhightower

If you have any project you find interesting and if it can be shared I appreciate it.

[2021-01-29 17:14] sarahhightower commented on #174
Here's an interesting one @nailsonlandim. I used different components than I did last time to test. When I tested shelves on wall C the outline of them didn't appear on wall d. Similarly, when I tested a medium hang component on Wall A that didn't appear either.

https://drive.google.com/file/d/1j_jYNAwoM09VeORq_m2rg8gqyVwMxG8Z/view?usp=sharing

![1](https://user-images.githubusercontent.com/72047

[2021-01-29 22:01] JJanneh commented on #272
@ClassyTeddy This is similar to an "exposed end" on a **topshelf** or the edgebanding for exposed ends on **flat crown**.
Code below shows **Core Material**
def add_filler (assembly):
    # filler = assembly.add_assembly(Edge_Bottom_of_Filler)
    filler = assembly.add_assembly(PART_WITH_ALL_EDGES)
    filler.obj_bp.mv.comment_2 = "1036"
    props = props_closet.get_object_props(filler.obj_bp)

[2021-01-29 22:05] ClassyTeddy commented on #272
This is how both the Top Shelf and the Flat Crown display core material as I understand it. However, you seemed to have copy and pasted a lot of unnecessary information. Below is all that is necessary to display core material.
[code]

[2021-02-01 14:27] TedCC1209 opened #297 "3" Minimum TK Height"
We need to set a 3" minimum toekick height. When it goes smaller than this then the edgebander has a tough time getting edgebanding on the short edge of those toe kick end caps. It also makes installation tough when you go smaller than that (even 3" is tough) to get nails in, etc.

Side note mainly for the designers: COS currently has different restrictions like a 3.31" minimum height for shallow

[2021-02-01 14:28] JJanneh commented on #272
@ClassyTeddy Ok I will remove the additional information and re-test it again.

[2021-02-01 19:59] JJanneh commented on #253
Check box option for Left & Right Capping Filler with a drop down menu to enter value.
![Screenshot (118)](https://user-images.githubusercontent.com/76751383/106511174-1c20a580-648d-11eb-8b7f-cc702b099fb7.png)

[2021-02-01 20:43] SeanRadvan opened #298 "Anti Virus blocking auto snap updates."
I had an issue where every time snap tried to update Norton would block the update from going through. I tried the steps in [#155](https://github.com/CCDevNelson/Snap-Updates/issues/155) however there was no SNaP\2.78\scripts\addons\snap_db\snap_db_updater\source file or folder to delete.  Despite disabling everything in Norton, it still was somehow poping up that it was blocking blender when it t

[2021-02-01 20:45] TedCC1209 commented on #253
@JJanneh , the capping filler should just be a check box, it doesn't need to be an amount. You can have them say "Add Capping Left Filler" and "Add Capping Right Filler" respectively.

[2021-02-01 21:01] JJanneh commented on #253
Changed to Checkbox and renamed to Add Capping Left Filler" and "Add Capping Right Filler
![Add Capping L   R Filler](https://user-images.githubusercontent.com/76751383/106517552-e207d180-6495-11eb-99b4-fa57ae01ca13.PNG)

[2021-02-01 21:08] TedCC1209 commented on #253
@JJanneh like we talked this morning, please remember that the capping option shouldn't show up until an amount other than 0 is entered into the L/R fillers respectively.

When it is selected then a melamine capping filler needs to be placed into the scene. Reiterating some things in the OP but adding a bit more:

It needs to cap the filler and front of the adjacent partition (making it flush with

[2021-02-03 14:48] TedCC1209 commented on #14
Teddy, I think the 1.2.4 update is messing with this branch. If I update then the TK prompts don't show the TK Skin option. If I don't update then the XML is exporting each piece of TK skin instead of exporting lengths like it was doing before (also it isn't doing the correct 1/4" white material, it is still Unknown). The first time I tried exporting an XML it took be to the 1.2.4 release notes to

[2021-02-03 15:03] ClassyTeddy commented on #14
It looks like the update was overwriting the changed files with the files from the update. Pull the commit I just made and try again.

[2021-02-03 15:28] TedCC1209 commented on #14
This is looking good Teddy, thank you. The prompts are looking good, the adjacent deeper TK assembly option looks to be working correctly, it is exporting the correct white/almond 1/4" material. A few things to address as it relates to the skins on islands:

Islands--make sure to inset the 1/4" on the L/R ends when there is a 1/4" TK skin return there (I see you correctly didn't add the skin if it

[2021-02-03 16:32] nailsonlandim commented on #174
Hi @TedCC1209, @sarahhightower, and @kategodfrey,

I've done the fixes, take a look, and tell me what you guys think.

[2D Views - 174 - Sarah Helper Project.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5919975/2D.Views.-.174.-.Sarah.Helper.Project.pdf)
[2D Views - 174 - Walk-in.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5919976/2D.Views.-.174.-.Walk-in.pdf)
[2D Views - 174 -

[2021-02-03 17:30] TedCC1209 commented on #252
So this one looks to be good to go, a little apprehensive as the branch was created before some of the recent hot fixes and updates. @ClassyTeddy if @JJanneh needs to update the branch before merging please advise. Thanks, Ted

[2021-02-03 17:31] TedCC1209 commented on #262
I think this is good to merge, again though I am worried about the branch as it relates to the latest fixes and updates. @ClassyTeddy if @AntonioGloria needs to update this branch before merging please advise. Thanks, Ted

[2021-02-03 17:41] TedCC1209 commented on #257
@sarahhightower @kategodfrey Please see my email to you explaining the why's and how's of bringing the top KD down a hole when flat crown is to the ceiling. Then please test this branch and let us know what you think. @AntonioGloria can you get this branch up to speed with the recent updates please?

Thanks, Ted

[2021-02-03 17:43] TedCC1209 commented on #221
@JJanneh is this branch good to test with the latest updates? I need to focus on testing the drilling/machining aspect of this to make sure the front line of holes isn't moving with the front of the partition when it gets extended. Thanks, Ted

[2021-02-03 17:46] JJanneh commented on #252
Thanks @TedCC1209 I can update the branch now it looks to need update 1.2.4

[2021-02-03 17:59] ClassyTeddy commented on #262
Updating the branch through SNaP will remove all of the changes made. Merging now should be fine.

[2021-02-03 18:03] ClassyTeddy commented on #252
Do not update the branch through SNaP. Doing so will remove any changes made on the branch.

You can either update the branch by merging in the current master, or if it is good to go we can just merge this branch into the master.

[2021-02-03 18:07] JJanneh commented on #221
This branch has the current SNaP updates 1.2.4

[2021-02-04 15:45] JJanneh commented on #271
Hello @ClassyTeddy searched for the get_part_width function. fillers export section and CV the Logic into the file. Ran the changes the xml data will no longer exports from  snap_export.py file. Not sure what I'm missing on this section if you have any further instructions it would be greatly appreciated thanks.

[2021-02-04 16:17] ClassyTeddy commented on #271
If it isn't exporting then that means you are getting an error. Try exporting it again, andet me know what error appears in the console.

[2021-02-04 16:45] JJanneh commented on #271
I tried self.get_part_width(assembly)), but the file exports with no error codes
![VS](https://user-images.githubusercontent.com/76751383/106925839-b2dba500-66cd-11eb-8cc5-ad228db8a456.PNG)
 This seems to be in the wrong place.
![Screenshot (121)](https://user-images.githubusercontent.com/76751383/106925337-3c3ea780-66cd-11eb-8d08-f6b378e9e5a0.png)

[2021-02-04 18:01] ClassyTeddy commented on #271
Oh you were saying it wasn't exporting. That is in the wrong place. That is in the middle of a set of code trying to determine full length flat crown. That is not in the `get_part_width` function. Remember a function definition always starts with `def`. So look for `def get_part_width` to find where it goes in the function.

[2021-02-04 18:31] AntonioGloria commented on #257
Hi @TedCC1209, @sarahhightower, and @kategodfrey,
I have updated this branch with the other updates. It's ready to test.

[2021-02-04 18:35] AntonioGloria commented on #232
Hi @TedCC1209,

The BCP labels are ready.
![bcp_label_01](https://user-images.githubusercontent.com/74732175/106938914-2dfc8580-66e5-11eb-86a4-e95aab2e551f.png)
![bcp_label_02](https://user-images.githubusercontent.com/74732175/106938916-2e951c00-66e5-11eb-94ad-39d01f18befc.png)
![bcp_label_03](https://user-images.githubusercontent.com/74732175/106938917-2e951c00-66e5-11eb-8c0e-feb3a93a655e.png)
A

[2021-02-04 18:48] JJanneh commented on #271
@ClassyTeddy
![loglog](https://user-images.githubusercontent.com/76751383/106940447-c9d6c300-66de-11eb-8751-1e7fa11a6f18.PNG)
Located def **get_part_width** and Ran SNaP exported XML after. no errors. thanks
![Screenshot (129)](https://user-images.githubusercontent.com/76751383/106939848-0bb33980-66de-11eb-8463-2f742d9df285.png)

[2021-02-04 19:03] ClassyTeddy commented on #271
That is still not quite right. If you look at line 717, it is an if statement that is looking for capping bottoms. Well the filler isn't a capping bottom, so your code will never run in it's current spot. You need to unident your lines twice.

[2021-02-04 19:16] JJanneh commented on #271
@ClassyTeddy ![Screenshot (130)](https://user-images.githubusercontent.com/76751383/106943447-b0377a80-66e2-11eb-8c76-4847cfe41ba7.png)

[2021-02-04 19:16] TedCC1209 commented on #232
Thanks @AntonioGloria , this looks like what we have been discussing. A little hard to read when it overlaps handles or shelves:

![BCP Labels](https://user-images.githubusercontent.com/61025894/106943532-c80efe80-66e2-11eb-8acb-ab9f2489e15b.png)

Perhaps the opening dimension needs to go below that bottom KD and the BCP dimension label vertically should be just above center.

[2021-02-04 19:22] TedCC1209 opened #299 "Doors in opening with BCP: Default swing for single doors"
The default swing for single doors in openings that contain a blind corner panel should be the following:

Left BCP opening - left swing
Right BCP opening - right swing

[2021-02-04 19:46] ClassyTeddy commented on #271
Also, I just noticed that on line 725 `self` needs to be `assembly.obj_bp.lm_closets.` because you aren't checking if `self` is a filler (self in this case is most likely referring to `snap_export.py` but I am not positive), but you are checking to see if the assembly inputted into `get_part_width` is a filler.

Also, line 727 and 728 need to be indented, otherwise, it is checking to see if ANY as

[2021-02-04 19:51] JJanneh commented on #271
That makes sense. I was getting a bunch of errors. I realize that I need to change the export logic for fillers.  Looked for def **get_part_width** to find where the function is defined, then find a place to put it in the function. Will make the changes and try again.

[2021-02-04 21:24] JJanneh commented on #271
@ClassyTeddy
Made the changes and this is the Output Export created. I just used the example assembly.obj_bp.lm_closets.is_bottom_capping_bp:
![error3](https://user-images.githubusercontent.com/76751383/106953544-bf70f500-66ef-11eb-84a2-0806c6ddbb36.PNG)
![Screenshot (131)](https://user-images.githubusercontent.com/76751383/106954216-b7658500-66f0-11eb-8e67-9d0815d8de9c.png)
if assembly.obj_bp.lm_

[2021-02-04 21:36] TedCC1209 opened #300 "Dimensions of uppers when there are no lowers"
I have been seeing the opening width dimensions for uppers show up at the top of an elevation and not the bottom of the elevation even when there is nothing below the upper. @nailsonlandim I don't know what logic you have in place to determine whether an opening width should be placed above the assembly rather than the standard of being below the elevation of the wall. See the following:

[2D View

[2021-02-04 21:42] TedCC1209 opened #301 "Plan View stating incorrect door count"
I am trying to figure out why my door count for a couple sections is stating that there are 2 doors when there is really only one:

https://drive.google.com/drive/folders/1b-wcDv__gCAj3Ocn1kGeC5K_Zylt8vcu?usp=sharing

[2D Views.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5928689/2D.Views.pdf)

Unsure if it is related to wood doors or what, but the folder link above contains all the proj

[2021-02-04 21:43] TedCC1209 commented on #300
Here is the project folder for the above example:

https://drive.google.com/drive/folders/1b-wcDv__gCAj3Ocn1kGeC5K_Zylt8vcu?usp=sharing

[2021-02-04 22:03] JJanneh commented on #288
@TedCC1209 Where are Top Shelf size dimensions located? File location. I have to adjust the placement so it  automatically covers left and right fillers rather than just only cover the top of the partition adjacent to the filler.

[2021-02-04 22:11] ClassyTeddy commented on #271
So that error says that on line 698, you have this:
[code]

So this is causing an error because `.is_filler_bp` is **NOT** a function. It is a true or false statement, or a boolean or bool. That is why it says 'bool' object is not callable. Because you are trying to call it as if it were a function. I am unsure what you code you have on one 698, but that line is what is causing the error.

Also, y

[2021-02-04 22:14] nailsonlandim commented on #300
Hi @TedCC1209

I can add an exception for this situation where there's an upper w/o a lower. The logic I used at the time was if the Hanging Opening is above the middle of the height of the wall, it's an upper, so the dimensions go above. (and if it's bellow, the middle, it's a lower

![image](https://user-images.githubusercontent.com/70038700/106961901-06291400-671d-11eb-9bb1-594136900657.png)

A

[2021-02-04 22:17] ClassyTeddy commented on #288
The Top Shelves drivers are located in the data_closet_top.py file I believe.

[2021-02-04 22:44] AntonioGloria commented on #232
I have made these adjustments, they are now available in the same branch.
![bcp_label_04](https://user-images.githubusercontent.com/74732175/106964737-30bca200-6708-11eb-94a1-7f4af9711c99.png)
![bcp_label_05](https://user-images.githubusercontent.com/74732175/106964739-31553880-6708-11eb-93e9-51fdc763d628.png)

[2021-02-05 00:55] nailsonlandim commented on #300
Hi @TedCC1209

I've fixed that, now if there are just uppers they will be labeled as you requested. And everyone else stills the same.

**Uppers sitiuation**
![uppers_only](https://user-images.githubusercontent.com/70038700/106974272-354a8000-6733-11eb-85d0-2e36059cc8d0.png)

**Regular**
![regular](https://user-images.githubusercontent.com/70038700/106974269-3380bc80-6733-11eb-8e4e-057ed7d4eabc.pn

[2021-02-05 15:30] JJanneh commented on #271
@ClassyTeddy
**if assembly.obj_bp.lm_closets.is_filler_bp(assembly):** Indent changes made and no error produced on output
![No_Errors_Displayed](https://user-images.githubusercontent.com/76751383/107053304-e4b34100-678b-11eb-82bc-bf873ec81ebe.PNG)

[2021-02-05 16:02] TedCC1209 commented on #300
Your examples look great, we will get to testing. Thanks!

[2021-02-05 16:43] sarahhightower commented on #257
Looks great to me! If you'd like me to be knit-picky I'd say that I prefer that the wall length and flat crown notation not be stacked so closely together as it looks more crowded than it needs to be. But that's just a personal preference.

![Screenshot 2021-02-05 093651](https://user-images.githubusercontent.com/72047269/107061703-b9355400-6795-11eb-9a6e-46dec597e02e.png)

[2021-02-05 16:45] JJanneh commented on #288
Ok found top_shelf @ClassyTeddy
A few questions where is the starting point for  "extend left" or "extend right"? Should placement of  the changes for the filler adjustments (0.75 to 2")  Here **def invoke**(self,context,event): this part is before the object is displayed or **if event.type ==** This part is where the action occurs after selection of the Top Shelf.  Should this be and **if else el

[2021-02-05 16:48] TedCC1209 commented on #257
@sarahhightower what would you think if the entire label was placed where the "Top KD Down 2 Holes" is currently located?

Alternatively, what if there was no hashmark and the "Flat Crown 5.77"" was just centered on the flat crown itself?

[2021-02-05 17:02] sarahhightower commented on #257
I just went and asked Chris Johnson if he had a preference and he had a strong opinion on this. He said he'd like to see this notation on the left side so his eyes aren't bouncing back and forth to find information.

Thanks for asking!

[2021-02-05 17:24] ClassyTeddy commented on #288
So I am really having trouble reading what you are trying to say.

I believe that in the second half of your question you are looking at the drop operator of the Top Shelf. I know that your current goal is for the top shelf to adjust to left and right fillers accordingly. If that is the case, to have the Top Shelf automatically adjust on placement, you need to add logic some point after line 310,

[2021-02-05 17:27] sarahhightower commented on #300
Tested this example twice to make sure there were no errors on my part in pulling from GitHub and loading startup file.

https://drive.google.com/file/d/1lgy-NHtxBBh7IHgLYf59KhFYpXmzqBzb/view?usp=sharing

![Screenshot ](https://user-images.githubusercontent.com/72047269/107067253-424f8980-679c-11eb-9819-8ad3c0cd5925.png)

[2021-02-05 17:36] TedCC1209 commented on #257
Sounds good to me. @AntonioGloria sorry to keep changing this on you as we figure out the best solution, but can you have the entire label be placed where you currently have "Top KD Down 2 Holes"? 3 lines of info if top KD is down a hole or two, one line of info if the top KD is not down a hole.

Thanks,

Ted

[2021-02-05 17:43] #296 closed

[2021-02-05 17:45] #293 closed

[2021-02-05 17:45] nailsonlandim commented on #300
Thanks @sarahhightower for the feedback.

You've discovered a new bug. I tested on issue_#300-uppers-dimensions-with-no-lowers branch and master branch, and they get the same position (it should be under, not above).

Thanks!

[2021-02-05 17:49] JJanneh commented on #288
@ClassyTeddy What i was saying at the if not self.selected_panel_2: line 310 when the user selects any filler size. the top shelf can automatically cover the difference leaving the top surface completely covered.  Currently "extend left" or "extend right" has to be done manually. Image showing only right side extended need top shelf to cover both ends.
![Screenshot (135)](https://user-images.githu

[2021-02-05 17:56] ClassyTeddy commented on #14
Both issues are done and ready for testing on the `Adding-TK-Skins` branch.

[2021-02-05 18:00] ClassyTeddy commented on #288
So I think I get what you were saying now, but I do notice that you use the following prompts:
[code]
You should actually use `Extend Left Amount` and `Extend Right Amount`

[2021-02-05 18:07] AntonioGloria commented on #257
Hi @TedCC1209 and @sarahhightower,
Yes, I can make these adjustments. Just one question - how likely is it for a hanging opening to have more than 1 flat crown segment? Or for there to be more than 1 hanging opening with flat crowns on them on the same wall?

[2021-02-05 18:09] JJanneh commented on #288
@ClassyTeddy Ok so if selected the Extend Left Amount and Extend Right Amount can be linked to the Top Shelf so it will adjust to the difference. Using the Extend Left Amount and Extend Right Amount difference automatically. So logic to check for the difference and extend the top shelf to cover the top surface completely. ok Thanks

[2021-02-05 18:17] TedCC1209 commented on #14
This looks good to me. If there was a way to have it automatically detect the deeper adjacent TK assembly that would be great, but that can be an enhancement in the future. Also I think the option to skin the back side of TKs was accidentally skipped over, but that doesn't happen much so we can also have that be something to add in the future. So, unless @sarahhightower @kategodfrey or someone els

[2021-02-05 18:23] TedCC1209 commented on #257
Thanks @AntonioGloria -- It is going to happen that we have more than one segment on the same wall--we need to limit the width of flat crown to 96" (which we haven't done yet) which definitely means there will be multiple segments, so I would be sure to have it check to see if the various segments are the same height and build as each other so that it doesn't duplicate the label for every segment.

[2021-02-05 18:24] sarahhightower commented on #174
Thanks @nailsonlandim!

I still see a few things missing from your examples. For example, "2D views - 174 - Sarah Helper Project" -- Wall A does not show the double hang that appears on Wall D. In "2D Views - 174 - Cross Sections" -- Wall D does not show the double hang that appears on Wall A.  This is similar to the test I ran as well. Wall D does not show the long hang that appears on Wall A.

L

[2021-02-05 18:38] #103 closed

[2021-02-05 18:38] #90 closed

[2021-02-05 18:41] #50 closed

[2021-02-05 18:42] #57 closed

[2021-02-05 18:42] #68 closed

[2021-02-05 18:43] #84 closed

[2021-02-05 18:43] #89 closed

[2021-02-05 18:44] #146 closed

[2021-02-05 18:56] nailsonlandim commented on #300
Hi @TedCC1209 and @sarahhightower,

I've solved the mentioned problem. All other designs render as expected.

![image](https://user-images.githubusercontent.com/70038700/107076761-a6894200-67ca-11eb-8934-5ebda5816524.png)

Tell me if you find anything else that bothers you ;-)

[2021-02-05 20:38] AntonioGloria commented on #257
So @TedCC1209, for example, with flat crown segments of different heights, should it look like this?
![MockUp_FCLabel_Changes](https://user-images.githubusercontent.com/74732175/107086504-b94a4980-67bf-11eb-9d96-3b521e25b62b.png)

[2021-02-05 20:47] TedCC1209 commented on #257
The two 3" tall flat crown labels should be combined because they are the same height and in the same horizontal plane. The 13" flat crown label should be higher on the wall (probably even with the centerline of the crown) and because it is to the ceiling likely would also have the top KD one or two holes down. Let me know if that makes sense.

Thanks, Ted

[2021-02-08 15:56] ClassyTeddy opened #302 "SNaP 2.0 Beta Testing"
Here is some information on the 2.0 Beta such as how to install, what needs testing, what we know isn't ready, and where to post found bugs and issues.

Testing environment setup instructions can be found here: [SNaP-2.0 README](https://github.com/Classy-Closets/SNaP-2.0)

Important Note:
When testing SNaP 2.0 make sure to start with an empty project directory and create new projects and rooms. Bl

[2021-02-08 16:11] SeanRadvan commented on #302
Made sure im logged into my classy github account, but im 404ing when i
click the read me.

On Mon, Feb 8, 2021 at 8:56 AM ClassyTeddy <notifications@github.com> wrote:

[2021-02-08 16:13] ClassyTeddy commented on #302
That means you currently don't have access to the repository. I am making sure that @RyanMDev gives everyone access. I will let you know when that happens.

[2021-02-08 16:59] JJanneh commented on #288
@ClassyTeddy When I tried this I got the Top Shelf to hover over the top but as soon as I clicked got error message. I used the get_var. I'm not sure maybe it's .get_prompt
![error message 7](https://user-images.githubusercontent.com/76751383/107253038-25f95a00-69f3-11eb-9731-f631ce959ee4.PNG)
![Screenshot (144)](https://user-images.githubusercontent.com/76751383/107252608-c26f2c80-69f2-11eb-8243-

[2021-02-08 17:02] ClassyTeddy commented on #288
`self` in this case is referring to the `DROP_OPERATOR_Place_Top`. You need to do `self.top_shelf.get_var()`

[2021-02-08 17:18] TedCC1209 commented on #302
@ClassyTeddy I had some questions about the directions (this will make sense to everyone one else once they have access):

1. Download SNaP-Blender-2.90.1.zip from Release - Version 2.0 Beta.
2. Extract to desired location
3. Create new folder named scripts.
4. Inside scripts folder, create new folder named addons.
5. Clone or move SNaP-2.0 repository into the addons folder.
6. Set 'Scripts' path

[2021-02-08 17:20] JJanneh commented on #288
@ClassyTeddy
![Screenshot (147)](https://user-images.githubusercontent.com/76751383/107256856-44615480-69f7-11eb-9fe6-77fef0d0e296.png)
As soon as I changed it. looks like this
![Screenshot (145)](https://user-images.githubusercontent.com/76751383/107256477-cac96680-69f6-11eb-81ce-61842d589f89.png)
![after added top_shelf](https://user-images.githubusercontent.com/76751383/107256292-8ccc4280-69f6-

[2021-02-08 17:29] TedCC1209 commented on #302
Verifying the following is correct:

![SNaP 2 0](https://user-images.githubusercontent.com/61025894/107257801-4e378780-69f8-11eb-8919-f8611aa235d1.png)

![image](https://user-images.githubusercontent.com/61025894/107257864-5d1e3a00-69f8-11eb-94a0-3914bc8ca657.png)

![image](https://user-images.githubusercontent.com/61025894/107257924-6c9d8300-69f8-11eb-951e-74fcf2780eb7.png)

[2021-02-08 17:30] ClassyTeddy commented on #302
You can put the folder named `scripts` anywhere you want. You just need to be able to find it again later in step 6.

So, to set the path for where Blender needs to find the `scripts` folder by opening Blender, clicking on the `Edit` Button found in the top left of the program, opening the `Preferences`, opening the `File Path` tab, then click on the little folder icon next to the `Scripts` box, a

[2021-02-08 17:33] ClassyTeddy commented on #288
So the error says that at line 365, the variable `extend_left_amount` is not defined.

[2021-02-08 17:37] ClassyTeddy commented on #302
This is actually not correct, I just tried it myself. You need to just put the `snap` folder found inside the SNaP-2.0 repository. It should be one of the first folders that you find when you open the `SNaP-2.0` folder.

[2021-02-08 17:44] TedCC1209 commented on #302
This is how it looks after I cloned from GitHub--are you saying I need to cut the highlighted snap folder and move it to the addons folder? Will this mess with syncing with GitHub?

![SNaP 2 0](https://user-images.githubusercontent.com/61025894/107259660-8049e900-69fa-11eb-972e-09e597d1e589.png)

[2021-02-08 17:50] ClassyTeddy commented on #302
Yes you need to do that. As I understand it, it won't be synced with GitHub if you use the testing environment instructions. It will be as if you are an end user who just downloaded the entire program. @RyanMDev, correct me if I am wrong on this.

[2021-02-08 17:51] TedCC1209 commented on #302
Looks like moving the snap folder to the addons folder rather than being in the SNaP-2.0 folder worked, thanks!

[2021-02-08 18:05] TylerStandage commented on #302
Just to be clear Ted, you just moved the 'snap' folder up into the addons
folder like I've done below, correct?

[image: image.png]

On Mon, Feb 8, 2021 at 9:51 AM Theo <notifications@github.com> wrote:

[2021-02-08 18:08] TedCC1209 commented on #302
Yes:

![SNaP 2 0](https://user-images.githubusercontent.com/61025894/107262463-d2d8d480-69fd-11eb-81a5-27dd82254e6f.png)

[2021-02-08 19:27] TylerStandage commented on #302
After updating the SNaP defaults, I can no longer see the project manager/room builder/etc. menus.  They were there the first time I opened SNaP, but after the defaults loaded they went away.

![Capture1](https://user-images.githubusercontent.com/77167318/107271124-a4102d80-6a00-11eb-9f66-07b8c48c18dc.PNG)

[2021-02-08 19:32] ClassyTeddy commented on #302
This just occired to me. Go back into preferences and select the scripts file path again like you did in step 6

[2021-02-08 19:35] TylerStandage commented on #302
That worked, thanks!

On Mon, Feb 8, 2021 at 11:32 AM ClassyTeddy <notifications@github.com>
wrote:

[2021-02-08 20:32] JJanneh commented on #287
@ClassyTeddy Looking at the **data_drawers.py**
![Screenshot (148)](https://user-images.githubusercontent.com/76751383/107277711-09204f00-6a12-11eb-9137-030177a2d322.png)

[2021-02-08 20:41] ClassyTeddy commented on #287
Hey J, this is going to be slightly similar to issue#288. You need to check upon placement (meaning inside of the `DROP_OPERATOR` class) of a drawer if the drawer's parent object is an island, or if there is a countertop part that is attached to the parent object. If either of those cases are true, then change the value of the `Cleat Location` to `"Below"`

[2021-02-08 21:30] RyanMDev commented on #302
It will, after moving the snap folder cloned from GitHub you can then go back into GitHub desktop and relocate the repository. In order for this to work, you will also need to copy over the .git folder with it as well, this is what tells GitHub Desktop that this is a git repository. With this set up correctly, the GitHub repo functionality stays intact, allowing access to the most recent changes.

[2021-02-08 22:20] JJanneh commented on #288
@ClassyTeddy Ok so Removed extend_left_amount and extend_right_amount no errors ran again no errors. but still does not extend all the way with fillers selected. The action only goes from Left most partition and then it goes to the Right. Still have to manually increase the width. By right clicking and manually adjusting the size.

[2021-02-08 22:41] ClassyTeddy commented on #288
You didn't need to remove them @JJanneh. You need to change their values to the length of the filler IF there is a filler with AND if the top shelf is on the far left or far right partition accordingly.

[2021-02-09 16:56] sarahhightower commented on #302
Hi. I've cloned the snap folder to the noted location and made sure it's linked to the scripts folder in SNaP. As I look at this though, I'm not seeing any "Classy Closets" functions so I think I missed a step somewhere?  Could it be that I can't find the ".git" folder in Github as noted by Ryan in his last message?

![1](https://user-images.githubusercontent.com/72047269/107398565-fa42a680-6abc-1

[2021-02-09 17:10] ClassyTeddy commented on #302
No, that is not the problem @sarahhightower. Your script path isn't correct. The path for the script folder needs to be `C:\Users\shightower\De...0.1\scripts` not `C:\Users\shightower\De...0.1\scripts\add ons\snap\`.

Also, the addons folder needs to be one word I believe.

[2021-02-09 17:31] sarahhightower commented on #302
That worked! Final questions (I hope!).

My SNaP doesn't have the same color scheme as Tyler's. Is that something I should be concerned about or is that something I can just change? Also, @RyanMDev can you give me a bit more detail on copying over the .git file? I'm not sure how you got to the first prompt you show in your message. Thank you.

![1](https://user-images.githubusercontent.com/7204726

[2021-02-09 17:42] sarahhightower commented on #302
Nevermind, @RyanMDev. I think I figured it out. You just made a folder named .git and then copied the Github SNaP 2.0 file in it, correct?

[2021-02-09 17:43] ClassyTeddy commented on #302
@sarahhightower In order to get the right color scheme, you need to Load SNaP Defaults, and when you do that, you will have to set the script path again.

[2021-02-09 18:36] RyanMDev commented on #302
The `.git` folder is created by the GitHub app when you clone or create a repository. It only affects the GitHub app and not anything in SNaP.

You only need to move this file if you see this message in the GitHub app:

This would happen if you cloned the repository first and then manually moved it in the file explorer to the new `scripts/addons` folder. If  you do not move the `.git` folder along

[2021-02-09 19:25] AntonioGloria commented on #257
Hi @TedCC1209 and @sarahhightower,

The changes to the Flat Crown labels are ready.

![fc_01](https://user-images.githubusercontent.com/74732175/107416091-b742fc00-6ad9-11eb-83e6-7458359d3762.png)
![fc_02](https://user-images.githubusercontent.com/74732175/107416094-b7db9280-6ad9-11eb-988f-abf038cd0a05.png)
![fc_03](https://user-images.githubusercontent.com/74732175/107416096-b8742900-6ad9-11eb-88

[2021-02-10 16:28] AntonioGloria commented on #294
Hi @TedCC1209 and @TylerStandage,

This fix is ready.
![Wall B](https://user-images.githubusercontent.com/74732175/107538990-26782900-6b8a-11eb-9073-b8ecba83b77b.png)
Available here: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23294-exclude-drawer-hamper-kds-file-rails-from-hidden-line

[2021-02-10 17:10] TedCC1209 opened #303 "Double Letter File Drawer Option"
Need to add a F2B double letter file rail option for 10H+ drawers in 28"+ width openings. There will be a total of 4 file rails, two per letter file openings (they don't share the middle file rail, it will be doubled up).

There should not be an option for a _lateral_ double letter file rails, and there also should not be an option for a F2B or lateral double _legal_ file drawer. Note that these r

[2021-02-10 18:01] TedCC1209 opened #304 "Drawer box depths for lateral file rails"
For melamine drawer boxes, the drawer box depth for drawer boxes that have lateral file rails should be as follows:

Lateral Letter - 14" deep box
Lateral Legal  - 17" deep box

This should _not_ change the Drawer Rear Gap for other drawer boxes in the assembly, only the drawer box containing the lateral file rails.

[2021-02-10 18:18] TedCC1209 commented on #304
This also means that a minimum depth needs to be put into place for these:

Lateral Letter - minimum section depth 16"
Lateral Legal - minimum section depth 19"

[2021-02-10 18:20] TedCC1209 opened #305 "File Rails placed in non-standard size openings"
We have standard opening widths for file drawers but sometimes a designer/user may decide to still put file rails in a non-standard sized drawer box for other reasons so we don't necessarily want to restrict the user completely from going outside the standard.

Here are the standard opening widths for F2B file drawers (lateral file rails can be put in any opening width, they just have a minimum se

[2021-02-10 19:45] AntonioGloria commented on #301
Hi @TedCC1209 and @TylerStandage,

This bug has been fixed.
![Plan View](https://user-images.githubusercontent.com/74732175/107562540-91832900-6ba5-11eb-872c-4c8526d6ef3d.png)
Available here: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23301-plan-view-fix-door-count

[2021-02-10 19:46] JJanneh commented on #288
The topshelf covers the filler. Tested this on several Partitions ![Screenshot (206)](https://user-images.githubusercontent.com/76751383/107562963-b1aeea00-6b9d-11eb-8be3-32666d3b2ab5.png)

[2021-02-10 22:41] kategodfrey commented on #288
This looks good and will be awesome for designers so they don't have to go through multiple steps.

Two (small) things:

1) If I set up my partitions and put a topshelf in then go back to my partition prompts and add a filler, the topshelf stays put- like it didn't get the message that filler was added. I can delete the topshelf and drag a new one in and it works just fine so this is a minor thing

[2021-02-11 01:50] TylerStandage commented on #288
@TedCC1209  please confirm that we want to automatically update the extension of the topshelf to include the length of the filler not just at time of placement, but for every/any update made after placement. Let me and J know if you have any questions.

[2021-02-11 16:31] TedCC1209 commented on #288
Yes, preferably it would adjust when changes are made after the initial insertion of the topshelf.

[2021-02-11 18:53] TylerStandage commented on #221
The functionality is there per the UI, but the lines for left/right pard forward are still showing up under the filler check boxes.

@TedCC1209 if you can help point me to where the drilling shows up in the xml, I'll take a look... having a tough time finding it.

![Capture221](https://user-images.githubusercontent.com/77167318/107684000-18440e80-6c57-11eb-9dc1-9d6297d50799.PNG)

[2021-02-11 18:53] JJanneh commented on #271
Exported several times no more error messages. XML-Export-Fillers ready to test
![Screenshot (267)](https://user-images.githubusercontent.com/76751383/107682683-dff3fe80-6c5d-11eb-90fa-a29b69d3ba49.png)

[2021-02-11 18:59] JJanneh commented on #221
Try Custom_Partition_Depth branch ![Screenshot (269)](https://user-images.githubusercontent.com/76751383/107684724-57c32880-6c60-11eb-9638-982c8865e262.png)

[2021-02-11 19:20] TedCC1209 commented on #221
It is really hard to really tell how drilling is just by looking at the XML in an XML viewer, it lists the coordinates of every single hole under Manufacturing > Operation Groups.

Here are directions for getting to Drilling Debug Mode:

1. Enable the debug mode in your User Preferences. To do this, Press `CTRL+ALT+U` to open your user preferences. Then, navigate to the `Add-Ons` tab. Scroll down

[2021-02-11 20:22] TedCC1209 commented on #58
I do not believe a third line of holes is being drilled--I cannot see it in Closet Machining Setup or in the XML.  The is the same job I emailed to @CCDevNelson and others earlier this week to test this issue, two 16" deep partitions with a rod set back 4":

![no 3 lines0](https://user-images.githubusercontent.com/61025894/107692675-5dbe0700-6c6a-11eb-8aac-b77c46f41ab5.png)
![no 3 lines](https://u

[2021-02-11 21:34] TylerStandage commented on #257
This looks good to me, thanks @AntonioGloria. I believe ready for merge.

[2021-02-11 22:01] TylerStandage commented on #257
@ClassyTeddy I'm moving to ready to merge

[2021-02-12 01:00] TylerStandage commented on #294
File drawers worked great. For the hampers and other areas, it looks link there may be a difference when you select KD from the construction options tab versus letting the new hamper or drawers auto-add the KDs. Also, why is there a dotted line on the sides of the section with full length doors?  is that because the doors are partially open?

![Capture292b](https://user-images.githubusercontent.co

[2021-02-12 01:03] TylerStandage commented on #294
@AntonioGloria

For clarity, I opened the hamper in the middle a bit and have opened the full length doors.  I also selected all top KDs and all but the left most bottom KD from the construction opens prompt. Not sure why there is a dotted line for the KD at the top of the top drawer.

[2021-02-12 13:59] JJanneh commented on #221
Updated and Ready to test.
![Screenshot (276)](https://user-images.githubusercontent.com/76751383/107777242-cd320600-6cff-11eb-88e4-fb6c8fe54688.png)

[2021-02-12 15:04] TedCC1209 commented on #221
﻿Thanks J, can you switch the order of the left and right extension amount rows so that left is first? Generally, things should go left to right. Thanks, Ted

[2021-02-12 15:29] JJanneh commented on #221
Yes. Thanks Ted Here is the change Left to Right Checkbox Selection ![Left to Right](https://user-images.githubusercontent.com/76751383/107787253-14be8f00-6d0c-11eb-89c2-b161d60678de.PNG)

[2021-02-12 16:01] sarahhightower commented on #221
Looking good. A few things I noticed.

1) The "Left Filler Setback Amount" and "Right Filler Setback Amount" appear before selecting "Add Left Filler" or "Add Right Filler". This prompt would not be used unless there is filler so it might work best if it doesn't appear until the filler option is selected.

2) There's a bit of inconsistency with the boxes that appear after putting checkmarks in the

[2021-02-12 18:56] TylerStandage commented on #221
@JJanneh @sarahhightower I agree that we should be consistent in the half length fields for fillers and pard changes, and that we should be consistent in when those fields appear.  Not having them appear until the box is checked makes sense to me.

So J, let's update all of those to be consistent. I think you said you were going to ask @ClassyTeddy how to have the fields go half way vs the full le

[2021-02-12 20:43] AntonioGloria commented on #294
Hi @TylerStandage,
I've been looking into the issues you pointed out. There are a couple of things going on.
![dashed_lines_sc](https://user-images.githubusercontent.com/74732175/107819059-29b41600-6d3e-11eb-8f54-6b743b5d19d3.png)
The dashed lines in red are the KDs added by the inserts rather than the Hanging Opening, and these weren't being detected as Bottom or Top KDs.
The dashed lines in blue

[2021-02-12 20:47] TedCC1209 commented on #294
Others could disagree, but I don't see a need to do 2D views with the doors open because we are showing shelves and assemblies behind the doors with the dashed lines. The open door/face feature would be used for 3D renderings where you can't otherwise see what is behind doors/faces like we can in 2D views.

[2021-02-12 20:47] TylerStandage commented on #294
I'm fine with that, I think we are good to go. thanks @AntonioGloria !

[2021-02-12 20:49] TylerStandage commented on #294
@ClassyTeddy moving to ready for merge

[2021-02-12 21:02] JJanneh commented on #221
Checkbox prompts Left to Right
![Checkbox Size Reduced 2](https://user-images.githubusercontent.com/76751383/107822038-b230b780-6d3a-11eb-918d-6d752e27e357.PNG)![Checkbox Size Reduced](https://user-images.githubusercontent.com/76751383/107821952-8e6d7180-6d3a-11eb-98d4-313335d8a80f.PNG)

[2021-02-12 21:09] TylerStandage commented on #294
@AntonioGloria , I see your commit.  I've tested, and it looks good.  Will now move to ready to merge :)

[2021-02-12 21:25] AntonioGloria commented on #294
Good to hear, thanks @TylerStandage

[2021-02-12 21:34] sarahhightower commented on #221
Awesome. Thanks for figuring that out @JJanneh!

Just something I noticed from your screenshot..."Add Capping Right Filler" appears both on the left and right side.

[2021-02-12 21:49] JJanneh commented on #221
Thanks @sarahhightower Changes made.
![Capping_Filler LR](https://user-images.githubusercontent.com/76751383/107825919-31c18500-6d41-11eb-89b4-6555b85690f3.PNG)

[2021-02-12 22:04] TylerStandage commented on #221
Good eye, @sarahhightower and thanks @JJanneh. Looks like that part of this issue is resolved. Here is a summary of what I believe still needs to be done on this one:

1. for the extend forward and down options, have the fields take up only half the prompt window (may need to consult with Teddy on how to do this)
2. Fix the requirement for "extend right pard forward" box to be checked for the "ext

[2021-02-12 22:20] TylerStandage commented on #301
@TedCC1209 I get the same result as Antonio.  Good to move to ready to merge?

[2021-02-12 22:43] TylerStandage opened #306 "Cedar 250 should not show up as option in closet material settings"
When choosing Veneer type material in closet materials, Cedar Aromatic VEN250 G1 should not be an option. Alder is the only option. (note: the cedar is a 1/4'' material only used for backings)

![image](https://user-images.githubusercontent.com/77167318/107830340-74cf2880-6d40-11eb-8836-d190e7ab01f5.png)

[2021-02-12 23:14] TedCC1209 opened #307 "Extending partitions makes Closet Machining Setup not function"
In the Master branch, if I use the "Extend Left Side" or "Extend Right Side" option on a set of openings, then no parts show up in the Closet Machining Setup (using the directions given to us previously) even though an XML is still able to be exported with machining & drilling instructions in the XML.

[2021-02-12 23:32] TedCC1209 commented on #221
XML files are being created if I am not in Debug Mode. If I am in Debug Mode then I get the following error:

It is only in this branch that I have seen that I can't get an XML to export while in debug mode (I can export in debug mode on other branches), it is different than the issue in https://github.com/CCDevNelson/Snap-Updates/issues/307. I would think we would want to address this within this

[2021-02-15 16:57] sarahhightower opened #308 "Filler setback amount appearing before necessary"
The "Left Filler Setback Amount" and "Right Filler Setback Amount" appear before selecting "Add Left Filler" or "Add Right Filler". This prompt would not be used unless there is filler so it would work best if it doesn't appear until the filler option is selected.

![1](https://user-images.githubusercontent.com/72047269/107974679-2e620f80-6f74-11eb-9f0c-41f1ad6946ac.png)

[2021-02-15 18:16] TylerStandage opened #309 "Set default location for pop up menus/prompts to not be over the related section"
Currently when a prompt menu pops up, it often is in the center of the screen where it covers the design you're working on.

Can we have the default place where the prompts pop up be in the lower right side of the screen?  We should still be able to move it to other locations on the screen by clicking and dragging, but the default should be to the right, lower side.

[2021-02-15 18:37] TylerStandage commented on #288
@JJanneh see Ted's confirmation above.  Still need to ensure that if a filler is added or edited after a top shelf has been added, then the top shelf should automatically adjust to the new measurements.

[2021-02-15 18:45] TylerStandage commented on #309
When you start work on this, please talk to me.  We might also prefer that SNaP recognizes where the object is and pops up next to it at a standard distance/direction.

[2021-02-15 19:44] ClassyTeddy commented on #168
This issue is ready for testing on the `Splitting-L-and-Corner-Shelves` branch.

[2021-02-15 20:25] TylerStandage commented on #168
I see corner and L shelves separately. The menus seem to be working with all the options for doors, shelves, swing options, etc.  @TedCC1209 did you want to take a look?

Question separate  from this library separation: if the "is hanging" box is chosen, I assume there is no toe kick, correct? Currently it is still showing up as 4.39" even when the hanging box is checked.

![image](https://user-im

[2021-02-15 21:02] TedCC1209 commented on #168
This sets us up well for the other changes we need to make to corner cabinets and L-Shelves, thank you @ClassyTeddy . Both have a lot of work ahead but this is a good start.

Yes, the toe kick height prompt should likely not be available if the hanging box is checked. However, we likely have a lot of toe kick work ahead of us that we will want to get straightened out before we start delving into i

[2021-02-15 21:02] #309 closed

[2021-02-15 21:36] JJanneh commented on #221
@TylerStandage @TedCC1209 The extend forward and down options, have the fields take up only half the prompt window
Fix the requirement for "extend right pard forward" box to be checked for the "extend down" boxes to show on the screen
Updated the Export file to current Confirmed whether the XML file being created.  ![Export Output](https://user-images.githubusercontent.com/76751383/107994677-5c5a4

[2021-02-15 23:06] TedCC1209 opened #310 "L-Shelves and Corner Cabinets must always have top and bottom KD and L/R Partitions"
We need to change it so that L-Shelves and Corner Cabinets always have a top and bottom KD, with no option to turn it off. We also should not allow the user to "Remove Left/Right Side" like is currently available in the prompts.

Side note - Currently L-Shelves and Corner Cabinets have an option to "Add Top" where it adds/takes out the top KD shelf depending on whether it is selected or not--this

[2021-02-16 15:06] JJanneh commented on #306
@ClassyTeddy  Question  **pcoll = preview_collections["material_categories"]** appears to be the area that has all the selections.
I was looking into this section of the **mv_closet_defaults.py** I highlighted the area below. To remove "Cedar Aromatic Ven250 G1" from drop selection list for the materials list.
![Veneer](https://user-images.githubusercontent.com/76751383/108079613-3e3d2a80-702c-11e

[2021-02-16 15:17] ClassyTeddy commented on #306
So this might be a question for later so that I can go over how SNaP dynamically creates the material lists. We will have to change the logic for that dynamic material list generation to add an exception to not retrieve Cedar 250 for the `veneer_backing_color_list`.

[2021-02-16 15:17] TedCC1209 commented on #306
Just chiming in to make sure we don't also delete the cedar 250 as an option in the 1/4" full back "unique material" dropdown, only from the general closet material drop down which should be limited to 3/4" material.

[2021-02-16 15:21] ClassyTeddy commented on #306
I just double checked the import logic, and noticed that the `veneer_backing_color_list` ONLY retrieves 1/4" material. It appears that the `Veneer` material Type should be disabled in the `Material Selection: ` section of the `Closet Materials` tab, as it currently is only displaying 1/4" backing materials.

[2021-02-16 15:25] TedCC1209 commented on #306
Well, we just need it to look at the correct 3/4" veneer materials rather than pulling 1/4" veneer materials--then the paint/stain colors need to be applied to it for the whole closet (not just wood doors/drawer faces). I will verify with Brock the correct SKUs for the 3/4" alder veneers we want to display/export from SNaP.

[2021-02-16 15:32] TedCC1209 commented on #306
While we are here correcting this drop down, we should probably also have it include the MDF material (discussion started in https://github.com/CCDevNelson/Snap-Updates/issues/54 as well for the oversized materials). MDF is the base material that we paint on while the alder veneer is the base material for staining.

[2021-02-16 16:09] TylerStandage commented on #168
Ok, thanks Ted.  I'll move this over to ready to merge @ClassyTeddy

[2021-02-16 16:36] JJanneh commented on #299
@ClassyTeddy Ok im looking at the **common_parts.py** setting default swing for single doors in openings that contain a blind corner panel.
![common_panel_BCL_BCR](https://user-images.githubusercontent.com/76751383/108092947-6fbcf280-703a-11eb-96c1-e5c863c229ff.PNG)

Left BCP opening - left swing
Right BCP opening - right swing

[2021-02-16 19:40] TedCC1209 opened #311 "Exporting 8' Hanging Rod Lengths"
Hanging rods come in 8' lengths when we order from Hafele. Right now from what I am seeing SNaP is exporting a separate 8' length for every separate rod in the scene, no matter its width. Unfortunately, I am also not finding the width dimensions in the XML (label, part info, etc.) but maybe it is somewhere I can't find.

We need to figure out the number of lengths we need to order similar to how w

[2021-02-16 21:42] TylerStandage commented on #306
Here are the two materials and their SKUs that should show up:

¾ Alder G2S                        VN-0000002

¾ MDF                                  WD-0000010

[2021-02-16 21:56] TylerStandage commented on #311
After discussion with Ted, we will take two different approaches, one for chrome oval rods and one for all other types of rods.

1. Chrome oval: charge per linear foot. Logic feeding the pricing program will calculate the full linear footage of the rod and apply charge.  XML will also produce cut sheet list of all standard width sections of rod (so shop can pull these for the installer) and calcul

[2021-02-16 22:09] JJanneh commented on #288
Ready to Test
@TylerStandage @TedCC1209 after working with Ted he explained how the functions worked and demonstrated the proper syntax. So now when filler is added or edited after a top shelf has been added, then the top shelf automatically is adjusted to the new measurements of the L/R Filler .
![Screenshot (312)](https://user-images.githubusercontent.com/76751383/108127637-c50ff880-7068-11eb-8b

[2021-02-16 23:03] TylerStandage commented on #306
Let's also change the material type that covers these two from "Veneer" to "Stained/Painted Material". To sum up, here are the changes required in this thread:

- [ ] Remove Cedar Aromatic VEN 250  G1 from the list
- [ ] Include the following two options in the drop down : 3/4 Alder G2S VN-0000002    &    3/4 MDF WD-0000010.
- [ ] Rename the material type option from "Veneer" to "Stained/Painted M

[2021-02-16 23:09] nailsonlandim commented on #295
Hi @TylerStandage  @TedCC1209 @sarahhightower @kategodfrey,

Done it, now every dimension is generated from Closet 2D Setup, with the previously shown menu.

I've also added a **Remove Labels** button. Older designs can be cleaned and have their 2D views generated w/o any dimension.

![image](https://user-images.githubusercontent.com/70038700/108132982-93138c00-7092-11eb-80a8-a45d1ba13e03.png)

Te

[2021-02-16 23:22] TylerStandage commented on #288
@JJanneh  awesome, I see that the length does adjust to new lengths, doesn't snap back to the pard with a change in filler length, and that the topshelf also adjusts if you change the width of the entire section or adjust the opening widths.

Also, note that the fields now show across just half the prompt window and only appear when one of the boxes is checked. One thing we discussed that is not f

[2021-02-17 01:34] sarahhightower commented on #295
Awesome, thanks Nailson! Below are my comments:

1. Panel height / Partition height are the same thing, right? I think we'd prefer partition height if so.  Also, I think either closet height / ceiling height or closet height /build height are duplicates. Unless someone else thinks differently, I'd condense these three options into just ceiling height and framing height.

2. Can we alphabetize thes

[2021-02-17 01:48] sarahhightower commented on #288
Top shelf with filler and section adjustments worked great for me. Also, filler prompts look great! Thanks!

[2021-02-17 11:47] nailsonlandim commented on #295
Hi @sarahhightower , Thanks for the feedback and for the help!

Got it.

Sure, I'll do that.

I'll look into that.

[2021-02-17 15:40] JJanneh commented on #288
Ready for Testing
@TylerStandage The "add hutch backing" checkbox appears only when a "down extension" Checkbox is checked
![Removal of add hutch backing](https://user-images.githubusercontent.com/76751383/108227832-85deb780-70fb-11eb-90d9-2183523090f7.PNG)
![Removal of add hutch backing 3](https://user-images.githubusercontent.com/76751383/108227935-9ee76880-70fb-11eb-8418-ce5603ed7469.PNG)

[2021-02-17 15:49] sarahhightower opened #312 "2D Views - Height Labels"
I've noted overlapping height label issues with 2D views below.

1.  If you have varying heights those heights overlap on the left hand side. (First visual)
2.  If you double pard, but use the same height, the height (sometimes) appears twice and overlaps on the left hand side. (Second visual) In this design, it looks like one height was recognized as 84 and one as 83.25, even though there is a to

[2021-02-17 17:32] TylerStandage commented on #288
@JJanneh looks like it shows up under both the left and right side.  The hutch backing should only show up once on the left side.

Also, I've continued the confusion between this issue and the one focused on the filler extension options (custom_partition_depth). @ClassyTeddy, we will need to ensure we don't have any code collisions between these two issues when we merge. If we should move any part

[2021-02-17 17:43] ClassyTeddy commented on #288
I have primarily been working on the `Topshelf-covering-filler` branch. I think that in order to avoid an issue from occurring in the future, @JJanneh try to work on both issue #288 and issue #221 on the `Topshelf-covering-filler` branch. Then, when both issues are done, we will merge just the one branch. This will help avoid any merging issues as well as should help avoid confusion.

[2021-02-17 18:27] JJanneh commented on #288
@ClassyTeddy Ok will continue updates only on Topshelf-covering-filler branch. Thanks for the guidance. @TylerStandage Ok Removed the "Add Hutch Backing" from the Right side Checkbox area. Per request.

[2021-02-17 20:43] TylerStandage commented on #288
Thanks @JJanneh !  Let update it a bit more.  Right now it only appears if the Extend Left Partition box is checked.  Let's also have it appear if the Extend Right Partition is checked.  So if either is checked, the designer will see that it is an option.

[2021-02-17 21:53] JJanneh commented on #253
@TedCC1209 @TylerStandage Capping-Filler-Option Branch Ready to Test
![Capping_Right_Filler](https://user-images.githubusercontent.com/76751383/108272077-fe12a080-712e-11eb-873f-c8c57aaccb75.PNG)

[2021-02-17 22:36] nailsonlandim commented on #295
Hi @sarahhightower ,

I made the changes you've asked for. By @AntonioGloria suggestion I'll add a select all and a de-select all option

Tell me your thoughts!

[2021-02-17 23:55] TylerStandage commented on #253
@JJanneh thanks, this looks good to me.  I've noted the size and location of the cap in the image below.  Moving to testing. @TedCC1209 let me know if this looks good to go from your perspective.

![image](https://user-images.githubusercontent.com/77167318/108283648-85184680-7138-11eb-96f1-61486b00fe38.png)

[2021-02-18 13:41] ClassyTeddy commented on #253
I do know that this issue is not totally good to go, but we would like input to make sure that the sizing is correct. We do still need to add edge banding logic and edge banding to the scene.

[2021-02-18 13:52] JJanneh commented on #288
@TylerStandage Updated

[2021-02-18 15:40] JJanneh commented on #272
@ClassyTeddy I figured out a way to show edgebanding in the UI but still needs work. The Logic needs to be worked on a bit more.
Photo below show Edgebanding ON/OFF ![Edgebanding Off](https://user-images.githubusercontent.com/76751383/108380979-9c047a80-71c4-11eb-988f-4c97c8c96be4.png)
![Edgebanding ON](https://user-images.githubusercontent.com/76751383/108380981-9c9d1100-71c4-11eb-871b-5f2a4b9a95

[2021-02-18 15:44] ClassyTeddy commented on #272
I can help you with the logic later.

[2021-02-18 15:46] nailsonlandim commented on #295
Hi @TylerStandage @TedCC1209 @sarahhightower

I've added the select/deselect menu options. I also moved the remove label button to the dropdown menu.

![image](https://user-images.githubusercontent.com/70038700/108381937-12b26f80-71e7-11eb-8ff1-fb14e1cad1c3.png)

I am dealing with a gap on it. Any tip @RyanMDev?

![image](https://user-images.githubusercontent.com/70038700/108381832-f7dffb00-71e6-1

[2021-02-18 16:23] TylerStandage commented on #253
The sizing is correct as far as I can tell.  @ClassyTeddy @JJanneh is the edgebanding piece the work you're discussing on #272 or is that separate?

[2021-02-18 16:33] ClassyTeddy commented on #253
According to Ted

Currently, this isn't the case, both in the scene and on the export for the capping filler

[2021-02-18 16:50] TylerStandage commented on #253
@ClassyTeddy @JJanneh sounds good.  You're good to go on the sizing. Just need to do the edge banding. Thanks!

[2021-02-18 16:59] kategodfrey commented on #295
This looks great! Just tried it out and it worked great. I was able to select all and deselect/remove all. Thanks, Nailson!

[2021-02-18 18:21] nailsonlandim commented on #92
Hi, @kategodfrey @sarahhightower @AntonioGloria @TylerStandage,

I would like to check if a strange behavior is occurring just with me.

Each time I open SNaP (or a room) it creates a project, with no room on it.

![image](https://user-images.githubusercontent.com/70038700/108402717-a478a780-71fc-11eb-9c82-02b5d57e393f.png)

![image](https://user-images.githubusercontent.com/70038700/108402908-e1d

[2021-02-18 18:23] JJanneh commented on #288
@TylerStandage As per our earlier conversation about "Extend Left Partition" and "Extend Right Partition" prompt both must be checked to allow Prompt menu to show up and  "Add Hutch Backing"  prompt only on the Left side.
![Screenshot (337)](https://user-images.githubusercontent.com/76751383/108403221-bc8bff00-71db-11eb-91c6-dad7c07eff92.png)

[2021-02-18 18:39] TylerStandage commented on #288
@JJanneh thanks, looks like the hutch option only shows when both extend left and extend right boxes are checked!  Looks like the fields now don't show up when only one of the extend left/right boxes is checked now, though. Can you re-insert the fields for each when only that side is checked?

![image](https://user-images.githubusercontent.com/77167318/108405013-6f0c9380-71d5-11eb-95ef-b994035c97e

[2021-02-18 18:52] RyanMDev commented on #295
You will need to pass `align=True`  for the row you are adding your menu to.

`row = main_box.row(align=True)`

In this case it would be changing the first line here (I just used the menu name here as an example):

        row = main_box.row(align=True)
        row.scale_y = 1.3
        row.operator(DIMENSION_PROPERTY_NAMESPACE +
                     ".auto_dimension", icon='FILE_TICK')
        ro

[2021-02-18 20:11] sarahhightower commented on #92
Hi @nailsonlandim. This is not an issue on my end.

[2021-02-18 20:25] kategodfrey commented on #92
This hasn't happened to me @nailsonlandim

[2021-02-18 21:48] JJanneh commented on #272
@TedCC1209 @ClassyTeddy @TylerStandage Option-to-edge-bottom-edge Branch is Ready for Testing
Edgebanding and Capping and XML Exporting confirmed.
![Screenshot (356)](https://user-images.githubusercontent.com/76751383/108425723-17335400-71f8-11eb-8526-1e679e99ac58.png)

[2021-02-18 21:54] JJanneh commented on #288
@TylerStandage Topshelf-covering-filler branch Updated
**Edgebanding and Capping Testing** on Option-to-edge-bottom-edge branch

[2021-02-18 22:07] TylerStandage commented on #272
@JJanneh Thanks J I see that the bottom edge banding is now showing!   Earlier in this thread I see that Ted had requested that we remove the edge banding on the long edge as this will be against the wall. Please update that piece as well.

[2021-02-18 22:18] TylerStandage commented on #288
@JJanneh thanks, looks like the field are back!

I also noticed that the hutch in the back spans the entire width, including outside the partitions (wall to wall, essentially). The length of the hutch backing should be the width between the inner edges of the two partitions that are extended downward. Can you update?

[2021-02-19 15:07] JJanneh commented on #288
@TylerStandage @ClassyTeddy Ok Updating
![Screenshot (358)](https://user-images.githubusercontent.com/76751383/108521869-68d7ef00-7289-11eb-9cd0-944c143e10e4.png)
![Screenshot (359)](https://user-images.githubusercontent.com/76751383/108521894-6ffefd00-7289-11eb-8168-1878c31560fa.png)

[2021-02-19 16:20] TylerStandage commented on #288
Thanks @JJanneh !  For clarity, see the image below.  The hutch backing extends beyond the outside pards. It should sit within the two outside pards, including when opening sizes are modified.

![image](https://user-images.githubusercontent.com/77167318/108531202-4ba42000-728b-11eb-9dd4-de8f324ab6c8.png)

[2021-02-19 21:06] JJanneh commented on #253
@TylerStandage Capping-Filler-Option Branch Ready to Test

[2021-02-19 22:09] JJanneh commented on #272
@TedCC1209 @TylerStandage Option-to-edge-bottom-edge Branch is Ready for Testing
![Screenshot (368)](https://user-images.githubusercontent.com/76751383/108566837-4ca57380-72c4-11eb-98af-9f00057ffb27.png)

[2021-02-19 22:47] sarahhightower opened #313 "2D Labels Pre 2D Document"
I’ve noticed that when I "label parts" I see incorrect measurements.

1.	The hang height is shown rather than the framing height
2.	One (or more) of the width measurements will be incorrect.

This is strange because they are right in the 2D document. Can we look into getting them right here as well?  I’ve attached visuals to show what I mean.

![Pre 2D](https://user-images.githubusercontent.com/72

[2021-02-20 00:16] TylerStandage commented on #253
Hi @JJanneh , I still see that the long and two short edges aren't edge banded.  I'm on the capping-filler-option branch. Is that the right one?

![image](https://user-images.githubusercontent.com/77167318/108574991-b1190080-72cd-11eb-96d5-c3412b50639d.png)

[2021-02-20 00:19] TylerStandage commented on #253
@JJanneh I see now that it has been updated on the option-to-edge-bottom-edge branch.  Looks good to me!  @TedCC1209 can you confirm. I'll look at the xml export next week as well.  Thanks!!

[2021-02-20 00:21] TylerStandage commented on #272
@JJanneh @TedCC1209 I see that this is working in the UI, as is the #253 capping filler option issue!  I'll take a look at the xml this weekend or Monday.

[2021-02-22 17:33] TedCC1209 opened #314 "Add Sink Drill option on doors"
We need to add a sink drill option for doors where the top hinge is drilled farther down than it usually is to account for a sink skirt/striker piece being located where the top hinge usually is. Whoever gets this issue, please see me for exact location when you get to this. Thanks, Ted

[2021-02-22 17:45] TedCC1209 opened #315 "Add False Front"
We need to add a false front option to SNaP. I'm not sure whether it would be best as a separate library item or an option for a 1-drawer drawer bank. For a false front, there would be two pieces--a drawer face (false front) sized like a normal drawer face and then a backing/skirt behind it. Here is a quick diagram:

![image](https://user-images.githubusercontent.com/61025894/108747666-ef473780-74

[2021-02-22 17:46] TedCC1209 commented on #315
The user should be able to change the height of the false front like a normal drawer face which would change the sizes of both pieces in this library item.

[2021-02-22 17:51] TedCC1209 commented on #314
When this option is selected, it should also add a 3.64" tall striker/cleat between and at the top and front of the partitions behind the door, located like the skirt/backing piece of the false front described in https://github.com/CCDevNelson/Snap-Updates/issues/315. The Top KD option for the doors and the opening should also be disabled if sink drill is selected.

[2021-02-22 21:24] TylerStandage commented on #295
@TedCC1209 @sarahhightower this is ready for final testing

[2021-02-23 15:20] JJanneh commented on #287
@ClassyTeddy class OPS_Drawer_Drop(bpy.types.Operator):

[2021-02-23 15:32] JJanneh commented on #306
@ClassyTeddy fd_material.py

[2021-02-23 16:42] sarahhightower commented on #295
Love it @nailsonlandim. One small thing; if you choose to "deselect all" from the dropdown it removes all the checkmarks next to the label options but the checkmark stays in the "select all" box in the dropdown. Not a bit deal...just pointing that out in case that's an easy fix.

Also, one question. Can you clarify the difference between choosing "deselect all" and "remove labels" from the dropdow

[2021-02-23 17:42] nailsonlandim commented on #295
Hi @sarahhightower, Thanks for the feedback!

At the "select all" / "de-select" all buttons, the checkmarks are in fact icons. I maintained the same UI/UX that exists for the Prepare 2D Views

![image](https://user-images.githubusercontent.com/70038700/108882566-4d4f4a00-75e3-11eb-8a49-2f0bf8ef04c9.png)

![image](https://user-images.githubusercontent.com/70038700/108881732-64416c80-75e2-11eb-8804-

[2021-02-23 18:37] ClassyTeddy commented on #310
Ready for testing on the `Improving-L-and-Corner-Shelves` branch.

[2021-02-23 18:51] TylerStandage commented on #310
@ClassyTeddy I see that "Remove Left/Right Side" are no longer options. I also see that the top and bottom for both L and corner shelves default to KD. I am still able to remove the KD status. How difficult is it to remove the option to un-check KD for those shelves?

@TedCC1209 would defaulting to top/bottom KD also be what we want to see for Triangle Shelving?

[2021-02-23 19:34] RyanMDev commented on #58
The 3rd line of holes depends on the "Add Rod Setback" prompt:
[code]
https://github.com/CCDevNelson/SNaP-Dev/blob/a2b07b4b5c0deba91959d4f6882cdd177f875cba/SNaP/2.78/scripts/addons/snap_db/library_scripts/Library-Classy_Closets/mv_closet_machining.py#L468

Previously this prompt was available on the hanging rods prompt menu but has since been removed:

![hanging_rod_prompts_122](https://user-image

[2021-02-23 21:35] TylerStandage commented on #306
@JJanneh @ClassyTeddy

Updated with the correct SKU for the 3/4'' alder:

- [ ]  Remove Cedar Aromatic VEN 250 G1 from the list
- [ ]  Include the following two options in the drop down : 3/4 Alder G2S VN-0000014 & 3/4 MDF WD-0000010
- [ ]  Rename the material type option from "Veneer" to "Stained/Painted Material"

[2021-02-23 21:51] JJanneh commented on #288
@TylerStandage @ClassyTeddy Thanks!
 The hutch backing no longer extends beyond the outside pards. It currently sits within the two outside pards, including when opening sizes are modified. This has been completed as well as when you check/uncheck the prompt for the L/R Filler the value also clears to zero.
 ![Screenshot (428)](https://user-images.githubusercontent.com/76751383/108912222-943e3f00-

[2021-02-23 22:03] TylerStandage commented on #288
@JJanneh thanks, looks good!!  Officially moving this to testing.  @TedCC1209 and I will take a look again to formally pass this one off.

[2021-02-23 22:04] TylerStandage commented on #288
#221  is also being testing on the topshelf covering filler branch.

[2021-02-23 22:06] TylerStandage commented on #250
@sarahhightower please take a look at this issue and let us know if you see any issues. Below are a few screenshots from Antonio.

![image](https://user-images.githubusercontent.com/77167318/108912231-3574c780-75dd-11eb-963f-d78616007c47.png)
![image](https://user-images.githubusercontent.com/77167318/108912251-3b6aa880-75dd-11eb-8d0a-45504bca418f.png)
![image](https://user-images.githubuserconten

[2021-02-23 22:45] AntonioGloria commented on #250
This feature is available here:
https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23250-label-locks-db-jewelry-drawers

[2021-02-23 23:37] sarahhightower commented on #250
@TylerStandage and @AntonioGloria. This looks good to me! Full disclosure: I've only added locks to drawers before so I hope I'm not missing anything important here. @TedCC1209?

[2021-02-23 23:43] TylerStandage commented on #250
I was able to reproduce what @AntonioGloria did and I think it works well.  I was able to produce some collisions of text throughout, partly because I decided to make it a very busy design that wouldn't likely happen in the real world.

My view is this one is good to go unless Ted has a change he wants to see. There may be some work we can put in at a later date around how we place the text in the

[2021-02-24 01:01] TylerStandage commented on #295
@TedCC1209  you good to go on this one?

[2021-02-24 14:59] TedCC1209 commented on #295
Looks really good. Very convenient and organized, great work @nailsonlandim. A few suggestions:

1. Move Topshelf & KD shelf labels from General Dimensions to Shelves
2. Move Capping Bottom label from Molding to Shelves

Then the partition and other labels look to be bolded again in this branch, or like the F/B labels they are grainy & illegible, not sure if the font was changed on some of these?

[2021-02-24 15:03] TedCC1209 commented on #301
I think this one is good to go

[2021-02-24 15:16] TedCC1209 commented on #300
Did I break this or make too complicated of a situation? Does this work only with the actual "Upper" assemblies or should it also work with the regular openings as well?

[uppers and lowers 2D Views.pdf](https://github.com/CCDevNelson/Snap-Updates/files/6036936/uppers.and.lowers.2D.Views.pdf)

[2021-02-24 15:18] TedCC1209 commented on #174
Looks like this still needs a bit of attention? Have we nailed down the situations we are still missing some cross sections as shown by @sarahhightower above?

[2021-02-24 15:23] TedCC1209 commented on #232
This looks good to me, thanks @AntonioGloria

[2021-02-24 15:39] nailsonlandim commented on #295
Got it.

I'll fix that, as Antonio found a way to make OpenGL dimensions being rotated. I'll replace them to use it. they look like that because they are blender objects behind something, so they are dotted, just like a shelf.

I think we don't need to create another issue for that, I'll fix these problems and merge @AntonioGloria works that weren't merged yet. (locks and double jewelry => https:/

[2021-02-24 15:43] TedCC1209 commented on #250
I think this is good to go

[2021-02-24 15:43] nailsonlandim commented on #174
Got it, sorry for letting it behind. I'll take look and once it's fully fixed and approved I'll merge them to the BDev_Merge branch

[2021-02-24 15:48] nailsonlandim commented on #300
It's a situation I haven't faced before, but I'll look into that. good catch!

[2021-02-24 16:14] TedCC1209 commented on #272
Tested the Option-to-edge-bottom-edge branch for this issue https://github.com/CCDevNelson/Snap-Updates/issues/272 and the capping filler https://github.com/CCDevNelson/Snap-Updates/issues/253.

The edgebanding looks great and the XML looks accurate as well. Great job @JJanneh and team.

My only thoughts on this have to do with the menu / UI in this branch:

![Filler Menu](https://user-images.gith

[2021-02-24 16:16] TedCC1209 commented on #308
Looks like this issue is addressed in the Option-to-edge-bottom branch.

[2021-02-24 16:38] TedCC1209 commented on #288
Tested this issue https://github.com/CCDevNelson/Snap-Updates/issues/288, Custom Partition Depth https://github.com/CCDevNelson/Snap-Updates/issues/221, and the hutch backing issue on the Topshelf-covering-filler branch.

Everything is looking really good, great work. The only thing that doesn't seem to be working is having the topshelf dynamically adjust when the filler width amount is changed af

[2021-02-24 16:46] ClassyTeddy commented on #288
This should be working, we can take a look at it later @JJanneh

[2021-02-24 16:48] TedCC1209 commented on #271
Fillers look to still be exporting exact sizes for me on the XML-Export-Fillers branch, not with the 4" minimum or adding 2" to the exported width.

Also need to make sure this will do the same thing for capping fillers https://github.com/CCDevNelson/Snap-Updates/issues/253 (add 2" to the width when exporting with a minimum 4" width), so not sure if we want to include this fix, when we get it work

[2021-02-24 17:01] TedCC1209 commented on #310
This all looks good to me. The only place I see where you can change the KD status is in the Closet Properties menu, not sure if we can remove that option for the top and bottom L/corner shelf KDs in that menu.

We will want to be able to determine whether a middle L or corner shelf is a KD or not though, so we want to maintain that option for the adjustable middle shelves. However, the middle she

[2021-02-24 17:07] ClassyTeddy commented on #310
In order to do this, I need to add a selectable number of shelves. How many shelves minimum and maximum should be allowed, and what should be the default number of shelves?

[2021-02-24 17:08] TedCC1209 commented on #310
Let's do minimum zero, maximum 10, default of 3. Thanks!

[2021-02-24 17:17] ClassyTeddy commented on #310
Should they be forced to space evenly, or do we want to set them up similar to doors?

[2021-02-24 17:23] TedCC1209 commented on #310
99% of the time L-shelves are just spaced evenly so let's just go with that for now--But, can we have them be accurate as to where "Evenly spaced" would be on our 32mm hole system so that we can match adjacent shelf stack vertical shelf locations?

[2021-02-24 17:30] JJanneh commented on #272
Ok @TedCC1209 Updated branch now on checkbox prompt selection "Add Left Filler" or "Add Right Filler" is deselected that the values for the **filler amount and setback amount are zeroed out** and **the add capping filler and edge bottom of filler options are also automatically deselected**.
![UI Change_Filler_Options](https://user-images.githubusercontent.com/76751383/109035905-51807380-7686-11eb-

[2021-02-24 21:04] JJanneh commented on #271
@TylerStandage @TedCC1209 Updated XML-Export-filler branch  files currently exports per your request. Confirmed @ClassyTeddy

[2021-02-24 21:05] JJanneh commented on #299
@TylerStandage @TedCC1209 Left BCP opening - left swing  Right BCP opening - right swing defaults set as per your request.

[2021-02-24 21:10] JJanneh commented on #288
@TedCC1209 @TylerStandage Currently working is having the topshelf dynamically adjust when the filler width amount is changed after the topshelf is put in. @ClassyTeddy Thanks

[2021-02-24 21:22] nailsonlandim commented on #92
Hi @TylerStandage @kategodfrey @TedCC1209 @sarahhightower

Finished rename room functionality

- To rename the room you need it to be opened. If you try to rename another room or if there is no room opened it won't rename
- Once you rename the room it will update the project file, create a copy file (like save as), load it, and delete the old one.
- If you work in a room, add assemblies and rename

[2021-02-24 21:55] TylerStandage commented on #299
This looks great, J. Good work.  @TedCC1209 I'm moving to testing. Let us know if it's ready to merge.

[2021-02-24 22:30] TylerStandage commented on #92
@nailsonlandim thank you!  @kategodfrey I've moved this to testing.  Please test and let me know if it fits what you were looking for.

[2021-02-25 00:50] TylerStandage commented on #308
Yes, true. This came up in conversation and J was able to fix it along with the other filler work he was doing.  I'll close this out.

[2021-02-25 00:51] #308 closed

[2021-02-25 00:52] TylerStandage commented on #313
@nailsonlandim let's put this one high on your priority list.

[2021-02-25 00:55] TylerStandage commented on #58
@TedCC1209 See the above comment from Ryan and let us know if we can close this issue.

[2021-02-25 16:20] TylerStandage commented on #288
@JJanneh confirmed the topshelf is working, thanks! Ready to merge.

@ClassyTeddy for reference/reminder when merging:  #221 and #288 are on the topshelf-covering-filler branch, as are the correct menu subtitles as requested by Ted. #272 and #253 are on the option to-edge-bottom-edge branch.

[2021-02-25 16:29] TylerStandage commented on #32
This is being handled in the new blender version, mostly by Josh.  We have a separate workstream on this.  I'll close this one.

[2021-02-25 16:29] #32 closed

[2021-02-25 16:30] TylerStandage commented on #292
As discussed separately, this issue should be taken care of when moving to Blender 2.9. Will leave this one in queue until we confirm that, but no work to be done on this at the moment.

[2021-02-25 16:34] TylerStandage commented on #221
@JJanneh this one is good to merge, thanks!

@ClassyTeddy for reference/reminder when merging: #221 and #288 are on the topshelf-covering-filler branch, as are the correct menu subtitles as requested by Ted. #272 and #253 are on the option to-edge-bottom-edge branch. #271 is  on its own branch.

[2021-02-25 19:01] sarahhightower commented on #92
I tested this by renaming the room as described. It was updated in SNaP and in my project folder on my computer and I was able to reopen the project with the new room name with no issues. Thanks!

[2021-02-25 21:31] JJanneh commented on #272
@ClassyTeddy I removed the Left, Right and Back only removes the edgebanding on all but the outside. ![Screenshot (453)](https://user-images.githubusercontent.com/76751383/109220032-a51dba80-7775-11eb-97bb-53172a402974.png)

[2021-02-25 23:45] TylerStandage commented on #271
@JJanneh looks good!   @ClassyTeddy moving to ready to merge.

[2021-02-26 16:26] ClassyTeddy commented on #169
I believe this is ready for testing on the `Improving-L-and-Corner-Shelves` branch.

[2021-02-26 17:20] sarahhightower commented on #169
This is such an awesome feature. Thanks for working on this. Below are my comments:

- The prompt for L-Shelves still says "Corner Shelf Prompt" (See visual 1 below)

- Is it possible to have the door styles by each other in the prompt? So for example, once the user selects that they want a door, the type of door (lazy Susan / double door) appear indented underneath as the options?

- Is it possib

[2021-02-26 17:31] ClassyTeddy commented on #169
This should be possible, would you want it like a dropdown combobox, or like 2 checkboxes and when you turn one on, it turns the other one off?

This is also possible if it is how we want it to function

This one I am far more unsure. It should be possible to see double doors open, but I am unsure how I would make the Lazy Susan Doors open properly. I think I might be able to have them open in a w

[2021-02-26 17:43] sarahhightower commented on #169
1. Without seeing how this would look I think I like the idea of a dropdown. Open to others feedback.
2. @TedCC1209 @TylerStandage what do you think?
3.  The lazy susan door option you outlined sounds fine to me.
4.  The option you proposed sounds good to me.

[2021-02-26 19:59] TedCC1209 commented on #169
I like the idea of a dropdown as well. Can we have the options be called "Reach Back" and "Lazy Susan" doors?

Yes that would be fine to have it function as you have proposed it.

It's a good start. The reach back doors may give you a little trouble too because the door with the handle will have to open first and then the reach back door, not sure how that interplay would work.

I agree that yes w

[2021-02-26 21:36] TedCC1209 opened #316 "Door Material Not Exporting Correctly"
Melamine doors are being exported as the same material as the closet even when a different material is chosen in the door/drawer face material. This had been working previously so I am unsure what changed. Here is an example SNaP Project where it exported the same as the rest of the closet:

https://drive.google.com/drive/folders/1RbPat1eQxt9-qCT57Acqk_k_0P-5_6B3?usp=sharing

[2021-02-26 21:45] ClassyTeddy commented on #58
This issue is ready for testing on the `Fixing-Third-Line-Of-Holes` issue

[2021-03-01 13:52] nailsonlandim commented on #300
Hi @TedCC1209,

After analyzing this problem I found out that this situation is an edge one. In this particular project, you show a wall with two hanging openings where the upper basepoint is at the bottom half of the wall. So it will show both hanging openings as lower ones.

![image](https://user-images.githubusercontent.com/70038700/109503467-1365c400-7a79-11eb-840d-dabff2550080.png)

I could c

[2021-03-01 14:15] TedCC1209 commented on #300
Thanks for the explanation @nailsonlandim , I wasn't sure of the logic. I thought it (1) checked to see if there was another opening below every opening and if there was, (2) check each opening's position to see if they match opening basepoints (on the X axis or whatever the left to right axis is on that wall) and opening width dimensions and (3a) if they both matched exactly then the upper would

[2021-03-01 16:40] ClassyTeddy commented on #171
A couple of questions:

1. Should I keep the mitered pard when backing is present?
2. What is the calculation for "drilled 22mm"
3. Is the `distance of that line of holes from the side of the 3/4" backs should just be the normal distance of the front line of holes from the front of a partition for normal partition drilling` The same for both partitions, or should the right sides distance be modifi

[2021-03-01 16:52] TedCC1209 commented on #171
Good questions

No, please remove the mitered pard when backing is present

See my explanation of 22mm drilling here: https://github.com/CCDevNelson/Snap-Updates/issues/55#issuecomment-626045063. Essentially, the top and bottom of the "partition" have 3/4" taken off each end but the holes still need to line up with the holes for the left and right partitions which do not have 3/4" taken off. I don

[2021-03-01 19:24] ClassyTeddy commented on #171
Ready for testing on the `Improving-Corner-and-L-Shelves` branch.

[2021-03-01 20:23] TylerStandage commented on #306
We will wait on this one until SNaP2.0 as the change to the library will be a fair amount of work and won't transfer to 2.0 seamlessly.

[2021-03-01 20:39] TedCC1209 commented on #58
I am now seeing 3 lines of holes, thanks Teddy. The third line of holes looks to be in the incorrect place, however, for this 16" deep partition with a rod setback 4" to be at a standard 12" partition location:

![3 lines of holes](https://user-images.githubusercontent.com/61025894/109555398-c1319c80-7a92-11eb-8091-c7669a133440.png)

The "Y" coordinates in the XML are as follows for the three line

[2021-03-01 21:09] TedCC1209 commented on #171
Everything having to do with 3/4" backs on L-Shelves and Corner Cabs looks good from what I see--sizing, drilling, XML export. Great work Teddy

[2021-03-01 21:13] TedCC1209 opened #317 "Add drilling info for L/R Partitions of L-Shelf and Corner Cab assemblies"
While testing the drilling for L Shelf and Corner Cab backing, I noticed that no drilling info appears to be exported or attached to the left and right partitions of these assemblies. They should have standard drilling on one side.

Note--we do not need KD shelf drilling info for L-Shelves or Corner Shelves for now. I will create a new issue if the shop decides they want to add it.

[2021-03-01 21:38] TylerStandage opened #318 "Corner and L-shelves should snap to corners"
When placing corner and L shelves it is not easy to get them all the way into the corners.

Please update both to identify and snap into corners automatically.

[2021-03-01 21:48] JJanneh commented on #287
@TedCC1209 @TylerStandage @ClassyTeddy Thanks for all the insight.
 **Default-Cleat-Location-Below** Ready for Testing

[2021-03-01 21:52] TylerStandage commented on #287
@JJanneh thanks!  What branch can we test this on?

[2021-03-01 22:33] sarahhightower commented on #287
Tested and worked as I believe it was requested. Nice job @JJanneh!

@TylerStandage I found this in the Default-Cleat-Location-Below / Nailson repository.

[2021-03-01 22:55] ClassyTeddy commented on #287
It should also be available on the main repository

[2021-03-01 23:57] AntonioGloria commented on #234
Hi @TedCC1209, @TylerStandage,
The dimensions for the return walls are ready. This feature also includes door height dimensions in elevation views.

![RtnWall_Dims_Elv](https://user-images.githubusercontent.com/74732175/109575251-0d8ed380-7ab7-11eb-9235-775848bb75d2.png)
![RtnWall_Dims_PV](https://user-images.githubusercontent.com/74732175/109575252-0e276a00-7ab7-11eb-8919-9568d57d6efc.png)

Avail

[2021-03-02 18:25] sarahhightower commented on #234
This is amazing @AntonioGloria. Thank you! A few comments:

1. I notice that the wall names (A, B, C, D) are missing from the elevation views in my test.

2. Could you replace the 120" measurement on the wall with the door (Wall D) with the broken down measurements that appears below it?  Requested visual below. (Also discussed this with @TylerStandage to make sure he's on board with this as well)

[2021-03-02 20:28] TedCC1209 commented on #234
I saw this on a recent job of mine too, on a different branch though. I figured it was a one-off because of some weird stuff I was trying to do to break what I was testing so I didn't create an issue for it, but I will keep my eye out for it should it happen again.

[2021-03-03 00:15] TylerStandage commented on #287
@JJanneh I see it now, thanks!  Yes, looks like the functionality works.  One thing that we should update:

Often the countertop is added after the drawers are already placed.  Looks like if the cleat is "above" prior to the countertop being placed, right now it remains "above" after the countertop is placed. Can we update so that when a countertop is placed, it checks to see if there are drawer s

[2021-03-03 00:16] TylerStandage commented on #171
@ClassyTeddy I see the same.  Thanks!  Moving to ready to merge.

[2021-03-03 00:18] TylerStandage commented on #295
@nailsonlandim confirmed this is ready to merge.  Thanks!

[2021-03-03 15:29] AntonioGloria commented on #234
Hi @sarahhightower,
Could you share your project files? I would like to double-check the issue with the extra pards.

[2021-03-03 15:57] sarahhightower commented on #234
Sure. Here you go!

https://drive.google.com/file/d/1R7mJsQu8JGhXBWkUQao-u9SBl91U7XCS/view?usp=sharing

[2021-03-03 18:25] JJanneh commented on #263
@TedCC1209 @TylerStandage @ClassyTeddy Currently forcing bottom KDs for the openings the capping bottom covers.

[2021-03-03 21:02] TylerStandage commented on #263
Hi @JJanneh, this looks good!  Moving to ready for testing to let @TedCC1209 confirm.

[2021-03-03 21:40] JJanneh commented on #287
@TedCC1209 @TylerStandage @ClassyTeddy When a countertop is placed, drawer stacks under it, and if so, to switch the cleat location on the drawer stack to "below". Currently the drawer stacks below on placement  allowing the countertop to be placed next on top.

[2021-03-03 21:46] TylerStandage commented on #287
@JJanneh looks good, thanks! moving to ready for merge

[2021-03-03 21:47] ClassyTeddy commented on #287
This issue is not ready to move as it does not function with hampers like we talked about @JJanneh

[2021-03-03 21:50] TylerStandage commented on #287
Thanks @ClassyTeddy !  @JJanneh let us know when it works for hampers as well.

[2021-03-03 22:12] AntonioGloria commented on #234
Hi @TedCC1209, @sarahhightower
The issues pointed out previously have been addressed, and have been committed to the branch.

The wall names labels are back, and I made the changes for the wall width and return wall dimensions.
![Plan View](https://user-images.githubusercontent.com/74732175/109876355-51104b80-7c37-11eb-9d74-06fa78ec3b84.png)
![Wall A](https://user-images.githubusercontent.com/7473

[2021-03-04 13:17] nailsonlandim commented on #174
Hi @TylerStandage @TedCC1209 @sarahhightower @kategodfrey

I fixed the issue.

![image](https://user-images.githubusercontent.com/70038700/109969177-5a9ac180-7cd2-11eb-8f27-eb575bab777a.png)

It's available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23174-show-cross-section

Once it passes all tests I'll merge it into BDev_Merge branch

[2021-03-04 14:52] SeanRadvan opened #319 "Long start up time."
A user is reporting that they're copy of snap is taking around 10 mins to launch, need to confirm if its slow while open as well.  Looking at the task manager I don't think its anything the pc itself running poorly.  So far I had her update to the newest build (not fresh install) and load snap defaults, but neither worked.  Will attempt to remove all of the projects files to see if that affects la

[2021-03-04 17:01] sarahhightower commented on #174
Nice @AntonioGloria. I ran a few tests and when there are assemblies on Wall D the cross sections are appearing exactly as they should now!

[2D Views.pdf](https://github.com/CCDevNelson/Snap-Updates/files/6085361/2D.Views.pdf)

If there are no assemblies on Wall D the cross sections are still not appearing.

![Plan View](https://user-images.githubusercontent.com/72047269/110000381-756c3680-7cd0-1

[2021-03-04 17:07] sarahhightower commented on #319
I hear of this issue and experience it myself on occasion. I know Katie does as well. These days if SNaP doesn't open after a few minutes I typically just restart my computer and try again. Not the desired resolution, so if there's anyway to improve the speed in which the program opens consistently that'd be great!

[2021-03-04 17:16] TylerStandage commented on #319
Ok, thanks both.  @SeanRadvan let us know if you find something that works.  Probably worth asking Ryan Montes if there is any reason to think there will be fewer instances of this issue with 2.0.  I'll put that on my list of things to discuss with him.

[2021-03-04 18:17] JJanneh commented on #287
@ClassyTeddy Made Changes no errors on placement but not working fully.
![Screenshot (561)](https://user-images.githubusercontent.com/76751383/110009920-ea446e00-7cda-11eb-8dfd-970c407eff81.png)
![Hampers_Drawers_](https://user-images.githubusercontent.com/76751383/110009930-efa1b880-7cda-11eb-8b58-5d8884b7acf5.png)

[2021-03-04 18:19] nailsonlandim commented on #174
Thanks for the feedback @sarahhightower

I can treat the described situation as well. what do you say @TedCC1209 @TylerStandage ?

[2021-03-04 18:25] ClassyTeddy commented on #287
So J, you need to get the `cleat_location` prompt from the hamper assembly just like we did it for the drawer. And I think you might be misinterpreting the goal here with the second screenshot. We don't want to change the drawer cleat location when a Hamper or Countertop is present or when placed into an island, we want to change the drawer/hamper cleat location when a countertop is present or whe

[2021-03-04 18:26] TylerStandage commented on #174
@nailsonlandim I'm seeing the same as Sarah.  Let's get that updated and we may be good to go on this one!

[2021-03-04 18:26] ClassyTeddy commented on #316
This issue is ready for testing on the `Door-Material-Not-Exporting` branch.

[2021-03-04 18:29] nailsonlandim commented on #174
Great and thanks @TylerStandage for the prompt feedback.

[2021-03-04 19:44] SeanRadvan commented on #319
Had them reset the PC and same thing.  Removed the projects folder (which looked extremely cluttered) but same thing.  Doing a fresh install now, but I got the logfile before I deleted the old one.
[logfile (1).log](https://github.com/CCDevNelson/Snap-Updates/files/6086223/logfile.1.log)

[2021-03-04 19:57] ClassyTeddy commented on #58
Ready for testing on the `Fixing-Third-Line-Of-Holes` branch.

[2021-03-04 20:13] TedCC1209 opened #320 "Melamine Countertop edgebanding"
Melamine countertops are only exporting 1L edgebanding to the XML even when there are exposed ends. We need it to edgeband the ends that are selected as exposed.

[2021-03-04 20:16] nailsonlandim commented on #174
Hi @sarahhightower @TylerStandage

Done!

![image](https://user-images.githubusercontent.com/70038700/110024446-f9dcaa80-7d0c-11eb-992e-17f70ac09ac5.png)

![image](https://user-images.githubusercontent.com/70038700/110024525-ffd28b80-7d0c-11eb-825a-e0d92b816d99.png)

Tell me if it solves your needs.

[2021-03-04 20:57] TylerStandage commented on #174
Looks right to me!  @sarahhightower does it show correctly for you as well?

![image](https://user-images.githubusercontent.com/77167318/110029291-21ba1700-7ce9-11eb-8eac-4ddb44190ab0.png)

[2021-03-04 21:00] SeanRadvan commented on #319
Quick update on this, I think I figured it out, its a windows issue, not necessarily a snap one.  Basically explorer was having problems searching, so when snap was trying to look through the snap_projects folder, it was searching extremely slowly.

[2021-03-04 21:16] ClassyTeddy commented on #304
Hey Ted, wanted to clarify what the goal of this issue is. Do you want the box to be forced to be a 14" deep box when there is a lateral letter file rail, regardless of the depth of the partition?

[2021-03-04 21:20] TedCC1209 commented on #304
Yes. Otherwise there is a small gap between the file rail and the back side of the box which isn’t ideal. This way the file rail will be snug against the front and back sides of the box. Thanks, Ted

[2021-03-04 21:42] TylerStandage commented on #316
Thanks Teddy.  @TedCC1209 I'm seeing this exporting correctly now.  Same for you?

[2021-03-04 21:46] JJanneh commented on #287
Default-Cleat-Location-Below Branch Ready for testing
@TylerStandage @TedCC1209 @ClassyTeddy Thanks once again for all the help it greatly appreciated.

[2021-03-04 21:55] ClassyTeddy commented on #311
So how exactly should the XML export chrome oval rods? It doesn't really export a cutsheet, just individual parts. What are the standard width sections?

[2021-03-04 22:01] TylerStandage commented on #287
@JJanneh  I'm seeing the request working for all scenarios we've discussed.  Upon placement of countertop, it will switch cleat location to "below" if there are hampers or drawers in the section.  Also, upon placement of drawers, it will switch to "below" if there is a countertop in the section.  Islands are working as well for both hampers and drawers. @ClassyTeddy if you see the same, you can mo

[2021-03-04 22:41] sarahhightower commented on #174
Yep! Worked great!

![1](https://user-images.githubusercontent.com/72047269/110040494-276f2700-7d00-11eb-8e33-ed91868673aa.jpg)

[2021-03-04 22:42] TylerStandage commented on #311
Chrome oval should be exported in exact sizes, but we need to change the ccitems spreadsheet to price per linear foot rather than per item.

All other rod types we should export the count of 8' rods required for the job, and the pricing should be number of rods times the price.

Let me know if this doesn't make sense and we can talk it through.

[2021-03-04 22:44] TylerStandage commented on #319
Thanks Sean, is there anything we can do about it or does explorer just get bogged down sometimes?

[2021-03-04 22:45] TylerStandage commented on #174
@nailsonlandim I'll move this to ready to merge

[2021-03-05 13:37] nailsonlandim commented on #313
Hi @sarahhightower @TylerStandage

I removed the wrong dimensions on pre-2d scene.

![313-1](https://user-images.githubusercontent.com/70038700/110122333-42907400-7d9e-11eb-80fa-686887a815f1.png)

![313-2](https://user-images.githubusercontent.com/70038700/110122339-445a3780-7d9e-11eb-950f-d1bd84f6b9f7.png)

Tell me your thoughts.

Available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue

[2021-03-05 16:54] sarahhightower commented on #313
Hi @nailsonlandim. I ran 2 tests and all seems to be working well. Thank you!!!

[2021-03-05 21:23] TylerStandage opened #321 "Update SNaP Library in Support of Pricing Software"
Update to latest: https://docs.google.com/spreadsheets/d/1Ct8TNYSVwu4HVSvmL9g3ovgMTJB-FsqerqUbqH-3ggc/edit#gid=1888329563

@RyanMDev  @ClassyTeddy  I assume we can go ahead and update to the latest version of our pricing sheet?  We've made recent updates, especially to the hamper section.

[2021-03-05 21:24] TylerStandage commented on #321
Let's be sure this gets into the 2.0 release

[2021-03-05 21:34] ClassyTeddy commented on #321
So I can update the CCItems fairly easily, but I would like to ask @RyanMDev if there is anything that needs to be done to CCItems for the 2.0 version of SNaP, or should I just make a new branch and pull request to update the file as normal?

[2021-03-08 21:14] TedCC1209 commented on #299
This looks good on the default-swing-opening-with-BCP branch. Thanks @JJanneh

[2021-03-08 21:15] TylerStandage commented on #282
@SeanRadvan do you know if this issue made it into 1.2.4?  From the above it looks like it did. Wondering if we can close this one.

[2021-03-08 21:25] TedCC1209 commented on #263
The forced bottom KDs look good, thank you @JJanneh .

But now the capping bottoms look to be being incorrectly placed under hutched L/R partitions (extended down partitions) rather than being up against where the bottom KDs would be placed and inset between the hutched partitions. This may be because of the new prompt menus?

Correct capping bottom placement (how it currently is in the Master bra

[2021-03-08 21:27] TedCC1209 commented on #316
Looks good, thanks @ClassyTeddy

[2021-03-08 21:30] JJanneh commented on #304
@TedCC1209 @ClassyTeddy Thanks for guidance. @TylerStandage
Before Updated Logic and Drawers
![Screenshot (579)](https://user-images.githubusercontent.com/76751383/110383792-08330b00-801a-11eb-82ab-72551d8ae5bc.png)
After Updated Logic and Drawer Rebuild
![Screenshot (589)](https://user-images.githubusercontent.com/76751383/110383804-0e28ec00-801a-11eb-8645-355ebb141b58.png)
Ready for Testing Bran

[2021-03-08 21:30] TedCC1209 commented on #289
I'm thinking there should be a "Standard Fill" option and a "True Fill" option (open to different naming suggestions). True Fill would be the current fill option as it currently exists, then a Standard Fill option would be the proposal in this issue.

[2021-03-08 22:04] TedCC1209 commented on #272
This looks the same as before--even when deselected, if reselected then all options under "add L/R filler" remain selected and filled in with what was there previously. It's not a big thing though so I don't know that we need to worry about it (it all disappears from view anyway).

Jobs created in this branch (Option-to-edge-bottom-edge) also correctly export fillers with edgebanding and capping f

[2021-03-08 22:05] TedCC1209 commented on #253
This looks good to me, tested in the Option-to-edge-bottom-edge branch. Thanks @JJanneh

[2021-03-08 22:19] TedCC1209 commented on #58
I am not seeing any third line of holes showing up now? Are you seeing them @ClassyTeddy ? If so, maybe I am doing it wrong.

[2021-03-08 22:20] ClassyTeddy commented on #58
I am seeing them. Make sure that you place a new object. Save, export the room, open the room again, and then they should change.

[2021-03-08 22:25] TedCC1209 commented on #58
Yep. In Debug Mode, created new project, created new room, inserted a one hanging opening assembly with two partitions (16" deep), put in double hang that automatically sets the rod back 4", saved the room, exported the room's XML, reopened the room and I see the two partitions in the Closet Machining Setup but they only have the front and back lines of holes.

[2021-03-08 22:43] ClassyTeddy commented on #58
Alright, so I got it to show up on a partition that is less than 16 inches deep with a setback rod, but it doesn't show up for any partition larger than 16 inches. Let me go ahead and fix that.

[2021-03-08 22:54] ClassyTeddy commented on #58
Alright, should be good to go on the `Fixing-Third-Line-of-Holes` branch.

[2021-03-08 23:11] TedCC1209 commented on #58
Okay it is showing up now, thanks. Note that 99% of the time we don't set back rods in sections less than 16", so the functionality is most important at 16+" deep.

I still don't think the middle line is showing up in the right place. In the same situation I have been testing (a 16" deep partition with the standard 4" rod setback) I now come up with the following locations for the holes:

1. 1.689

[2021-03-08 23:22] ClassyTeddy commented on #58
All right, I'll take a look at the calculations again. I think it is placing them 4 inches back from the back holes instead of the front.

[2021-03-09 14:36] SeanRadvan commented on #282
@TylerStandage As far as I'm aware yes it is resolved.

[2021-03-09 15:54] #282 closed

[2021-03-09 18:46] TedCC1209 commented on #230
My preference would be that a shelf stack assembly would work like shelves behind doors where you can adjust the number of shelves in the assembly prompts and you are able to select individual shelves to adjust them (make KD, etc.). @ClassyTeddy said this is not possible with the current Shelves Only setup, however, so to make this happen is likely more work.

Because right now if you have an 8 sh

[2021-03-09 18:49] TedCC1209 commented on #111
Getting double bottom KDs again on shelf stacks in the master branch when the V (down) arrow is selected in the Opening Sizes prompts in the Opening Starting Prompts menu (to have the hanging assembly be floor based). Not sure if we want to reopen this issue or create a new one @TylerStandage

[2021-03-09 18:57] TylerStandage commented on #111
Let's wait on this one to see if it's an issue in 2.0 testing version as it should have been fixed in 1.2.4. Will move this to needs triage so it doesn't get forgotten.

[2021-03-09 19:40] ClassyTeddy commented on #230
Just to clarify on this issue. The reason that we cannot individually select shelves in `Shelves Only` is because it has a slider value with no limit. If we wanted to put all shelves into a single assembly that the value can be changes with we can, but we will always have to limit the number of shelves available, we cannot have the slider.

[2021-03-09 20:42] nailsonlandim commented on #300
Hi, @TedCC1209 @TylerStandage @sarahhightower @kategodfrey,

Here is the updated version, tell me what you think:

![widths_1](https://user-images.githubusercontent.com/70038700/110535109-9f718e80-80fe-11eb-8f2f-14311604f23d.png)

![widths_2](https://user-images.githubusercontent.com/70038700/110535117-a13b5200-80fe-11eb-9321-488e1bfef7d4.png)

![widths_3](https://user-images.githubusercontent.com

[2021-03-09 21:03] ClassyTeddy commented on #230
Just to clarify for @JJanneh, we now want to have all shelves in a single assembly, and have the quantity of shelves selectable in the prompts menu. Similar to how shelves function behind doors.

[2021-03-09 21:05] TedCC1209 commented on #300
Your examples look good @nailsonlandim --I had a question on the last one though. Are the dimensions above because of the capping bottom? My initial thought is that those dimensions should still be below because there are no other openings below them, only the capping bottom, but they are also fine above if everyone else is okay with them there.

I will do some testing on my own as well. Thanks!

[2021-03-09 21:08] RyanMDev commented on #321
@ClassyTeddy there should be no changes required, go ahead and submit a pull request updating the file as normal.

[2021-03-09 21:12] JJanneh commented on #263
@TedCC1209 @TylerStandage @ClassyTeddy Thanks. Issue with the bottom KDs placed and inset between the hutched partitions error corrected.
Ready for Testing **Force-Bottom-KD** Branch

[2021-03-09 21:27] nailsonlandim commented on #300
Hi @TedCC1209,

Fixed. Now it stays below. It was being placed above if there is one hanging opening at the wall and their openings are above the half of the wall.

![widths_5](https://user-images.githubusercontent.com/70038700/110540053-c59a2d00-8104-11eb-8919-436744f53015.png)

[2021-03-09 22:57] AntonioGloria commented on #233
Hi @TedCC1209, @TylerStandage

The break in the entry wall for plan views is ready. Also included are symbol drawings for single and double swing entry doors.
![Entry_SingleDoor_LeftSwing_Normal](https://user-images.githubusercontent.com/74732175/110549448-b19bfe80-80f7-11eb-8970-e1000a0ed453.png)
![Entry_SingleDoor_LeftSwing_Reverse](https://user-images.githubusercontent.com/74732175/110549451-b2

[2021-03-09 23:47] TedCC1209 commented on #263
This looks good as well, thanks @JJanneh

[2021-03-10 14:50] JJanneh commented on #230
@ClassyTeddy Thanks. Ok I will use this as a reference to have all shelves in a single assembly, and have the quantity of shelves selectable in the prompts menu. Similar to how shelves function behind doors.

[2021-03-10 14:53] TedCC1209 commented on #230
@sarahhightower @kategodfrey do you guys agree with this approach? Or do you all prefer the separated out shelf stack assemblies?

[2021-03-10 16:23] SeanRadvan opened #322 "Force double door not changing checkbox"
![image](https://user-images.githubusercontent.com/54151330/110661608-fbc9c200-8181-11eb-8ecd-19c634cc44d9.png)
increasing the width of a pard correctly forces double doors over 24" but isn't updating the checkbox value to reflect this.  Appears to be working correctly on placement.
*note the box wont change anything because double doors are forced, the box should just reflect this.

[2021-03-10 16:32] TylerStandage commented on #322
Thanks @SeanRadvan .  @sarahhightower where the opening of the section is large enough that double doors are forced, do you think designers would prefer to have the box "checked", or would it be better to remove that line/checkbox altogether since the option doesn't exist anyway?

[2021-03-10 17:07] kategodfrey commented on #319
So what does this mean for the user and what can they do? I am going on over 10 min of opening snap...

[2021-03-10 17:10] kategodfrey commented on #67
Did we ever get a clear answer on why this happens? We have another user running into this issue right now. She is on version 1.2.4

@SeanRadvan

[2021-03-10 17:18] TedCC1209 commented on #230
@JJanneh the _default_ number of shelves should 5 (the number of shelves when it is first placed into the scene), it should not be a minimum. The minimum number of shelves should be 1. Thanks, Ted

[2021-03-10 17:33] sarahhightower commented on #230
@TylerStandage and I were just chatting about 1 being the minimum as well. Thanks @TedCC1209 .

We also just wanted to suggest an idea to gauge the ease of feasibility. Would it be possible to have the default be determined based on the sizing of the opening space? For example, if we said we want the default spacing of our shelves 12" apart minimum then a 25.94" pard would default to 1 adjustable

[2021-03-10 18:14] SeanRadvan commented on #67
So it appears to be that whenever she tries to open projects it can't find them for some reason and is erroring out.  When it does it creates a copy of the ccp file in a new folder for some reason.  New projects I created don't appear to have that issue at the moment, but the old files do.
[logfile (1).log](https://github.com/CCDevNelson/Snap-Updates/files/6117984/logfile.1.log)
![Screenshot 2021-

[2021-03-10 19:03] ClassyTeddy commented on #67
I googled the error message and [this](https://www.katsbits.com/codex/missing-dna-block/) came up. @SeanRadvan, could you try some of the suggested fixes and see if that solves the issue?

It seems like the error happens when a .blend file gets corrupted by suddenly getting the save process cut off. This can happen due to crashes, power outages, etc.
Not sure if this is the exact problem that we h

[2021-03-10 19:30] SeanRadvan commented on #67
As far as I can tell that might be it.  Luckily I knew what project she was working on when it started acting up, and was able to isolate it.  Since I didn't test every single room there might be others, but from what I can see removing that file and the junk folders worked.

[2021-03-10 20:22] TedCC1209 commented on #230
Good idea, that would be great
Yeah I think that would be good to have it adjust the default amount to based on the partition height for that opening.

[2021-03-10 20:36] AntonioGloria commented on #249
Hi @TedCC1209,
Could you share the project file you used to generate those elevations? Thanks.

[2021-03-10 21:34] TedCC1209 opened #323 "Restrict Saving 2D Views to only .pdfs"
When saving 2D views, all file types show up in the drop down for the project folder it is being saved to:

![file types](https://user-images.githubusercontent.com/61025894/110699049-adc9b400-81ab-11eb-93e1-3ee8f4ff0925.png)

We have a bunch of issues where .ccp and .blend files are being "corrupted" and causing issues with whether jobs are showing up in the project lists in SNaP, etc.  I believe

[2021-03-10 22:15] TylerStandage commented on #322
@RyanMDev we have a number of issues related to file saving. I'd like to get as many as possible resolved for 2.0 release. I'll get the info together into one place so we can talk abt it on Friday.

[2021-03-11 15:02] nailsonlandim commented on #312
Hi @sarahhightower @TylerStandage @TedCC1209,

Take a look and tell me what you think.

![312_1](https://user-images.githubusercontent.com/70038700/110807094-74538000-8261-11eb-90b0-575a91bf62d0.png)

![312_2](https://user-images.githubusercontent.com/70038700/110807098-761d4380-8261-11eb-9262-0c82e059e3f8.png)

It's available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23312-height-

[2021-03-11 16:22] TylerStandage opened #324 "2D Views: Double Partition measurements not overlapping"
Sometimes when there are double partitions, the measurements of partition heights overlap as in this image:

![image](https://user-images.githubusercontent.com/77167318/110818990-9f7aa700-8242-11eb-8efa-a467068139a0.png)

We should move the measurements of the partition on the right side to inside the opening it pertains to like below:

![image](https://user-images.githubusercontent.com/77167318/1

[2021-03-11 17:39] ClassyTeddy commented on #172
Ready for testing on the `Improving-L-and-Corner-Shelves` branch

[2021-03-11 17:48] JJanneh commented on #219
@ClassyTeddy This is similar to the XML Export: Fillers #271 but cleat should have 3" added to it's width in the XML. I also noticed that when you try Wall-Cleat-Edgebanding branch it tries to force update.  I can just create a new branch off the Master Branch.

[2021-03-11 17:56] ClassyTeddy commented on #219
So the reason it is asking you to update is because you did not follow my instructions in my last comment of issue #252 AND you appear to have made each branch based off of your current branch, not the master branch. Meaning every branch that you had was not technically up to date with the master. ALWAYS make new branches off of the Master Branch. The only reason you wouldn't is if you were doing

[2021-03-11 18:01] TylerStandage commented on #172
@ClassyTeddy I see the updated drilling value for mitered pards in XML export for both corner and L shelves.

![image](https://user-images.githubusercontent.com/77167318/110832949-b922eb00-8250-11eb-86bd-2bdca2b561a8.png)

[2021-03-11 18:40] TylerStandage commented on #172
I also see in the machining setup views of the drilling that the drilling extends the full length of the pard in both cases.  I'd say we are good to go to merge this one.

![image](https://user-images.githubusercontent.com/77167318/110837480-21c09680-8256-11eb-8bb3-9943a784c625.png)

[2021-03-11 18:58] sarahhightower commented on #312
Thanks @nailsonlandim!

This looks great overall. Below are my comments;

1. The pre 2D generation screen looks a little strange with pard sizes in places they don't belong. The measurements are right though (so this isn't the same as issue #313). Not a bit deal...just pointing this out.

2. Measurements look good separated. Are they intentionally bolded?

![3](https://user-images.githubuserconten

[2021-03-11 19:39] ClassyTeddy commented on #317
Ready for testing on the `Improving-L-and-Corner-Shelves` branch.

[2021-03-11 19:41] nailsonlandim commented on #312
Hi @sarahhightower, thanks for the feedback.

You mean like in this image, right? I switched them back to regular dimensions to deal with a condition that made them as dashed lines.

![3](https://user-images.githubusercontent.com/72047269/110839692-145cd980-8261-11eb-87c4-9513dd6e1140.jpg)

They look that way due the use of blender text objects, they are more precise for displacement.
@AntonioGlor

[2021-03-11 19:59] sarahhightower commented on #312
Yes, that's the image I was referring to. I wasn't referring to dashed lines though. I was referring to how their placement of the pards was shifted to the left.

![3](https://user-images.githubusercontent.com/72047269/110846971-96510080-8269-11eb-839a-f4130709c68b.jpg)

Gotcha. Okay thanks.

[2021-03-11 20:23] TylerStandage commented on #317
I'm seeing the drilling in the machining view, so it appears to be added and just to one side.  I can't see how to confirm that the drilling is standard locations from the sides, though... Can someone point me to where to see that info?

[2021-03-11 20:27] nailsonlandim commented on #312
Got it @sarahhightower, I'll tackle it on #324 Thanks again for the feedback

[2021-03-11 21:19] ClassyTeddy commented on #317
So that would be in the XML file, and you have to look at the coordinate values of the holes. The holes coordinate values can be found by opening the XML file, opening the job/room, opening the manufacturing folder, then opening operation groups until you find a panel with drilled hole circles. Look at the following screenshot for reference:
![Drilled Hole Location Example](https://user-images.git

[2021-03-11 21:20] ClassyTeddy commented on #317
X is the height on the panel, Y is the distance from the front edge, and Z is the depth of the hole I believe

[2021-03-11 22:17] TylerStandage commented on #317
Thanks @ClassyTeddy . I've confirmed that the drilling is the same distance from the edges as we'd see for any 12'' pard.  I also checked out the XML output for a corner shelf that has a 16'' deep left side pard. The drilling looks good in the machining view in SNaP, but the SML export may be off. On the left below is a 16'' pard from a 47.37, standard opening. The y value is the distance from the

[2021-03-11 23:01] ClassyTeddy commented on #317
So the Y value is always measuring the distance from one side of the partition as I understand it. I am unsure if it is from the front or the back. I am also unsure if it always measures from the front side or the back every time. It might be different for anything that is single sided or double sided.

I do know however that when using the drilling debug mode, you can open up the context menu and

[2021-03-11 23:08] TylerStandage commented on #317
Cool, thanks for the tip... that helped confirm that the distances are right in the machining view.  I also realized that I was looking at the mitered pard drill locations. Scrolled further down the XML and found the right pard with the right locations.  This is good to go. Thanks @ClassyTeddy

[2021-03-12 15:10] nailsonlandim commented on #162
Hi @TylerStandage @sarahhightower @TedCC1209 @kategodfrey,

Here are the window dimensions. There is a new option on Closet 2D Setup.

![162](https://user-images.githubusercontent.com/70038700/110958586-9ca7b100-832b-11eb-92ba-6a22d10b1528.png)

![image](https://user-images.githubusercontent.com/70038700/110958811-d7114e00-832b-11eb-8ee8-dc7c9da266d7.png)

Tell me what you think, thanks!

It's Ava

[2021-03-12 21:31] ClassyTeddy commented on #169
This is mostly ready for testing on the `Improving-L-and-Corner-Shelves` branch, except for the L Shelf door opening, which I go into more detail on issue #170, as well as the following comment:

So how do we want this to function? Should it adjust automatically with door size, based on a certain distance from the top or bottom of the door, and the pull location merely moves it up and down from th

[2021-03-12 21:36] ClassyTeddy commented on #170
This is mostly ready for testing on the `Improving-L-and-Corner-Shelves' branch. The one thing that I still need to work on is the Lazy Susan style Doors opening. I am not quite sure how they should look when finished opening, i.e. what their position should be.

If I could get a picture/drawing/diagram of them closed and then opened that might help a lot. It will definitely be the hardest part to

[2021-03-12 21:42] sarahhightower commented on #170
Here are a few visuals. Do these provide the necessary help?

![Lazy Susan](https://user-images.githubusercontent.com/72047269/111001366-e18a1280-8340-11eb-8db2-7bf8535dc771.jpg)

![L Shelf Lazy Susan Door](https://user-images.githubusercontent.com/72047269/111001474-11391a80-8341-11eb-9a58-119fbd3e160f.jpg)

[2021-03-12 21:44] ClassyTeddy commented on #170
The degree amounts help a ton, thanks.

[2021-03-12 21:57] TedCC1209 commented on #169
I would say let's have the same door options as regular doors to determine the handle placement (upper, base, tall). That way doors would be somewhat uniform across the software.

[2021-03-12 22:03] TylerStandage commented on #169
I agree.  Makes the software a bit more intuitive, especially for newer designers, if similar items/options are treated the same way in different scenarios.

[2021-03-12 22:10] TedCC1209 commented on #319
Sean I am getting long start up times on my computer here at Nelson (my tower, not my laptop, so it is always only on our server). I haven't been able to open any of my three versions of SNaP today (SNaP-Dev, Nailson's repository, or 2.0) even after restarting my computer. Feel free to come look on my computer for more clues on this one.

[2021-03-15 17:13] TedCC1209 commented on #169
@ClassyTeddy I am wondering if you put hinge drilling in for the doors (particularly on the inside lazy susan door where there will be hinge drilling for connecting to the partition as well as hinge drilling for connecting to the other door which will not have any drilling).

[2021-03-15 17:32] ClassyTeddy commented on #169
There is currently no drilling for hinges on Corner or L Shelf doors I believe. I will have to double check.

[2021-03-15 20:11] TedCC1209 opened #325 "2D Views: Floating Wall Height Dimension on Plan View for Single Walls"
The wall height dimension on the plan view floats out in space for single wall scenarios:

![image](https://user-images.githubusercontent.com/61025894/111215103-fb6d6480-858f-11eb-8325-b1faeee5b6e6.png)

Need to have it moved over to point at the wall.

[2021-03-15 21:54] JJanneh commented on #230
@TedCC1209 @TylerStandage @ClassyTeddy Currently Prompt to add Shelves options (up to a 15 shelf shelf stack). Working on Logic to display correct number of Shelves.
![Screenshot (678)](https://user-images.githubusercontent.com/76751383/111226296-23fc5b00-859e-11eb-8d48-76562408f460.png)

[2021-03-16 14:47] nailsonlandim commented on #324
Hi @TylerStandage and @sarahhightower,

Now the partition height labeling checks for overlaps and displaces the dimensions, one at 1/4 of the partition height and the other at 3/4 of the partition height. It can handle an overlapping tolerance of one inch. above that, I think it won't overlap.

![324_1](https://user-images.githubusercontent.com/70038700/111328191-c96e0800-864c-11eb-8689-20af586870

[2021-03-16 14:53] TylerStandage commented on #324
Thanks @nailsonlandim, great that it doesn't overlap, which is most important.  I had suggested we also move the numbers for the pards to inside the section they pertain to, possible flipping them 180 degrees to rest against the relevant pard.

@sarahhightower are you ok with the approach nailson has taken?  It does seem to avoid the overlap, which may be sufficient.

[2021-03-16 15:01] nailsonlandim commented on #324
@TylerStandage I'll check with @AntonioGloria about this possibility. Now that they are detected and handled we can perform experiments.

[2021-03-16 15:18] TylerStandage commented on #324
@nailsonlandim let's wait to dig into it more until we get sarah's opinion.  If this is good enough, then we can call it good.

[2021-03-16 15:23] TedCC1209 commented on #324
I'd much prefer Tyler's suggestion of moving the dimension to the inside of the section of the pertain to, with or without flipping it 180 degrees.

[2021-03-16 15:24] TylerStandage commented on #324
@nailsonlandim then let's go ahead and figure out how to do it.  thanks for the weigh-in @TedCC1209

[2021-03-16 15:25] sarahhightower commented on #324
I'd really like it on the inside as well. Thanks!

[2021-03-16 16:07] TylerStandage commented on #324
Note that putting it inside the other section is only needed when there is a double pard... Not sure if that makes it harder to find a solution for. Please let me know if you have questions or want to talk about what it should look like.

[2021-03-16 21:49] nailsonlandim commented on #324
Hi @TylerStandage @TedCC1209 and @sarahhightower,

I did the adjustments.

![image](https://user-images.githubusercontent.com/70038700/111384344-24712080-8688-11eb-8d77-0a3933e7920a.png)

Tell me what you think. Available at: https://github.com/nailsonlandim/SNaP-Dev/tree/324-double-partition-overlapping

[2021-03-16 22:01] TylerStandage commented on #324
@nailsonlandim this looks good to me! @sarahhightower @TedCC1209 any further comments based on the above?

[2021-03-16 22:15] TedCC1209 commented on #324
Thanks Nailson. Can we have them still be centered vertically on the partition?

![double pard labels](https://user-images.githubusercontent.com/61025894/111387072-655a3c80-866a-11eb-8951-aaf3a9d4ef11.png)

[2021-03-16 22:38] nailsonlandim commented on #324
I can tweak a bit more to make it as similar as possible, but rotation on labels works in a different way than other objects,

The dimension upwards (90 degrees)
![image](https://user-images.githubusercontent.com/70038700/111388674-7a48c700-868e-11eb-953f-94d1361cce0d.png)

The same dimension tilted 180 degrees (-90 degrees)
![image](https://user-images.githubusercontent.com/70038700/111388749-9c4

[2021-03-16 22:53] TedCC1209 commented on #324
Personally I'd prefer it be centered and not rotated rather than rotated and off-center. Not sure what @TylerStandage and @sarahhightower think though.

[2021-03-16 22:54] TylerStandage commented on #324
No strong opinion on it.  @sarahhightower ?

[2021-03-16 22:57] sarahhightower commented on #324
I agree with @TedCC1209. I would prefer it being centered over it being rotated.

[2021-03-16 23:17] nailsonlandim commented on #324
Agreed, it looks much better now. Thanks @TylerStandage @TedCC1209 and @sarahhightower for the prompt feedback (and patience)

![image](https://user-images.githubusercontent.com/70038700/111391357-360bf580-8693-11eb-8921-bfe88f44a3b1.png)

[2021-03-16 23:17] TylerStandage commented on #324
I'd call that good to go, thanks @nailsonlandim !

[2021-03-16 23:29] sarahhightower commented on #312
Hi @nailsonlandim. I've been working in this repository today because I need visuals with clear height labels. In doing so, I've noticed that the pard height labels are locked and can not be moved like in other repositories/versions. Is this a change that will implemented when the height labels fix is merged with the master branch?

https://drive.google.com/file/d/1ZGwZmzQTeX7fWOZOd2I1O2jUIw0Y7EGp

[2021-03-17 13:46] nailsonlandim commented on #312
Hi @sarahhightower,

We can pair so we can talk more about it.

[2021-03-17 15:50] nailsonlandim commented on #325
Hi @TedCC1209 and @TylerStandage

Fixed it. Now single walls have the PV hashmarks at the correct location.

![image](https://user-images.githubusercontent.com/70038700/111496300-f68aeb00-871e-11eb-8866-c337fa42fab0.png)

Available at https://github.com/nailsonlandim/SNaP-Dev/tree/325-floating-wall-height-on-single-walls

[2021-03-17 16:23] TylerStandage commented on #322
@JJanneh @SeanRadvan I agree with @sarahhightower that we should probably leave it there. Note that 24 inches is the limit for a section width for a single door, so anything wider than that would be an exception that should be approved and discussed in detail. Is it possible to have a pop-up note when hovering over the check box that describes the rule so that it's not too confusing to the designe

[2021-03-17 21:12] TylerStandage commented on #67
Hi all, is this issue still happening?  Seems like perhaps it is not?

[2021-03-17 21:17] SeanRadvan commented on #67
Short answer is yes, I just had an issue with it yesterday.  It seems to be an issue with corrupted save files and for some reason blender creates multiples of files.  I havn't been able to figure out why the files were being corrupted (can't even 100% confirm that was the issue) so its hard to say if it was user error or a snap issue, but I'm thinking the first one.  Removing the affected folder

[2021-03-18 13:38] JJanneh commented on #322
@TylerStandage @ClassyTeddy
I believe it's possible. I just would have to touch base. Request to have a pop-up note when hovering over the check box that describes the rule so that it's not too confusing to the designer. Stating Note that 24 inches is the limit for a section width for a single door, so anything wider than that would be an exception that should be approved and discussed in detail.

[2021-03-18 14:30] JJanneh commented on #219
@TedCC1209 @TylerStandage @ClassyTeddy Wall Cleat Edgebanding All four sides complete. Ready for testing on the Wall-Cleat-Edgebanding branch

[2021-03-18 20:08] TylerStandage opened #326 "XML Export For Raised Panel Doors"
Need to add Raised Panel Door information to the XML export. Currently the XML includes stain color, but no details on the drawer/door/hamper faces. What needs to be exported:

1. Door style
2. Height/width
3. Center rail location
4. Drilling information
5. Stain color / glazing option
6. Glass insert information

Because there is no edge banding, there is no need for SKU, edge color/profile, etc.

[2021-03-18 22:10] AntonioGloria commented on #249
Hi @TedCC1209, @TylerStandage
The elevations scale and position have been fixed for the PDF documents.
![elevations_scale_position](https://user-images.githubusercontent.com/74732175/111704165-4f807f00-8804-11eb-9f9e-14d5f2688f71.png)
The fix is available here: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23249-elevations-scaled-with-one-another

[2021-03-18 23:34] TylerStandage commented on #266
@ClassyTeddy let's put this on the priority list after corner and L shelves as one that needs to get into the 2.0 release. Ted thinks SNaP is using the user name to look for the ccp file, so it's likely a file path issue. Let us know when you're ready to start working on this to discuss if needed.

[2021-03-19 14:09] ClassyTeddy commented on #219
Actually @JJanneh, I think for consistency with how other object are edgeband, we should use the 'Exposed Left', 'Exposed Right', 'Exposed Bottom', and the 'Exposed Top' checkbox option in the prompts, then as with most other objects, we will determine what is long and what is short upon export.

[2021-03-19 14:16] ClassyTeddy commented on #322
So @JJanneh and @TylerStandage, having a popup show up while in the prompt menu unfortunately is not an option. We can however create a new line and display Text that reads similar to how the popup would read, and it could only show up if the new 'Double Door Auto Switch' prompt was changed from the default of 24"

[2021-03-19 14:41] TylerStandage commented on #219
@JJanneh @ClassyTeddy consistency in the language sounds like the right approach. Here's the top shelf exposed edge prompt which is similar to what J showed me yesterday.

![image](https://user-images.githubusercontent.com/77167318/111797180-27396480-8886-11eb-91d7-f8f5b7ab90bb.png)

[2021-03-19 18:21] nailsonlandim commented on #281
Hi @TylerStandage @sarahhightower @TedCC1209,

I am working on Accordion View and I would like to ask:

How many walls can exist in a project? The reason I ask it is that for this kind of view some values will be dynamic to adjust the camera and render settings.

I think that making equations for that is a better solution but is good to know how far I need to guarantee: (10 walls, 15 walls...)

![

[2021-03-19 18:42] TylerStandage commented on #281
Hi @nailsonlandim As discussed, instead of a limit on the number of walls on a page, let's put the limit on the number of  wall inches.  For example, say ~450'' is about the limit of what looks ok on the view... we identify how many walls in the project from left to right add up to less than 450, and that's what goes on the first page of the view.  Then any remaining walls go to the next page with

[2021-03-19 21:38] JJanneh commented on #219
@TylerStandage Here is a mock up image.
![Wall_Cleat_EB_Prompt_2](https://user-images.githubusercontent.com/76751383/111844707-c67b4d80-88c0-11eb-95ea-7cb528bed273.PNG)

[2021-03-22 20:06] AntonioGloria commented on #258
Hi @TylerStandage, @TedCC1209,

Here are the annotations for the CT Overhangs, along with the menu option to add them.
![Label_Parts_Menu_Option](https://user-images.githubusercontent.com/74732175/112051131-3125c680-8b17-11eb-90c8-1105aab3326c.png)
![Wall A](https://user-images.githubusercontent.com/74732175/112051135-31be5d00-8b17-11eb-97df-583fbef9689a.png)
![Wall B](https://user-images.githubus

[2021-03-22 23:04] ClassyTeddy commented on #170
This option is ready for testing on the `Improving-L-and-Corner-Shelves` branch. I know that it isn't exactly what we are looking for, but it is about as good as I can get it. Please let me know your thoughts.

[2021-03-22 23:45] TylerStandage commented on #170
Hi @ClassyTeddy looks this was a tough one.  Would it be possible to just have a few options for opening the door rather than being able to choose a % from 0-100?  If we could just do "closed", "half open", "open", then we could just set the angles for those three options and call it good? I'd even be happier with just two options... closed and open, where the open option is mostly open with the a

[2021-03-23 02:05] sarahhightower commented on #170
Great job @ClassyTeddy! @TylerStandage and I chatted about this after his last message. For now, we think it's sufficient in 2D and design mode. Thank you!

[2021-03-23 02:15] TylerStandage commented on #170
@ClassyTeddy, given Sarah's feedback, let's go with what you've done so far as what we will get into the 2.0 release. I'll make a note that at some later stage we may return to the design view options to see if we want to change at all. This one did look tricky, so good work getting to a good result, thanks!

[2021-03-23 17:21] TedCC1209 opened #327 "White & Almond Cleat and Cover Cleat Edgebanding"
Currently the edge banding for white cover cleat looks to be exporting 3mm edge (EB-0000314). We need to make sure the edge banding for cleats and cover cleat for white and almond export as follows:

White:

Cleat - EB-0000004
Cover Cleat - EB-0000316

Almond:

Cleat - EB-0000001
Cover Cleat - EB-0000315

[2021-03-24 15:08] JJanneh commented on #320
@TedCC1209 @TylerStandage @ClassyTeddy Currently Exporting ![Screenshot (729)](https://user-images.githubusercontent.com/76751383/112333578-f7b89c80-8c77-11eb-9a29-f0487818ca0c.png)

[2021-03-24 15:19] TylerStandage commented on #219
Thanks @JJanneh, the check box options for "Exposed edges" should be 'Left', 'Right', 'Bottom', and 'Top'

[2021-03-24 16:01] JJanneh commented on #219
@TylerStandage @ClassyTeddy Updated Exposed Edges Prompts ![Screenshot (737)](https://user-images.githubusercontent.com/76751383/112341948-14a49e00-8c7f-11eb-9333-2cc981485abb.png)

[2021-03-24 17:26] AntonioGloria commented on #258
Updated the feature to also label overhangs in island countertops
![Island](https://user-images.githubusercontent.com/74732175/112355625-75d66c80-8c93-11eb-888c-a705511f39ff.png)

[2021-03-25 00:31] TylerStandage commented on #258
Thanks @AntonioGloria, I see it working on the islands now.  However, it looks like it is no longer showing on the countertops I put over pards on the wall.

Also, we don't have an indicator for the front overhang. Can we add that as well, perhaps with the indicator line pointing to the middle of the countertop object on the left side like in this image?  The text should read "2'' Front Overhang".

[2021-03-25 01:51] TedCC1209 commented on #258
@TylerStandage I would say the front hang should show on a side view of the island, not on the front view.

[2021-03-25 02:03] TylerStandage commented on #258
@TedCC1209 I'm fine with that, though it looks like we will need to get issue #176 done first. @AntonioGloria, go ahead and figure out why the labels aren't showing on countertops on pards on the wall.  Let's then touch base abt you taking on 176 and where to prioritize in your list.

[2021-03-25 14:45] AntonioGloria commented on #323
Hi @TedCC1209, @TylerStandage,
I was able to ensure that a .pdf extension is always added to file names when generating the reports. There's a couple of cases I would like to ask you about.

The first is the one you mention in this post, where users select an existing file to copy its name, like the .ccp or .blend file.
The other, though not ideal or common, is that some people might use periods a

[2021-03-25 14:58] TylerStandage commented on #323
Hi @AntonioGloria , let's go with option C.  If the user clicks on the .ccp, or chooses it for whatever reason, the .ccp should be removed and replaced by .pdf.

Option B could lead to confusing file names, even if it does end up producing a .pdf.

[2021-03-25 17:44] JJanneh commented on #305
Ready for Testing Branch lateral-file-rails-#304

[2021-03-25 17:47] AntonioGloria commented on #323
Hi @TedCC1209, @TylerStandage,
This fix is ready for testing. The report exporter will only export files with the .pdf extension, and will only show .pdf files in the file browser.

![image](https://user-images.githubusercontent.com/74732175/112518082-ac2cee00-8d5e-11eb-8b42-69535a3c3eb6.png)
Available here: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23323-restrict-saving-2d-views-to-pd

[2021-03-25 19:54] TylerStandage commented on #258
@AntonioGloria this is confirmed done. Ready for merge.

[2021-03-25 20:05] TylerStandage commented on #323
I've tested with a few different approaches and it looks good to me! Thanks @AntonioGloria!

[2021-03-25 20:18] TylerStandage commented on #305
Thanks @JJanneh, it looks like it is currently changing the box size where the size is non standard. @TedCC1209 is that what you were looking for or were we expecting that there would be a gap between the rail  and the back of the box?

[2021-03-26 05:10] thedigitalzorn commented on #266
@TylerStandage @ClassyTeddy Would you mind if I take this issue?

Either way, if I userstand you correctly, the cpp file's rooms all have absolute paths. The trock would be to save they as relative paths and reconstruct them by joining the relative path with `bpy.context.preferences.addons['snap'].preferences.project_dir`

[2021-03-26 14:16] TylerStandage commented on #266
Hi Josh, check in with Teddy on this one as i think he had a proposed
solution.  And Teddy has plenty on his plate right now, so feel free to
take on 266 if it makes sense to do so after talking with Teddy.

On Thu, Mar 25, 2021 at 10:10 PM Joshua Zorn ***@***.***>
wrote:

[2021-03-26 14:18] TylerStandage commented on #266
I just chatted with Teddy. @thedigitalzorn go ahead with this one!

[2021-03-26 14:20] thedigitalzorn commented on #266
@TylerStandage Sounds good. I do want to note: I am doing this for SNaP 2.0. I got my issue boards mixed up, as I have been jumping between them.

[2021-03-26 17:33] JJanneh commented on #230
@TylerStandage @TedCC1209 @ClassyTeddy Thanks. Shelve Stacks placed in Hanging Opening now default to five on placement. Max to fifteen shelves. One to fifteen shelves are a selectable options. Still need to add additional check Prompt selection for evenly spaced shelves.
![default_5_Shelves](https://user-images.githubusercontent.com/76751383/112670233-e3ae9f80-8e1d-11eb-9b4e-86c07ba1db2e.png)
![S

[2021-03-26 17:41] TylerStandage commented on #230
Great, thanks!  Let us know when the checkbox for evenly space shelves is added.

[2021-03-26 22:44] TylerStandage commented on #231
@nailsonlandim,  @jacastillol-bairesdev is going to take a look at this issue for the 2.0 release. Once we get a lane opened up for him in the 2.0 repository, we will add this to his list there.  Thanks!

[2021-03-26 22:49] nailsonlandim commented on #231
@TylerStandage this issue is a great start point for @jacastillol-bairesdev. Thanks for updating me.

[2021-03-29 13:44] TedCC1209 commented on #111
Had a job go through the shop with duplicate bottom KDs (tall doors) that I didn't catch (v1.2.4). Here is the file:

https://drive.google.com/drive/folders/1-OBBvidGAo1_QrEIei__5grnDc61XBS-?usp=sharing

Would really like to get this one figured out.

[2021-03-29 13:48] #321 closed

[2021-03-29 13:48] #263 closed

[2021-03-29 13:48] #304 closed

[2021-03-29 13:49] #272 closed

[2021-03-29 13:49] #253 closed

[2021-03-29 13:49] #316 closed

[2021-03-29 13:49] #299 closed

[2021-03-29 13:49] #287 closed

[2021-03-29 13:49] #271 closed

[2021-03-29 13:49] #288 closed

[2021-03-29 13:49] #221 closed

[2021-03-29 13:49] #252 closed

[2021-03-29 13:50] #14 closed

[2021-03-29 14:58] ClassyTeddy commented on #169
The Pull Location Changes are ready for testing on the `Improving-L-and-Corner-Shelves` branch. I also changed some of the UI Slightly because 3 full combo boxes were a little large. Please let me know your thoughts on this.

[2021-03-29 18:22] TylerStandage commented on #302
Hi everyone,

I'm reviving this thread to ensure we all have the right steps for getting 2.0 ready for testing.  I've also added a screen shot to show where my folders are located after following the steps. I've placed my 2.0 on the desktop, but you can place it where makes for you on your computer.  Most important is that you do all of the steps and set the scripts path correctly. The back and fo

[2021-03-30 17:32] JJanneh commented on #320
@TedCC1209 @TylerStandage @ClassyTeddy Branch Ready for Testing Melamine-Countertop-edgebanding-#320

[2021-03-30 19:57] ClassyTeddy commented on #310
Shelves in corner and L shelf assemblies should now be individually selectable and should evenly space based on hole count. This is ready for testing on the `Improving-L-and-Corner-Shelves` branch.

[2021-03-30 22:30] CCDevNelson commented on #326
Mark’s answer/opinions see below

From: ClassyTeddy ***@***.***>
Sent: Tuesday, March 30, 2021 2:52 PM
To: CCDevNelson/Snap-Updates ***@***.***>
Cc: CCDevNelson ***@***.***>; Mention ***@***.***>
Subject: Re: [CCDevNelson/Snap-Updates] XML Export For Raised Panel Doors (#326)

So I have a couple of questions about this. So currently, door and drawer faces export, and they export the Door Style Nam

[2021-03-30 22:46] TylerStandage commented on #326
Some updates with my additional comments/clarifications:

***Currently, we just have the center rail say "No". How should I implement the center rail option? Should it be an option to turn on or off in the prompts menu, then the location can be changed if it is turned on?** Yes, the prompts menu will work.

***Should 0 be the center and positive goes up and negative goes down?** Yes, let's go with

[2021-03-31 13:52] ClassyTeddy commented on #326
So I need to make sure that any door, not drawer or hamper, is at least 47H before adding the option for the center rail. Also, what are the dimensions of a center rail, and is it vertical or horizontal?

*Does the glass piece need it's own export? Because the previous info would be needed, yes.

So those 2 things require the glass to be it's own part, which I think I can do, however, the size of

[2021-03-31 15:59] JJanneh commented on #230
@TylerStandage @TedCC1209 @ClassyTeddy Ready to test Shelf-Stacks-High-Shelf-Count-#230
"shelf_1" assembly can placed into a hanging opening with default 5 shelves then be adjusted from 1-15 shelf stacks. The individual shelves can now be selected and adjusted as needed. The default shelf selection is set to 5 shelves and can also be changed. These Prompt selection are currently ready to be tested

[2021-03-31 16:58] TylerStandage commented on #326
@ClassyTeddy the rail is horizontal always.

Will let @CCDevNelson answer the sizing questions.

[2021-04-01 15:41] JJanneh commented on #230
@TylerStandage @TedCC1209 @ClassyTeddy Ready for testing Shelf-Stacks-High-Shelf-Count-#230

[2021-04-01 16:32] ClassyTeddy commented on #230
@JJanneh We probably want to have the mm list issue solved before we consider this fully ready for testing.

[2021-04-01 20:39] TylerStandage commented on #326
@ClassyTeddy. Per a convo I had with @TedCC1209, here's the approach we think makes sense or the options on RPDs/center rails:

1. User selects whether there is a center rail (door must be 47 holes or greater)
2. User selects that they don't want center rail in center (if they don't check that box, then center is assumed and no further options appear)
3. User selects whether they want to adjust th

[2021-04-01 20:57] CCDevNelson commented on #326
I'm not sure that #4 is the best solution on that. My experience with Designers, they didn't know "hole counts" for items. Plus, that would not give me the information needed for the panel sizing. Then you have to account for 1/2 overlay, full overlay, etc.
Unless I am missing something here...wouldn't the designer have to know what the hole count on the one they are trying to match, is in fact, d

[2021-04-01 21:14] TedCC1209 commented on #326
When we say "match" it is referring to adjacent Classy built cabinets, so the designer/user will have to choose the hole count of those adjacent Classy built cabinets too--as in, there is a 24H upper adjacent to the applicable tall RP door and the user/designer is trying to match the location of the center rail of the tall door so that the center panel of the upper portion of the tall RP door is t

[2021-04-01 22:11] TylerStandage commented on #326
@ClassyTeddy you can move forward with the approach outline above. For the XML export, here is what is needed:

1. Yes or no on center rail
2. Whether center rail is centered or not
3. If not centered, whether user determining top or bottom section of the door
4. Hole count of determined section

[2021-04-01 22:53] sarahhightower opened #328 "Drawers Behind Doors"
We'd like to have the option to add drawers behind doors, with the following feature requests.

- [ ] The ability to add just the drawer box and no top KD, inset behind the door
- [ ] The ability to add a drawer box with drawer face, inset behind the door
- [ ] The option for designers to choose drawer size and spacing between drawers
- [ ] A 2H minimum spacing in between options that use just dra

[2021-04-02 14:45] ClassyTeddy commented on #326
Will the user be selecting the number of holes up, like go three holes up from the center? Or will they select something like go to the doors 24th hole? If it is the first option, what should be the minimum and the maximum values?

[2021-04-02 15:01] TylerStandage commented on #326
The user will select the equivalent sized door they want the upper or lower to match.  The minimum allowable value for either upper or lower should be the same as the minimum size of a RPD.  Do we have that value defined in SNaP already?

Note that if I choose to change the upper portion to be larger than it would be otherwise, I should not be allowed to change it so that the lower panel is smalle

[2021-04-02 20:27] TylerStandage opened #329 "Dovetail Drawer Boxes Add"
Add dovetail drawer boxes.  See attached files.  Please come talk to me about this one.
[Dovetail Boxes.pptx](https://github.com/CCDevNelson/Snap-Updates/files/6251156/Dovetail.Boxes.pptx)
[Dovetail drawers SNaP UI update and XML requirements.docx](https://github.com/CCDevNelson/Snap-Updates/files/6251158/Dovetail.drawers.SNaP.UI.update.and.XML.requirements.docx)

[2021-04-05 18:03] JJanneh commented on #230
@TylerStandage @TedCC1209 @ClassyTeddy Ready to test Shelf-Stacks-High-Shelf-Count-#230
![Screenshot (784)](https://user-images.githubusercontent.com/76751383/113607001-942a5980-95fd-11eb-9740-c2755f8351af.png)
![2021-04-05 10_59_48-SNaP](https://user-images.githubusercontent.com/76751383/113607608-3d714f80-95fe-11eb-978b-9660fe5006b4.png)
![2021-04-05 11_00_16-SNaP](https://user-images.githubuser

[2021-04-05 19:50] TylerStandage commented on #325
confirmed updated

[2021-04-05 19:53] TylerStandage commented on #310
Looks good, thanks

[2021-04-08 21:40] JJanneh commented on #230
@TedCC1209 @TylerStandage @ClassyTeddy Ready to test Shelf-Stacks-High-Shelf-Count-#230

[2021-04-08 21:42] ClassyTeddy commented on #230
Just to be clear, this issue is not finished and completely ready for testing

[2021-04-09 21:37] AntonioGloria commented on #267
Hi @TedCC1209, @TylerStandage,

The line has been removed. The method for creating the ceiling height dimensions was refactored to fix this issue, and some enhancements related to opengl dimensions have been added as well.
![Issue 267](https://user-images.githubusercontent.com/74732175/114242939-50af5280-9951-11eb-9882-c409075b533c.png)

Available here: https://github.com/nailsonlandim/SNaP-Dev/tr

[2021-04-09 22:11] TylerStandage commented on #267
Confirmed looks great, thanks @AntonioGloria !

[2021-04-11 16:58] TylerStandage commented on #249
Looks good, thanks Antonio

[2021-04-13 15:01] JJanneh commented on #230
@TedCC1209 @TylerStandage @ClassyTeddy Thanks for the guidance on this issue.
Ready to test Shelf-Stacks-High-Shelf-Count-#230 objects being placed over top of objects on overlapping locations has been resolved.

[2021-04-13 20:57] TylerStandage commented on #230
This looks good to me.  I can place the shelves, setback is working, can place above hampers/drawers, and can place above and below previously placed shelves.

[2021-04-13 21:46] TylerStandage commented on #230
I can also make shelves KDs. Ready to merge.

[2021-04-13 22:17] TylerStandage commented on #169
The door swings looks really good... great job! A few comments:

The prompt still says Corner Shelves Prompt:
![image](https://user-images.githubusercontent.com/77167318/114627533-40a5b480-9c6a-11eb-8bb3-59896e5f3363.png)

Having the handle go to a set height based on pull type can yield some weird results. For example, the default, even for L-shelves that have a toe kick and go to the floor, puts

[2021-04-13 23:07] TylerStandage commented on #320
First pic is the design with the edges indicated.  I did all edges except the right. The second image is what I see in my XML for the countertop.  I think it's exporting values for all sides, even though I did not select 1 of the 4 sides.  @teddy may be able to weigh in here?

![image](https://user-images.githubusercontent.com/77167318/114631829-325b9680-9c72-11eb-9957-7ebf005e008b.png)

![image](

[2021-04-14 13:37] ClassyTeddy commented on #320
I will have to look at the code that @JJanneh added, but it is most likely that it has been set to always export out all 4 sides, or if any single side has been selected as exposed, then it will export all 4 sides.

[2021-04-14 13:55] ClassyTeddy commented on #169
I can take a look at this, but isn't that how the base setting for pulls intended to work? I do want to say that this is how the pulls for doors work, and the different pull types affect basically the starting point for the pull distance.

Base currently starts at 2 inches and measures from the bottom, meaning that the pulls center starts 2 inches from the base of the door, and it ignores the toe

[2021-04-14 14:33] AntonioGloria commented on #292
Hi @TylerStandage, @TedCC1209,

I looked into this issue and found that the most consistent way the problem came up was when creating a PDF report and then trying to render or create 2D views again. This was because the script to create PDF reports was saving images to Blender's temp directory, and Blender's rendering would trip up when it found images with the same names it was trying to output i

[2021-04-14 14:45] TylerStandage commented on #169
Hi Teddy, when I started with a tall unit with a toe kick, the default was to have the pull near the floor.  Then when I changed the assembly to be hanging and an upper, the door pull stayed very close to the floor (didn't move with the change in the assembly). This is probably an issue across the board that can be handled separately.  Perhaps we could make the default for any of these doors in as

[2021-04-14 14:51] TylerStandage commented on #292
Seems like a good approach. I'm not seeing black boxes at this point.  Let's merge this, thanks Antonio!

[2021-04-14 17:37] sarahhightower commented on #169
@ClassyTeddy I think the base and upper handle placements are inverted. Base cabinets should have the handles 2" from the top. Upper cabinets should have the handle placed 2" from the bottom. This is how it functions with standard doors. Visual below.

![1](https://user-images.githubusercontent.com/72047269/114751649-4521aa00-9d0a-11eb-83a5-0ff02b9da8fa.jpg)

![2](https://user-images.githubusercon

[2021-04-14 19:08] ClassyTeddy opened #330 "Testing for 1.2.5 Release"
This issue thread will be a place for everyone to test and share any findings for all the commits made since release 1.2.4.
The branch to be testing on will be `1.2.5-Merge-Testing`

The following are a list of issues that should have fixes available for them on this branch.
* **2D Views Changes**
    * 2D Views - Plan view - Have door be a break/opening in wall rather than just dashes #233
    *

[2021-04-14 19:13] TylerStandage commented on #330
This is great @ClassyTeddy and @nailsonlandim, thanks for putting it together!

[2021-04-15 14:30] TylerStandage commented on #330
See Sarah's email that I've forwarded to the group with her comments from testing. Was going to cut and paste here, but it looks like the formatting is lost.

[2021-04-15 14:51] ClassyTeddy commented on #330
These two issues from @sarahhightower's  email seem to be relatively the same issue. For whatever reason, it appears like her instance that she was working in didn't update the scene right away when changes were made/when things were added. She had to change _another_ thing for it to actually update the scene. I am unsure as to why as I cannot replicate this issue.

This is working as intended for

[2021-04-15 15:36] TylerStandage commented on #330
I'm seeing the same issue with changing the shelf stack number of shelves; number only changes in scene after changing something else afterward.

Also seeing that the hutch back is extending out to the ends of fillers instead of nestling between the outer partitions.

[2021-04-15 15:55] JJanneh commented on #330
amount changed to .value thanks for update on the code in the data_closet_carcass.py file
**line 3052**
x_placement = self.product.obj_bp.location.x + l_thickness.value() + left_filler_setback_amount()
**changed----> x_placement = self.product.obj_bp.location.x + l_thickness.value() + left_filler_setback_amount.value()**
![Screenshot (813)](https://user-images.githubusercontent.com/76751383/114900

[2021-04-15 16:00] ClassyTeddy commented on #330
@JJanneh I already fixed the issue. I told you that. The line in question has NOTHING to do with the prompts menu. Please tell me why you copied lines 3041-3099.

[2021-04-15 16:07] JJanneh commented on #330
@ClassyTeddy
![2021-04-15 09_05_37-Set back filler option · Issue #252 · CCDevNelson_Snap-Updates](https://user-images.githubusercontent.com/76751383/114901766-f9363a00-9dc9-11eb-92a5-5b7d0088182f.png)

[2021-04-15 16:09] ClassyTeddy commented on #330
J that has to do with a problem with what you put in the drivers. That is about 2000 lines up in a different class from what I am talking about.

[2021-04-15 16:48] JJanneh commented on #330
This was a sample from the   left_filler.value() #LEFT FILLER above lines **2980-3028**

[2021-04-15 16:56] ClassyTeddy commented on #330
So then yeah, it should be removed. You copied over code that needed to look at the width for the plan view, and wrote extra code that instead of using the value of the width of the filler, it used the filler's setback value.

[2021-04-15 17:05] ClassyTeddy commented on #330
I just pushed a CCItems change that should hopefully solve this issue. I am unsure if this was causing other issues as well.

[2021-04-15 17:13] ClassyTeddy commented on #330
A fix for this is ready for testing on the `1.2.5-Merge-Testing` branch.

[2021-04-15 18:01] JJanneh commented on #330
L/R Capping filler, L/R EdgeBottom, Add Hutch Backing Image below shows working. ![Screenshot (816)](https://user-images.githubusercontent.com/76751383/114916273-787f3a00-9dd9-11eb-9994-4d3cdb51a31e.png)
![Screenshot (815)](https://user-images.githubusercontent.com/76751383/114916363-8df46400-9dd9-11eb-9dd5-89226ba8e05e.png)

[2021-04-15 19:57] nailsonlandim commented on #281
Hi @TylerStandage,

While dealing with dimensions on Accordion Views I got some strange errors (_that I am investigating BTW_).

When I add parts dimensions on Accordion Views it displays some objects that are not supposed to be there.

![image](https://user-images.githubusercontent.com/70038700/114929462-34585d80-9e0a-11eb-9adc-fe60de4c3c49.png)

But the images without the dimensions of the parts

[2021-04-15 20:31] TylerStandage commented on #330
I can't select other colors besides Oxford white for 1mm edge, drawer face, or general materials. You can see the slim black box trying to open, but there's nothing there. The countertop, stain color selections, etc look to be there, however.

![image](https://user-images.githubusercontent.com/77167318/114934519-d5391f80-9dee-11eb-8c30-40a4daf408ad.png)

[2021-04-15 20:47] TylerStandage commented on #330
when I click to render selected scenes in 2D view walls disappear and an error comes up.

![image](https://user-images.githubusercontent.com/77167318/114936270-0f0b2580-9df1-11eb-8b85-8c0eeb2c2374.png)

[2021-04-15 20:52] TylerStandage commented on #330
Here's what I see after I save the 2D view and the pdf pops up. THe PDFs aren't the design I made (they're somewhat close, but have extra openings and items running of in various directions. I've added the PDF here as well. I don't think I can manipulate the design anymore at the point.  The walls turn orange when selected and I can't get the full room/other walls to show up.

![image](https://use

[2021-04-15 20:57] RyanMDev commented on #330
It is an issue with `CCItems.csv`. I have a fix for this on 2.0.

This is likely causing the other issues you are seeing. Let me apply the fix to the `1.2.5-Merge-Testing` branch.

[2021-04-15 21:02] RyanMDev commented on #330
I am seeing this error on startup.

![ccitems-err](https://user-images.githubusercontent.com/6529544/114937780-19c6ba00-9df3-11eb-8e15-3ce4d01a12fa.png)

Are you seeing the same if you open the console window?

[2021-04-15 21:13] CCDevNelson commented on #330
I guess I'll chime in on this one....I'm pretty sure the new csv file has ALL 1mm Tape removed from it now.
This is a change that is happing at our production side, where everything that was label "1mm" is now "1 mm Dolce". Brock can verify all of this, but I do know that those "1mm" entries have all been removed.

[2021-04-15 21:18] JJanneh commented on #219
@TylerStandage @ClassyTeddy CheckBox Prompts currently Update on Selection change show in UI.
Currently testing Edgebanding for each CheckBox selection made. (Left,Top,Right,Bottom) ![2021-04-15](https://user-images.githubusercontent.com/76751383/114939167-e8e78480-9df4-11eb-9e7a-3ec5b7518e73.png)
![2021-04-15 14_10_16-SNaP](https://user-images.githubusercontent.com/76751383/114939171-eb49de80-9df

[2021-04-15 21:37] RyanMDev commented on #330
Fix for importing `CCItems.csv` is available on branch: `1.2.5-Merge-Testing`.

[2021-04-15 21:41] nailsonlandim commented on #330
Hi @TylerStandage, can you share the file involved in the 2D View/PDF Issue?

[2021-04-15 21:41] RyanMDev commented on #330
Another thing to note here:

Whenever there is a change to `CCItems.csv`, the "Load SNaP Defaults" command needs to run to rebuild the database and reflect those changes in the UI.