[2020-10-24 00:16] nailsonlandim commented on #163
Hi @TEDSTANDAGE

I've applied the changes you've asked.

![image](https://user-images.githubusercontent.com/70038700/97063201-ad21df80-1574-11eb-969e-876b022c22ca.png)

There is a 7" shelf, IDK if makes sense while designing a closet.

Thanks,
Nailson

[2020-10-26 14:55] ClassyTeddy commented on #207
Ready for testing on the  `Creating-Bottom-Capping-Library-Item` branch

[2020-10-26 19:58] ClassyTeddy commented on #213
Ready for testing on the Center-Rail-Option` branch

[2020-10-26 21:46] kategodfrey commented on #143
Looks good to me! I only notice more space when I add more shelves. The less shelves I have the less noticeable the "off" spacing.

[2020-10-27 03:14] sarahhightower commented on #143
All looks good to me as well! I see the option to add up to 15 shelves, no rectangles and spacing works just fine as I adjust the number of shelves. Thank you!

[2020-10-27 13:46] TEDSTANDAGE commented on #207
Good start. A couple things to address--When there is a capping bottom, instead of resizing to account for the 0.75" capping bottom the hutch back currently just moves down 0.75":

![image](https://user-images.githubusercontent.com/61025894/97309737-a5399800-181f-11eb-9188-25c543683ecb.png)

It should just take the top 0.75" off the back rather than move it down--it should still be flush with the

[2020-10-27 13:49] TEDSTANDAGE commented on #181
Is it possible to force bottom KDs of openings containing a capping bottom? If so, can we add that please? Thanks, Ted

[2020-10-27 13:55] TEDSTANDAGE commented on #213
Looks good to me, thank you Teddy. @CCDevNelson what do you think of this in the XML:

![image](https://user-images.githubusercontent.com/61025894/97311092-3a895c00-1821-11eb-9fe5-cf387b6143e4.png)

Also @CCDevNelson , do you need anything added to the Label for RP doors/faces or is where we are currently putting the style/glaze/center rail info sufficient?

Thanks,

Ted

[2020-10-27 14:09] TEDSTANDAGE commented on #163
Hi Nailson, can you move the topshelf (TS) depth to be centered on the TS rather than being on on the left side of the TS? Thanks, Ted

[2020-10-27 14:14] TEDSTANDAGE commented on #164
@sarahhightower @kategodfrey @JBTattersall Can you all look at all the changes Nailson has made (remember it is in his repository) and then let's get together to discuss the tweaks and additions we'd like to make? He has made a lot of improvements and I know every designer has their own way of doing things so we all might not agree with the way I have had him lay everything out. Let's discuss betw

[2020-10-27 14:32] ClassyTeddy commented on #207
If you make a change in the partition prompts, it will fix this. I'll try to make it work better however

[2020-10-27 15:08] nailsonlandim commented on #163
Sure!

[2020-10-27 18:05] TedClassy1209 commented on #202
Teddy, as promised see the following wood door order form which gives the minimum face size for the different raised panel drawer fronts (ignore the customer info):

![image](https://user-images.githubusercontent.com/61025894/97343080-4afefe00-1844-11eb-8a6b-d62df9f2024f.jpeg)

[2020-10-27 18:08] ClassyTeddy commented on #202
Is this for both Door and Drawer faces? Also, are these the minimum sizes for the associated glass inset doors/drawers?

[2020-10-27 18:51] ClassyTeddy commented on #208
Ready for testing on the `Oversized-Islands` branch.

[2020-10-27 19:00] TedClassy1209 commented on #202
The minimums are for drawer faces but would apply to doors as well I guess.

There isn't really a minimum for CFG doors, but let's make a 10H minimum for them as it doesn't make much sense to go smaller than that.

We don't really want to allow for glass inset drawer faces, they are a pain. The designer can make a special request if they want but we shouldn't have the option available on SNaP.

[2020-10-27 21:06] nailsonlandim commented on #162
Hi @ClassyTeddy could you give me a hint?

I've merged the `Melamine-CT` branch so I could add the Exposed label but while working on I couldn't access the properties as I did for Topshelfes

[code]

![image](https://user-images.githubusercontent.com/70038700/97355549-cfb64000-1875-11eb-991b-419a9f758f4e.png)

On Topshelves I could access directly the `mv.edge_w1`  (for instance) and it worked, bu

[2020-10-27 21:34] ClassyTeddy commented on #162
So what exactly are you trying to retrieve? Do you want to get the value of :
[code]

Or do you want the actual value of `mv.edge_w1`?

If you just want to know whether an edge is exposed or not, you can use:
[code]

Let me know if that helps at all.

[2020-10-27 22:10] nailsonlandim commented on #162
@ClassyTeddy Reading the property directly from the prompt worked like a charm, Thank you!

[2020-10-27 23:18] nailsonlandim commented on #162
Hi @TedClassy1209 , Finished it, tell me if you gonna need a prompt.

Countertop

![image](https://user-images.githubusercontent.com/70038700/97370889-cb4a5100-188e-11eb-8e62-d188744b64c6.png)

Topshelf

![image](https://user-images.githubusercontent.com/70038700/97371246-8bd03480-188f-11eb-9a55-14e497de64e8.png)

It's available at: https://github.com/nailsonlandim/SNaP-Dev/tree/162_exposed_label

[2020-10-28 17:45] sarahhightower commented on #208
Tested and it works on my end!

![SNaP_  C__Users_shightower_Documents_SNaP Projects_Hightower, Sarah_New Room_003 blend  10_28_2020 10_44_02 AM](https://user-images.githubusercontent.com/72047269/97475582-ab587300-190a-11eb-9ae6-98bccb44d128.png)

[2020-10-28 22:57] nailsonlandim commented on #164
Hi @sarahhightower @kategodfrey @JBTattersall , I've added the hash marks @TedClassy1209 asked me to do.

I changed the countertop labeling into two lines to fit it better. In some scenarios, it had the same length as the countertop. So now it fits the label and the line without problems.

![image](https://user-images.githubusercontent.com/70038700/97504861-88ec4700-1956-11eb-845b-76bcba5eb598.png

[2020-10-29 14:38] TedClassy1209 commented on #164
Thanks, great work. A few things—can you have the hash mark touch the corner or shelf or the exposed end it is referring to? Looks like it is hanging out in space in a few instances.

Also the hash mark should default to go up and to the right, so please switch the Topshelf hash mark.

Please change the word exposed to “Exp.”

Can you change the plan view to only have one wall/ceiling height notat

[2020-10-29 14:45] nailsonlandim commented on #164
Sure, I can work on that.

Understood

Ok

Ok, I'll think of a solution for custom rooms

[2020-10-29 15:26] TedClassy1209 commented on #164
Also to save space you can just use "C.T." instead of spelling out countertop and "Mel." instead of spelling out Melamine.

[2020-10-29 15:29] TedClassy1209 commented on #164
For the section depths, please follow the examples and have it coming off the bottom of the opening with the hash mark going up and to the right to the dimension.

[2020-10-29 20:26] TedClassy1209 commented on #143
Teddy I think we are good to go on this one. Thanks, Ted

[2020-10-30 14:06] nailsonlandim commented on #164
Hi @TedClassy1209

I did the adjustments you asked for. I am working on Plan view wall heights.

![image](https://user-images.githubusercontent.com/70038700/97713933-43876100-1a9f-11eb-8ea8-89e5121fa36f.png)

[2020-10-30 20:14] #187 closed

[2020-10-30 20:14] #189 closed

[2020-10-30 20:15] #203 closed

[2020-10-30 20:15] #183 closed

[2020-10-30 20:15] #182 closed

[2020-10-30 20:15] #5 closed

[2020-10-30 20:16] #95 closed

[2020-10-30 20:16] #59 closed

[2020-10-30 20:16] #175 closed

[2020-10-30 20:16] #62 closed

[2020-10-30 20:16] #116 closed

[2020-10-30 20:17] #192 closed

[2020-10-30 20:19] #188 closed

[2020-10-30 23:20] sarahhightower commented on #164
Hi Guys!

I just got the Nailson repository and tested this out.  I love all the progress that's been made! I'm including my 2D views and my feedback for continued development below.

* The EXP appears in places where it's not needed, and missing from the places that it is.  On Wall A it should only appear on the right end of the shelving unit.  It does not need to appear anywhere on Wall B. And o

[2020-11-02 16:35] TedClassy1209 commented on #164
Thank you Sarah, can you you also share the project file for that job? You can save it to Google Drive (the ccp file, blend file, etc.) then share the google drive link.

Nailson, please message me tomorrow when you are available and ready to talk about this--some of the items identified I don't think are with what you are working on (e.g., the granite countertop--the countertops are all showing i

[2020-11-02 17:40] sarahhightower commented on #164
Oh sure I can do that.  Sorry if I gave feedback that didn’t make sense for the situation. ☹ Sarah HightowerClassy Closets602-373-6103 From: TheoSent: Monday, November 2, 2020 9:35 AMTo: CCDevNelson/Snap-UpdatesCc: sarahhightower; MentionSubject: Re: [CCDevNelson/Snap-Updates] 2D View Enhancements / Labeling (#164) Hi Guys!I just got the Nailson repository and tested this out. I love all the progr

[2020-11-02 17:54] TedClassy1209 commented on #164
@sarahhightower It's all good, no need to be sorry. All the issues make sense, it's just that some of them aren't for Nailson to address which is why I wanted us all to discuss before we posted on here so that Nailson has clear direction from one voice on this. We will figure it all out when we meet Thursday though and we will have a good gameplan moving forward. I really appreciate your input.

[2020-11-02 18:10] sarahhightower commented on #164
Gotcha gotcha.

Here's the link to the file I provided the 2D views for:

https://drive.google.com/file/d/1YUrQ8xK1robtglNQW6FK2D5sZsEqFyFz/view?usp=sharing

[2020-11-02 22:26] TedClassy1209 commented on #153
Here is a job I tested:

![image](https://user-images.githubusercontent.com/61025894/97924241-8d30af80-1d1c-11eb-85e6-24df2553c6ec.png)

One 72" wide set of partitions with both ends returning 12" (96" total of crown)
One 120" wide set of partitions with no returning ends (120" total of crown)
One 36" wide set of partitions with both ends returning 12" (60" total of crown)

So, in total there is 2

[2020-11-02 22:43] TedClassy1209 commented on #208
So I see that the options are available in the prompts on islands now, but all the other island fixes don't seem to be on the test branch--can we get that merged so I can test more? The XML isn't accurate with chosen materials, etc., but I don't think the branch has all the other island fixes that were made before so I don't want to start pointing those issues out.

[2020-11-03 17:05] kategodfrey opened #215 "Updated Accessory Library"
Hi all... Been thinking it would be nice to have some closet accessories added like clothing and shoes in particular. I know it would add to the sales presentation! Here are some examples:

![shoes](https://user-images.githubusercontent.com/63115502/98017102-059a7d80-1dbc-11eb-9ea1-08dc75a4d99d.png)
![Accessory ideas](https://user-images.githubusercontent.com/63115502/98017105-06331400-1dbc-11eb-9

[2020-11-03 17:11] SeanRadvan commented on #215
Not sure this is high priority, but i agree.  Anything that makes it feel
lived is enhances the appeal.  I'm learning how to add/draw simple objects
into blender, so im "working" on this background.

On Tue, Nov 3, 2020 at 10:05 AM kategodfrey <notifications@github.com>
wrote:

[2020-11-03 17:21] kategodfrey commented on #215
https://www.turbosquid.com/3d-models/3d-realistic-folded-clothes-1293566

something like this would be great.

[2020-11-03 17:22] meltnaz commented on #215
In the object menu there are lots of options for clothing, shoes, and bags already loaded. Same goes for kitchen, bathroom and some furniture items. It does slow down the program, but definitely adds to the finished look.

Go to object menu, you'll see sample objects. To the right of that you can choose the room with relevant accessories.

![image](https://user-images.githubusercontent.com/3227576

[2020-11-03 18:04] kategodfrey commented on #215
https://www.blendermarket.com/products/ikea-set---decorations

[2020-11-03 18:08] kategodfrey commented on #215
Plants:

https://www.3dshaker.com/interiorplants

[2020-11-03 18:57] SeanRadvan commented on #215
Looking at the files you sent, im not 100% sure they are compatible with
our current snap build, as they only say~ they support down to 2.79. It
might work, but i know we are updating soon so the problem should fix
itself.

On Tue, Nov 3, 2020 at 11:09 AM kategodfrey <notifications@github.com>
wrote:

[2020-11-03 20:41] kategodfrey commented on #215
@SeanRadvan good point! I'll make a list that will works for 2.9

[2020-11-04 15:15] nailsonlandim commented on #164
I've done the adjustments on hash marks. Just one wall is marked, the first one...
![image](https://user-images.githubusercontent.com/70038700/98125427-3bf6fc00-1e93-11eb-88dc-4462764831fd.png)

...and any wall that has a different height.
![image](https://user-images.githubusercontent.com/70038700/98125885-b6278080-1e93-11eb-9312-f1209e3fd7a7.png)

on standard and custom rooms
![image](https://us

[2020-11-04 15:26] TedClassy1209 commented on #164
Thanks Nailson, like we talked about yesterday, I think it will be good to (1) just have the first wall's height be notated if the whole room/closet is the same height and then (2) if there are _any_ differing heights within the same closet we would show every one of the closet's wall heights so it is clearer. So, in the second example there should be 4 notations for heights (I'm not sure exactly

[2020-11-04 15:32] nailsonlandim commented on #164
Thanks, in fact that makes things easier.

Got it,

[2020-11-04 15:34] TedClassy1209 commented on #164
Here is how the hash marks for each corner of your 3rd example should look if you were to identify the height of each wall (and depending how the walls were collected):

![wall height hash marks 2](https://user-images.githubusercontent.com/61025894/98131388-74d5a780-1e78-11eb-9a70-bb9712661655.png)

[2020-11-04 22:38] nailsonlandim commented on #164
Hi @TedClassy1209 ,

I could adjust most of hash marks as asked.

Standard rooms are fine:

![image](https://user-images.githubusercontent.com/70038700/98175105-bd22b300-1ed4-11eb-9bb1-a7a89297f27b.png)

![image](https://user-images.githubusercontent.com/70038700/98175232-f5c28c80-1ed4-11eb-92d6-b2e1360abaca.png)

About Custom Rooms

I am working on a solution for the inner ones that aren't as you

[2020-11-05 19:55] TedClassy1209 commented on #164
Hi Nailson, thanks for your work on this. Once you get those inner corner wall heights having the hash pointing the correct dimension it looks good. Can you also have the font size match the size of the wall lengths and the section depths/widths? It looks bold and smaller. Thanks, Ted

[2020-11-05 20:00] TedClassy1209 commented on #164
Can you explain why the top room of your examples has a 119" top wall (Wall B) and a 120" bottom wall (Wall D)? My guess is both are actually the default 120". We have noticed that the dimensions are not always accurate now and we aren't sure why..

[2020-11-05 20:04] nailsonlandim commented on #164
I can tweak it to be as similar as possible. I used Text objects instead because I can hide them

[2020-11-05 20:06] nailsonlandim commented on #164
I will take a look at that, Thanks!

[2020-11-05 21:33] TedClassy1209 opened #216 "All countertops now coming in as melamine"
Assuming it was because of the changes made in https://github.com/CCDevNelson/Snap-Updates/issues/95, but now all countertops are showing up as melamine when put into a closet. We still should have the option for the other countertop and color types. This is causing some issues with labeling of countertops as it thinks all the countertops are melamine, and now all countertops are showing up as 0.7

[2020-11-06 16:13] TedClassy1209 commented on #211
Sean, have you been able to address this? See https://github.com/CCDevNelson/SNaP-Dev/issues/263

[2020-11-06 16:17] SeanRadvan commented on #211
I have not, i've been in the shop and getting the new pcs ready. Hoping to
have a min to look at it today.

On Fri, Nov 6, 2020 at 9:13 AM Theo <notifications@github.com> wrote:

[2020-11-06 16:30] nailsonlandim commented on #164
Hi @TedClassy1209 , I've finished the hash marks for custom rooms, take a look.

I created an odd synthetic project to force it

**Large custom room**
![image](https://user-images.githubusercontent.com/70038700/98389447-d6da0c80-2032-11eb-9383-b23e8d25df04.png)

**Synthetic test custom room**
![image](https://user-images.githubusercontent.com/70038700/98390052-a8106600-2033-11eb-87c3-b14fbae1e8a3.

[2020-11-09 18:04] ClassyTeddy commented on #207
Ready for testing on the `Creating-Bottom-Capping-Library-Item` branch

[2020-11-10 14:58] SeanRadvan commented on #211
Colors adjusted and moved origin point to fix cliping issue.

[2020-11-10 16:51] nailsonlandim commented on #164
Hi @TedClassy1209 @sarahhightower @kategodfrey @JBTattersall

I've performed the following e-mail list fixes:

**Item 2** 3 elevation export still has too much white space
![image](https://user-images.githubusercontent.com/70038700/98701546-292f6c00-2358-11eb-865a-eb55abfe76e5.png)
Fixed also the 2 elevations per page

**Item 5** Those door hole numbers need to be centered on that right door and i

[2020-11-10 21:04] CCDevNelson opened #217 "Need added info in XML Export"
Need a Description field added to an assembly in the XML export.

[2020-11-10 22:01] TedCC1209 opened #218 "Add City, State, and Zip Code to Project Info"
Right now Project Address is one line on the Project Info menu. We need additional lines for City, State, and Zip Code (each its own line) which also need to be exported to the XML.

[2020-11-10 23:39] nailsonlandim commented on #164
Hi @TedClassy1209 @sarahhightower @kategodfrey @JBTattersall

Fixed

**Item 7** - Countertop labels need to be centered above the countertop

_Render of 2D Views project_
![image](https://user-images.githubusercontent.com/70038700/98746097-8ac0fc00-2393-11eb-9d79-2c94b5c279d8.png)

_Render of Large Custom Room_
![image](https://user-images.githubusercontent.com/70038700/98746705-c0b2b000-2394-11eb

[2020-11-11 20:36] nailsonlandim commented on #164
Hi @TedClassy1209 @sarahhightower @kategodfrey @JBTattersall

**Fixed** - **Item 12** (_Different widths for uppers and lowers (See Wall B)—even when both using normal partitions (not using uppers)—right now it just puts the dimensions on eachother below the elevation—can we have it recognize this situations and put the higher section’s width dimension right below or right above it rather than on

[2020-11-11 20:48] TedClassy1209 commented on #164
Thanks Nailson. A few things on this one:

1. Is there any way of putting the upper width right above the upper opening rather than down below when there are different widths between the upper and the lower? That would be preferred. See the following:

![image](https://user-images.githubusercontent.com/61025894/98862630-76790f80-2424-11eb-807d-9c5c14315732.png)

2. If the widths of the upper and l

[2020-11-11 21:08] TedClassy1209 commented on #164
This looks good Nailson, thank you. A few things on these ones as well:

1. The TK height dimension should still be normal-horizontally written, it doesn't need to be parallel with vertical line.
2. For the Hamper label--I am wondering why the KD label, Hamper label, and the handle don't all line up with each other--they should all be centered on the face horizontally, so they should all line up w

[2020-11-11 21:10] nailsonlandim commented on #164
Hi @TedClassy1209 , thanks for the feedback!

I`ll try, It would be better.

Got it

Understood.

Yes, It`s Item 1

[2020-11-11 21:18] nailsonlandim commented on #164
Thanks for the feedback @TedClassy1209

Got it

I`ll look at that too

In fact, I don't think it's nitpicky, it's important to maintain consistency on a project. It`s an easy adjustment. Thanks!

[2020-11-13 17:02] TedClassy1209 opened #219 "Wall Cleat needs all 4 edges edgebanded"
Currently the Wall Cleat library item is only exporting 1L edge--It needs to be edged on all four edges.  Thanks, Ted

[2020-11-13 18:03] TedClassy1209 opened #220 "Empty Assemblies in XML"
In a recent job I needed to change the topshelf configuration of a room because of where the seam needed to be, so I deleted topshelf from the scene and put new topshelf assemblies in. However, I deleted the top shelf "Part" rather than the "Insert" so it only deleted the part information from the scene but not the whole assembly information:

![Insert vs Part](https://user-images.githubuserconten

[2020-11-13 18:08] ClassyTeddy commented on #220
This actually isn't a great idea because we use empty assemblies for storing information a lot of the time.

[2020-11-13 18:19] TedClassy1209 commented on #220
Can you provide an example of when we use an empty assembly in an XML with no parts associated with it?

If that's the case, then what might be a good way to address the situation I just described? Can we have have an assembly be deleted if all associated parts of the assembly have been manually deleted? Obviously I need to be and will be more conscientious myself when deleting parts/assemblies, b

[2020-11-13 18:25] ClassyTeddy commented on #220
Crown and Base molding use empty assemblies to store the length information in them. For this particular issue. I am not sure as to why Top Shelf is exporting as a subassembly. It is most likely because of top shelf oversizing, but I still don't see why that is necessary. If we change it to not export as subassembly, instead to just export as an individual part, that might fix the issue.

[2020-11-13 19:00] TedClassy1209 commented on #220
Are those assemblies included in the XML export though? I just exported a job with crown molding, inverted base, and drawers and there were no empty assemblies in the XML:

![image](https://user-images.githubusercontent.com/61025894/99108099-14471880-25a4-11eb-87e1-6fbbbc32c3cb.png)

![image](https://user-images.githubusercontent.com/61025894/99108114-1b6e2680-25a4-11eb-8745-d3f70fd1cbdf.png)

The

[2020-11-13 19:11] ClassyTeddy commented on #220
So these empty assemblies are hidden, so they won't be exported. We can try and set up some logic to hide empty subassemblies, but since assemblies contain a lot more information than just parts, it might be complicated to check and see if the assembly has no parts in it.

[2020-11-13 19:18] kategodfrey commented on #58
@TedClassy1209 Can we have the option of having that third line drilled in construction options? @JBTattersall was wanting that third line for a shelf stack. I'm not sure of what other instances that we would need it....

[2020-11-13 19:31] TedClassy1209 commented on #58
@kategodfrey we have a fix here: https://github.com/CCDevNelson/SNaP-Dev/issues/186. I don't think we have tested this yet though. Correct me if I am wrong @ClassyTeddy, but I think the idea was for it to automatically drill the 3rd line of holes when the user has selected a setback for a rod or for shelves (or when the rod is automatically setback to 12" in 16" or deeper sections per https://gith

[2020-11-13 19:43] ClassyTeddy commented on #58
I thought this was tested and it did work. It should be automatically drilling a third line of holes when something has been setback.

If you want to put it in my column I can try and add the option for the third line of holes to be selected by the user, but what happens in a scenario where the user selects a third line of holes with a custom location, and the 3rd line of hole is placed automatica

[2020-11-13 20:08] TedClassy1209 commented on #58
We may have tested it looking at code, etc., but I don't think we have physically drilled a 3rd line of holes yet out in the shop to make sure it is accurately being reflected in the XML/label's barcodes/etc.

I think it should remain automatic as well, but we need the option to have a 3rd line of holes even when there is no setback of rods or shelves currently existing in the opening (like I said

[2020-11-13 20:10] ClassyTeddy commented on #58
Unfortunately, I cannot do a popup inside of a prompt menu, because the prompt menu is itself, a popup. So users will just have to be aware of it, or I can add some text to the prompt menu saying that.

[2020-11-13 20:14] TedClassy1209 commented on #58
Okay yeah, then maybe if they select a 3rd line of holes option in the construction options then a line of text can appear below it reminding the user about the automatic 3rd line of holes (would prefer not to add more additional lines to the standard construction options prompt menu, it is already really crowded, so if we can have it hidden until they select the 3rd line option that would be best

[2020-11-13 21:02] TedClassy1209 commented on #211
Looking good, thank you Sean. As we talked about, Satin Nickel is looking a little yellow. Let's change the metal material for satin nickel to just match the brushed nickel.

Also we have the issue of the color of pulls in the scene changing while browsing pulls in the menu (even without selecting "Change Pull" or "Replace All").

These aren't priority items, but once you get the metal material ch

[2020-11-13 21:35] TedClassy1209 commented on #152
This still isn't quite there. Here is a job I just made:

![image](https://user-images.githubusercontent.com/61025894/99122874-5aa87180-25bc-11eb-8124-6b7839774fd7.png)

- Left wall has one length of flat crown edged all 4 and is 54x3 - That exported correctly
- Center wall is to the ceiling 4.77" tall and 120" wide - This should have 3 lengths exported at 6.77" tall edge 1L but it only had 1 leng

[2020-11-13 21:40] TedClassy1209 commented on #152
Also--it won't export an XML if you choose that a Flat Crown assembly has a left or right exposed end as well as a left or right return. It's not common, but every once in a while a design will end up with something like this where that would occur:

![image](https://user-images.githubusercontent.com/61025894/99123804-2afa6900-25be-11eb-8d72-f987fc9aee98.png)

[2020-11-13 21:44] TedClassy1209 commented on #202
Teddy is this good to go with the exception of the minimum drawer face hole size? If so, can we go ahead and push to Ryan to merge?

[2020-11-13 21:45] TedClassy1209 commented on #213
@CCDevNelson once we get the go ahead from you, we can push to Ryan to get this merged and we can get you some example XMLs. Thanks, Ted

[2020-11-13 21:50] ClassyTeddy commented on #202
Yeah, it should be ready to go aside from the minimum drawer face hole size, but I haven't tested it in awhile.

[2020-11-13 21:54] ClassyTeddy commented on #202
Actually, I need to do some cleanup on this one.

[2020-11-13 23:19] CCDevNelson commented on #213
Ted,
There are several items I need in the XML, but I can't give them to you yet. Duane is still in the process of creating the categories for new parts (and by the way, I think he is changing some of the current categories as well) And I'm pretty sure the stain/paint/glaze options just got increased, so I'm not sure where we stand on this at the moment. I think this needs to be brought up in the

[2020-11-16 16:20] TedClassy1209 commented on #213
Okay then Teddy I think this particular change can be merged for now and we can address the other additions and changes once those decisions are made by Duane.

[2020-11-16 20:48] SeanRadvan commented on #215
![workboot](https://user-images.githubusercontent.com/54151330/99306258-2ded9780-2812-11eb-914f-840506301d71.jpg)
Quick update on this, it looks like there are a few constraints to watch out for when finding models, specifically that it seems to only import one "object" from a file. I had to merge the meshes from this boot into one object so it wont try to only pull in the sole or the laces. There

[2020-11-16 21:30] TedCC1209 opened #221 "Custom Partition Depth option"
We need to add a custom partition depth option in the construction options of partitions where we can change the depth of a single partition without changing the drilling or the adjacent section depth(s). This happens in rare but still-sometimes-occurring situations--for example, like certain types of hutches or to cover the otherwise exposed wall of a wrap around corner area.

[2020-11-16 22:03] ClassyTeddy commented on #152
Ready for testing on the `Flat-Crown-and-Crown-Molding-Improvements` improvements branch. Both of the issues were because of a sytax error in the code.

[2020-11-16 22:12] TedClassy1209 opened #222 "Corbel partition option"
We need to create a corbel partition option in construction options of partitions--this would extend the backside of the partition down but not the front edge, creating a corbel look. This would go well right under the Dog Ear option.

However, we also need the option for a corbel to just be a corbel without any drilling--essentially a 0H partition where the corbel would be "notched" corner to cor

[2020-11-16 22:15] TedClassy1209 commented on #214
Teddy, can you give me a breakdown of the logic/algorithm for how SNaP is currently determining the size of the drawer slide? I think for the most part it is exporting the correct size. However, there are times like with a lateral 17" legal file drawer where you'd want the 18" slides so that the drawer pulls all the way out. As it stands now, if the box is 17" deep, it exports a 16" slide. Thanks,

[2020-11-16 22:31] ClassyTeddy commented on #152
I have noticed there is still a problem with adding inches to the height of the flat crown that I am trying to fix now.

[2020-11-16 22:38] ClassyTeddy commented on #152
This should also now be fixed and is ready for testing on the `Flat-Crown-and-Crown-Molding-Improvements` branch.

[2020-11-16 22:42] TedClassy1209 commented on #207
The hutch back is still sticking down 0.75" when a capping bottom is in place:

![image](https://user-images.githubusercontent.com/61025894/99316400-8e380580-2821-11eb-98ac-0a87d51b2d5e.png)

The hutch back needs to have 0.75" taken off of its height when a capping bottom is in place--the bottom of the back needs to be flush with the bottom of the hutch partitions.

Also, the hutch back looks like

[2020-11-16 23:01] ClassyTeddy commented on #207
No edge banding is going through, it just doesn't have the core material applied to it cause there is no way you would see it. We only apply that material to parts that the user might see, otherwise we don't need to.

[2020-11-16 23:06] TedClassy1209 commented on #152
This looks good to me, thanks Teddy

[2020-11-17 13:33] TedClassy1209 commented on #152
So I think I just found that this branch broke the prompt menus for light rail and valances--did that happen for you too Teddy?

[2020-11-17 15:31] ClassyTeddy commented on #152
Yeah, it did. I think all three derive from the same file. I thought they used different prompt operators though, so I will look into the problem.

[2020-11-17 16:42] ClassyTeddy commented on #214
Basically, it gets all the available slide sizes for that slide type (By using a .csv file), then it starts at the largest slide size and keeps going down until the drawer depth is larger than the slide size. Should there be logic saying that if the drawer has file rails then it needs to be a minimum slide size, no matter the drawer depth?

[2020-11-17 17:13] TedClassy1209 commented on #214
Thanks, and no, that would not be the logic. I'm thinking we need an option for each drawer for a manual override to go with (1) the slide size just above the box size rather than (2) the one equal to or below it (how it currently works as I am understanding you). I'm thinking we should have an option that goes on the right side of the drawer prompts that says "Oversize Slides" and should be avail

[2020-11-17 17:24] TedClassy1209 commented on #214
Also, I will make a separate issue for the manual override, I was more just curious. I think the issue at hand here is good to go.

[2020-11-17 17:25] ClassyTeddy commented on #214
Alright, make that seperate issues and I will ask more questions there.

[2020-11-17 17:28] TedClassy1209 opened #223 "Oversize Drawer Slide Option"
I'm thinking we need an option for each drawer for a manual override to go with (1) the slide size just above the box size rather than (2) the one equal to or below it (how it currently works as I am understanding). I'm thinking we should have an option that goes on the right side of the drawer prompts that says "Oversize Slides" and should be available for each drawer box, which will do what I ju

[2020-11-17 17:32] ClassyTeddy commented on #223
So when you say it will affect the drilling, how will the oversized slide affect the drilling. At the moment, each size of slide comes with a front hole distance and a back hole distance. Will those change if it is an oversized slide?

[2020-11-17 17:36] TedClassy1209 commented on #223
No, just ensuring that the correct drilling info is passed on for the particular slide that is selected. I don't know how the code currently works for the drilling info--if it is based on the box size or the chosen slide. If it is based on the chosen slide, then it makes it easier I guess.

[2020-11-17 17:45] ClassyTeddy commented on #223
So each slide size for each different style of slide has an associated front hole location and a back hole location.

[2020-11-17 17:50] TedClassy1209 commented on #223
Right, so if I have a 17" deep drawer box and I select that I want the oversized slide (which will give me an 18" slide instead of the 16"), I'm just pointing out that we need to make sure the drilling info exported will be for that 18" slide rather than what would have been the default 16" slide.

[2020-11-17 18:09] ClassyTeddy commented on #223
Got it. It should do that once the option to pick the larger slide is added.
I just wanted to make sure that the slides didn't need different drilling information if they were oversized.

[2020-11-17 18:24] ClassyTeddy commented on #152
Ready for testing on the Flat-Crown-And-Crown-Molding-Improvements branch.

[2020-11-17 18:33] ClassyTeddy commented on #207
Ready for testing on the `Creating-Bottom-Capping-Library-Item` branch

[2020-11-17 19:11] ClassyTeddy commented on #202
Wooden Drawer and Wooden Door exports should be exporting properly now and are ready for testing on the `Wooden-Drawer-Exports` and the `Wooden-Door-Exports` branches respectively. I will tackle issue #37 at a later time.

[2020-11-17 23:22] ClassyTeddy commented on #211
Ready for testing on the `Handle-pull` branch.

Sean, you should take a look at the code I did. I simplified the list as well as moved the whole thing so now it is directly attached to the execute function of the `OPERATOR_Update_Pull_Selection` class in `mv_closet_defualts.py` file.

That operator's execute function is called every time the `Update Pull` or the `Replace All` button is pressed.

I

[2020-11-18 13:44] nailsonlandim commented on #164
Hi @TedClassy1209 @sarahhightower @kategodfrey @JBTattersall

### Adressed Items:

**Done:**
![image](https://user-images.githubusercontent.com/70038700/99452233-0ece3300-2902-11eb-9bab-c25e61f148b0.png)

**Done, also applied it to plan views,**

![image](https://user-images.githubusercontent.com/70038700/99451247-b2b6df00-2900-11eb-9b13-ee5825ca250b.png)

**Done.**

![image](https://user-images.g

[2020-11-19 15:36] TedClassy1209 commented on #214
@CCDevNelson Right now it looks like the XML just exports the sku number on the "label" for drawer slides--is that sufficient or should we have it export the name of it as well?

![image](https://user-images.githubusercontent.com/61025894/99687802-4f34ca80-2a42-11eb-90db-037bb2bdafc4.png)

![image](https://user-images.githubusercontent.com/61025894/99687821-54921500-2a42-11eb-8cec-8d1467280c3b.png

[2020-11-19 16:02] CCDevNelson commented on #214
I would think YES, the name of the slide would be nice, say for example: "Hettich V6 15" " or whatever is the matching description of the list we are working from the inventory. I will need to pass that through to BC so it would be helpful to have it, rather than having to go look it up first.

[2020-11-19 16:07] TedClassy1209 commented on #214
Thanks Mark.  @ClassyTeddy , can you have it add the slide name to the XML export along with the sku number? I appreciate it.

[2020-11-20 21:33] ClassyTeddy commented on #216
Ready for Testing on the `Adding-Countertop-Types` branch. All I have done for now is reintroduce the option to select either Melamine, HPL, or Granite countertop in the countertop's prompt menu.

[2020-11-24 13:14] TedClassy1209 commented on #152
Looks good to me from my tests. Now noticing some issues with the light rail XML exports but I will make that a separate issue. Thanks Teddy

[2020-11-24 13:18] TedClassy1209 commented on #207
Looks good to me, thanks Teddy

[2020-11-24 14:03] nailsonlandim commented on #164
Hi @TedClassy1209 @sarahhightower @kategodfrey @JBTattersall

**I've added the section depths and hash marks, and if shelves differ from the section depth, it shows every shelf dimension.**

![image](https://user-images.githubusercontent.com/70038700/100102915-0070a180-2e43-11eb-8e87-eb9a6e45cab5.png)

![image](https://user-images.githubusercontent.com/70038700/100103912-44b07180-2e44-11eb-851f-2f

[2020-11-24 14:12] TedClassy1209 opened #224 "No center rail for Moderno doors"
We need to restrict Moderno doors from having center rails

[2020-11-24 19:03] ClassyTeddy commented on #218
Ready for testing on the `Adding-Fields-to-Project-Info` branch. Please test how it functions with old projects, in addition to testing it with newly made projects.

[2020-11-24 19:22] ClassyTeddy commented on #214
Ready for testing on the `Updating-Drawer-Slides-List` branch.

[2020-11-24 19:56] ClassyTeddy commented on #219
Ready for testing on the `Wall-Cleat-Edgebanding` branch

[2020-11-24 19:57] ClassyTeddy opened #225 "Removing Some Wooden Drawer Options"
Need to remove the Glass inset drawers and the small drawer faces as option from the Closet Option Menu

[2020-11-24 21:08] TedCC1209 opened #226 "More 2D View cleanup items"
Nailson & Antonio, a few changes we need to make on 2D View exports after some conversations with various experienced folks here at Classy:

1. Delete the hash/tick/dimension marks and lines for the section widths on both elevations and plan views (leaving us with just the number) [EDIT: also delete the same dimension marks/lines for the partition heights on elevations):

![delete width marks](htt

[2020-11-24 21:51] TedClassy1209 commented on #61
@CCDevNelson Mark, I am putting together instructions for Teddy re: sizing of DT boxes depending on the selected slides, etc. The box parts will not be cut like other closet parts since the sides/fronts/backs come in rips that we cut separately. However, I am assuming you will want the info to track with our other softwares? Can you confirm that you need the DT box pieces separated out for those p

[2020-11-24 22:01] TedClassy1209 commented on #219
I lied, sorry. We need the option to select which edges are exposed--there are times we put these between partitions, between partitions and right below or above a KD shelf, etc., in which case we would only want particular edges with edgebanding. Default should be all four edged, with the option to deselect edges. We should also have the option to manually select a variable width if the cleat hap

[2020-11-24 22:02] CCDevNelson commented on #61
@TedClassy1209 Ted, I'm thinking we could probably get away with just a line entry with the Dovetail Drawer Box Category that I can trigger off of, and then the overall dimensions (but that would need to include the Height as well).
I'll need to verify this with the BC people at tomorrow's meeting, but I would think that even if they need parts broken out, I can give that to them in the csv files

[2020-11-24 22:16] TedClassy1209 commented on #214
I lied on this one as well, I was given updated info--the Hafele BB and HR BB SC need to be added as options for Dovetail Drawer Boxes as well. To explain a little bit, Hafele BB and HR BB SC slides are side-mount slides (meaning they mount to the sides of the drawer box) and the others (Hettich, Blum, King) are under-mount slides. Melamine boxes only can have the side-mount slides while DT can ha

[2020-11-25 14:59] nailsonlandim commented on #226
Hi @TedClassy1209,

Items 1, 2, and 3 are straightforward

Item 4 is a bit trickiest but as it is part of a new scene we can hide from it.

I made a mind map for Item 5 to avoid any misunderstanding.

![Plan View Assembly Names (1)](https://user-images.githubusercontent.com/70038700/100236285-39287d80-2f0c-11eb-943e-bfb8ef74f065.png)

[2020-11-26 14:42] nailsonlandim commented on #226
1, 2, and 3 done.

![image](https://user-images.githubusercontent.com/70038700/100364010-49a82900-2fdc-11eb-97fe-3b36ed45ef27.png)

![image](https://user-images.githubusercontent.com/70038700/100363982-3f862a80-2fdc-11eb-8d6b-0ec46ce97107.png)

[2020-11-27 21:27] nailsonlandim commented on #226
**Item 4 Done**

![image](https://user-images.githubusercontent.com/70038700/100485160-d8509f00-30dd-11eb-9df8-af7fee88f501.png)

We did it unlinking the cleats from the elevations

Available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23226-2dview-cleanup

[2020-11-30 14:28] nailsonlandim opened #227 "2D Views - Fix Angled Lines"
Fix angled lines--sometimes partition / wall lines aren't perfectly straight up and down but rather come out as a perspective/angled

[2020-11-30 15:27] ClassyTeddy commented on #225
Ready for testing on the `Removing-Wooden-Drawer-Categories` branch

[2020-11-30 17:44] TedClassy1209 commented on #164
Unsure if this is entirely applicable because of other changes other branches, but I got this following error after Preparing 2D Views in the 164 branch:

![Traceback errors](https://user-images.githubusercontent.com/61025894/100643582-7c616280-32f7-11eb-9a12-56e7b69bbce2.png)

Did not happen in the 226 2D cleanup branch.

[2020-11-30 17:53] TedClassy1209 commented on #226
These are looking really good, thank you guys

[2020-11-30 17:54] TedClassy1209 commented on #164
Valance is context is spelled valance--not valence--unsure if that is the issue?

[2020-11-30 18:12] nailsonlandim commented on #164
Sorry for the typo, got it fixed.

Especially for this part, I created a different branch so I could save the work elsewhere https://github.com/nailsonlandim/SNaP-Dev/tree/valances_n_lightrails.

I'll merge it back once it's ready

[2020-11-30 18:13] kategodfrey commented on #218
Looks good. @TedCC1209 would we want City, State and Zip to all be on the same line instead of three separate to save space?

[2020-11-30 18:28] TedCC1209 commented on #218
No, we need them separated for other purposes.

[2020-11-30 19:08] TedCC1209 commented on #218
Thanks Teddy, I could not get an XML to export from old jobs in this branch. New jobs exported fine. The prompts look good. I wouldn't worry too much about old jobs not exporting XMLs if it's not a quick fix.

@CCDevNelson Mark, how does this look to you in the XML?

![Project info](https://user-images.githubusercontent.com/61025894/100652585-5f7f5c00-3304-11eb-95dd-9e8006d8563e.png)

Thanks,

Ted

[2020-11-30 19:16] TedCC1209 commented on #61
@CCDevNelson Hi Mark, were you able to verify what you need for dovetail drawer boxes at your meeting with the BC folks last week? Teddy is currently working on this issue so he needs to know what info needs to be exported. Thanks, Ted

[2020-11-30 20:04] TedCC1209 commented on #216
Thanks Teddy. Please add the quartz option as well. Also, the different edge options should be available for HPL, quartz, and granite, not just granite. We can fine-tune the edge options in a different issue, but the current options should be made available to the different CT options other than melamine.

[2020-11-30 20:46] CCDevNelson commented on #61
@TedCC1209 This is still VERY hazy and I'm not sure BC has a true grasp around what they are going to be doing when it comes to the Dovetail Drawer boxes and for that matter, the 5-piece Doors.

I'm going to say we need to have part information the same as the information you are passing on a melamine drawer box. The 5-piece Doors are a little bit more involved and may need much more than that, so

[2020-12-01 00:17] AntonioGloria commented on #226
Hello, Antonio here.
Here is a mock-up of what the plan view would look like, taking into account the notes regarding assembly names, plus the fixes that have been made so far.
![2D Views_MockUp_PlanView](https://user-images.githubusercontent.com/74732175/100680952-4bede880-3338-11eb-94ef-ffd0a2674f99.png)

[2020-12-01 15:30] TedCC1209 commented on #226
Thanks Antonio, for the most part your mock-up looks like what we are looking for (it captures everything we have asked for so far), but here are just a few things in addition to the changes your pics reflects:

1. Increase the font size of the assembly labels (LH, DH, SH, etc.)--maybe 1.5-2x as big as it is right now?
2. Make dimensions and labels go parallel with the wall for walls not going lef

[2020-12-01 16:21] TedCC1209 commented on #226
Actually--Let's just get rid of section widths from the plan view.  So, disregard what I wrote for number 4 from above and just get rid of it all together, it'll be cleaner and the widths are available on the elevations. Thanks!

[2020-12-01 22:24] AntonioGloria commented on #226
Here's the updated mock-up for the plan views with the latest notes.
![2D Views_MockUp_PlanView](https://user-images.githubusercontent.com/74732175/100803978-aeef8600-33f1-11eb-9477-69b619af7be0.png)

[2020-12-01 23:12] nailsonlandim commented on #164
Hi @TedCC1209

- Finished Valance and Light Rails
- Removed dimensions on Plan View
- Merged it to issue_#226-2dview-cleanup including @ClassyTeddy work at [Flat-Crown-and-Crown-Molding-Improvements](https://github.com/CCDevNelson/SNaP-Dev/tree/Flat-Crown-and-Crown-Molding-Improvements)

![image](https://user-images.githubusercontent.com/70038700/100806958-34822e80-3410-11eb-8dea-9f029b01b793.png)

[2020-12-02 12:46] TedCC1209 commented on #125
We did some testing on Blind Corner Panels, Doors, and Hamper Faces. The BCP was good, but the doors and hamper faces had issues. @ClassyTeddy please let @RyanMDev know if you need him to address or if you can. Here is the test job:

https://drive.google.com/drive/folders/1QUsbXsWK9SGYPiqiBMV9dOSMc1pq_HXp?usp=sharing

Here are the parts tested:

1. Blind Corner Panel - 46.46x18
2. Single Door - 20

[2020-12-02 12:51] TedCC1209 commented on #56
https://github.com/CCDevNelson/Snap-Updates/issues/125#issuecomment-737208502

[2020-12-02 14:05] TedCC1209 commented on #226
Looks good Antonio, thank you. If you can update the font for the wall height that would be good too, and the DH on the left side of Wall B should be centered in the opening (assuming you all would do those things anyway). Thanks, Ted

[2020-12-02 14:21] TedCC1209 commented on #125
4) The smaller distance between hinges should be on the bottom side of the door--however, Sean W. seemed to think it was the Left Door that was drilled correct but according to Mark's write-up it would be the Right Door...So I don't know how to reconcile that.

@RyanMDev it sounds like Teddy will need you to address these issues--they are highest priority for us right now. Teddy is also likely out

[2020-12-02 20:49] RyanMDev commented on #125
I've requested access to the project files.

[2020-12-02 22:11] CCDevNelson commented on #61
@TedCC1209 I have some new category numbers for you:

1228 | Drawer Box - Baltic Birch
1229 | Drawer Front - BB
1230 | Drawer Bottom - BB
1231 | Drawer Side - BB
1232 | Drawer Back - BB

I do not have information for you on the 5-piece doors yet, but will try and get that finalized tomorrow.

Mark

[2020-12-02 22:42] TedCC1209 commented on #125
Sorry, thought I had the settings that anyone with the link could see it. You should have access now

[2020-12-02 23:02] kategodfrey commented on #211
The part number 125.68.352 (oil rubbed bronze) does not have the right picture

![PDF hardware oil rubbed bronze](https://user-images.githubusercontent.com/63115502/100941672-3d7a0b00-34b7-11eb-81a7-554ead2cdd32.png)
![Snap library oil rubbed bronze 12-2](https://user-images.githubusercontent.com/63115502/100941685-44088280-34b7-11eb-8ca4-406718120c0b.png)

Also, the satin brass when rendered is t

[2020-12-02 23:21] RyanMDev commented on #125
No worries I was able to create my own testing project with the info Mark provided.

Fixes available on branch: `Hinge-Drilling`.

2. Single Door - 20H 18.58x25.04 No-Good
- Disabled pilot hole drilling to test if this is interfering with drilling. I am wondering if the order of the holes and diameter drilled is giving the machine problems. Consider the drill order shown below:
![hinge_drill_hole_

[2020-12-02 23:44] CCDevNelson commented on #125
Ryan,
If it would help, I could get you a file that we currently use for doors that drills both. Ned gave you that program, so you could look at what it's calling out for tooling on those two spindles. I suspect that it's just a difference in the tooling. Either the naming or sizing setup. I did notice that when I went into the program on say the large hole, it had a "lock" on the tool. If I took

[2020-12-03 00:22] RyanMDev commented on #125
Thanks, I will take a look.

[2020-12-03 00:34] RyanMDev commented on #125
The program Ned gave me reads the XML and not a .BPP file. Am I missing the XML?

[2020-12-03 14:58] SeanRadvan commented on #211
Looking at the hafele website, they are showing the pull we currently have
at 125.68.352. Assuming our reference number is wrong, I can replace it
with the bar pull, but i would need the correct items. As for the brass, it
certainly does look a bit more yellow when rendered. I will fiddle with the
colors and try to find something more appropriate.

On Wed, Dec 2, 2020 at 4:03 PM kategodfrey <notif

[2020-12-03 15:21] TedCC1209 commented on #211
Our 125.68.352 is correct in SNaP. Katie, whatever brochure you are going off of is incorrect.

![IMG_7912](https://user-images.githubusercontent.com/61025894/101049228-904bd500-3540-11eb-892e-23afede65f8b.jpg)

[2020-12-03 16:12] SeanRadvan opened #228 "Multiple "Metals" folders"
![Metals](https://user-images.githubusercontent.com/54151330/101056006-bde84c80-3547-11eb-9a3b-2a5698f20f6e.jpg)
While changing the colors on the handle pulls it appears there are two similar folders named "metals" and "finished metals" in snap. Both contain separate files named "metals" and "rod materials" but I am unsure which folder Teddy's logic pulls from in the mv_defaults. If one is redunde

[2020-12-03 18:53] SeanRadvan commented on #211
![updated antique](https://user-images.githubusercontent.com/54151330/101074468-ff83f200-355d-11eb-8dc7-ed18b29d5c77.jpg)
I fiddled with the color on the antique satin brass. Its a fine line between brown / gold / yellow, but i think it looks pretty close. I can change it again if needed.

[2020-12-03 20:50] CCDevNelson commented on #125
Sorry Ryan, I thought you could read the .bpp files. No, I don't have an XML file for the tooling.

[2020-12-04 13:48] ClassyTeddy commented on #228
So this is something that is going to be fixed/changed with the new version. We plan on removing a lot of redundancies. But at the moment, I believe those two folders are necessary for different parts of the code. But, as we move to the new version of SNaP, one of the folders we will make redundant and remove.

[2020-12-07 22:59] AntonioGloria commented on #226
We have added some more 2D Views fixes. Here's the link:
https://github.com/nailsonlandim/SNaP-Dev/commits/issue_%23226-2dview-cleanup

And here's a preview of the fixes:
![image_2020_12_07T22_08_48_334Z](https://user-images.githubusercontent.com/74732175/101415469-97ab0f80-38ad-11eb-95bc-60281e200792.png)

[2020-12-08 15:02] ClassyTeddy commented on #61
This is ready for testing on the `Adding-Dovetail-Drawers` branch. Currently, there is no physical change in SNaP when the Dovetail Drawer option is selected in the drawers prompt menu. All it does is change the export so that the catnum is correct for all the individual drawer box parts, as well as change which category the slide gets exported from.

[2020-12-08 15:26] ClassyTeddy commented on #214
This is ready for testing on the `Adding-Dovetail-Drawers` branch. I had to merge `Updating-Drawer-Slides-List` into `Adding-Dovetail-Drawers` for Issue #61, so I just continued the work on that branch.

[2020-12-08 15:51] SeanRadvan commented on #211
If no one has any issues it looks ready to push.

[2020-12-08 19:35] nailsonlandim commented on #226
Hi @TedCC1209 @kategodfrey @JBTattersall @sarahhightower

I've applied the labels on plan views.

It's available with Antonio's changes, at https://github.com/nailsonlandim/SNaP-Dev/commits/issue_%23226-2dview-cleanup

![image](https://user-images.githubusercontent.com/70038700/101531337-defad400-3971-11eb-8b07-4ed8247ffadc.png)

[2020-12-08 19:46] TedCC1209 commented on #226
Looking much cleaner, thank you both.

1. Sarah got the following traceback errors with a job with an angled wall (aren't getting this error with square or custom rooms):

![Traceback error 2d views cleanup](https://user-images.githubusercontent.com/61025894/101533451-13ab6300-3953-11eb-856b-cd446da73386.png)

2. Sarah ran into a few other things we are trying to narrow down before we bring them u

[2020-12-08 20:10] TedCC1209 opened #229 "Default bottom KD in drawers and shelf stacks"
I thought the default was to have bottom KDs in drawer stacks and shelf stacks previously. It looks like it may have changed in past fixes and we just didn't catch it. While testing Nailson and Antonio's 2D View improvements, Sarah noticed that bottom KDs were not default-ly and automatically put in when the drawers/shelf stacks were placed into the scene. The bottom shelf of the shelf stacks look

[2020-12-08 20:23] TedCC1209 opened #230 "Shelf Stacks High Shelf Count"
Teddy, not sure what option is easier but we need to improve shelf stacks with over 9 shelves. Right now to do over 9 shelves a user could use the "Shelves Only" assembly--It is nice that the user can add as many shelves as they want with this option. However, this option does not allow the user to put in a middle KD because when you select a shelf it selects all the shelves and not just one shelf

[2020-12-08 21:45] nailsonlandim commented on #226
Hi @TedCC1209 ,

Can you send us the file?
I think I know what's going on and it has to do with wall angles and so far I just dealt with right angles.

[2020-12-08 21:52] sarahhightower commented on #226
Sure. Here is the angled wall file.

https://drive.google.com/drive/folders/1ciR38vFa-oXJlnXb6uV9mF_WgNXiRAKp?usp=sharing

[2020-12-08 21:55] nailsonlandim commented on #226
Thanks @sarahhightower !

[2020-12-08 22:48] nailsonlandim commented on #226
Hi @TedCC1209 @sarahhightower

Just fixed, I also adjusted wall height hashmarks to deal with it.

Thanks,
Nailson

[2020-12-09 14:15] ClassyTeddy commented on #230
Option 2 is not possible. Basically, how the shelves only works, it puts on a single shelf, and uses a special property called Z Quantity, which is why you can't select individual shelves. So I will have to go with the first option.

[2020-12-09 19:33] nailsonlandim commented on #226
Hi @TedCC1209 @sarahhightower @kategodfrey @JBTattersall,

Fixed Item 2:

![image](https://user-images.githubusercontent.com/70038700/101677765-c2c36980-3a3b-11eb-8bdd-53ec6e6c6b5a.png)

Now on Plan Views, the dimension is parallel to the wall.

It's available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23226-2dview-cleanup

[2020-12-10 18:59] TedCC1209 commented on #226
Hi @sarahhightower can you test and verify this is working for you know? Once it is, I think we can push this branch. Thanks, Ted

[2020-12-10 19:13] TedCC1209 opened #231 "2D View Export Legend"
Can we have the 2D Views export with the following Border/Legend instead of what is currently on there?

[Plan Submission Sheet.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5675087/Plan.Submission.Sheet.pdf)

Then, if we can start getting the various info to automatically export into the right spots on the 2D View export (Client name, material and edge color, hardware (if applicable to t

[2020-12-10 19:14] TedCC1209 commented on #231
There are going to be some changes to this legend/border eventually (hopefully soon), but for now I think we should just have it export onto this

[2020-12-10 19:15] sarahhightower commented on #226
Worked for me! Thanks Nailson!

[2D Views Test.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5675097/2D.Views.Test.pdf)

[2020-12-10 19:20] nailsonlandim commented on #231
Hi @TedCC1209 ,

AFAIK, yes we can. This template in fact would be better because the generated ELV's/PV's are kinda 21:9, so it would look better.

[2020-12-10 19:40] TedCC1209 commented on #231
Thanks--let's keep the old option available still for those who use it, but have the new one be default.

[2020-12-10 19:51] #228 closed

[2020-12-10 20:54] TedCC1209 commented on #225
Sorry, keep the small drawer face options in the Closet Options Menu. Still get rid of the glass inset drawer faces though.

[2020-12-11 18:52] RyanMDev commented on #191
Fixed in SNaP 2.0. commit: Classy-Closets/snap-2.0@5fa085f438750e537dfbdea67a6b848e6fdd4cbc

This issue has been moved to the SNaP 2.0 project board (Ready for testing).

[2020-12-11 18:52] #191 closed

[2020-12-11 21:03] AntonioGloria commented on #227
@TedCC1209
Fixed this issue
![image](https://user-images.githubusercontent.com/74732175/101954451-c123ae00-3bc1-11eb-99cd-2abd002613be.png)
Fix is available at: https://github.com/nailsonlandim/SNaP-Dev/tree/3DLabels

[2020-12-11 23:19] TedCC1209 commented on #227
Awesome! Thanks Antonio.  @kategodfrey @sarahhightower @JBTattersall can you guys test this as well too please?

[2020-12-11 23:38] sarahhightower commented on #227
Attaching my 2D test plans. I notice there is no line for the drawer depth. The other labeling looks good.

[2D Views.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5682066/2D.Views.pdf)

[2020-12-12 15:48] TedCC1209 commented on #227
@sarahhightower @kategodfrey @JBTattersall this particular issue is about vertical partition lines sometimes showing up weird and not perfectly vertical, not about labels or anything:

![image](https://user-images.githubusercontent.com/61025894/101988315-11e4e680-3c56-11eb-81e4-3847d849651a.jpeg)

To test, this is likely just take doing multiple rooms with various configurations to see if the old

[2020-12-12 21:09] TedCC1209 commented on #227
This is looking really good from what I see. Thanks!

I will create a new issue if necessary, but looking at Sarah's example and from what I am seeing, did we lose the hash mark for the depth notation behind doors/drawer faces?

![image](https://user-images.githubusercontent.com/61025894/101994961-8f731b80-3c83-11eb-9bdc-b38daecd4a42.png)

[2020-12-14 18:46] TedCC1209 commented on #214
Hi Teddy, can you have this export the whole drawer slide name? For example, for King slides right now it is just exporting as "King":

![image](https://user-images.githubusercontent.com/61025894/102121728-accdf400-3e01-11eb-9b82-43d5175b18cd.png)
![image](https://user-images.githubusercontent.com/61025894/102121752-b6575c00-3e01-11eb-912a-6c9a08f08e53.png)

For SKU HW-0000188 above, the name shou

[2020-12-14 18:52] TedCC1209 commented on #61
Teddy, can we have the prompt say "Dovetail Drawer Boxes" rather than just "Dovetail Drawers"? Otherwise it looks good and I like the placement of the prompt. When I get back into the office (hopefully later this week, but perhaps early next week) I will explain dovetail drawer box sizing and slide selection with you so we can get that nailed down. Thanks, Ted

[2020-12-14 19:10] TedCC1209 opened #232 "2D Views - Label BCP size"
We need to add a label of the dimensions of Blind Corner Panels and the leftover opening dimension.

Here is an example:

![image](https://user-images.githubusercontent.com/61025894/102124175-2f0be780-3e05-11eb-951e-b25ce1a3acf4.png)

(The leftover opening dimension is the opening width of the cabinet--33" in this example--minus the BCP width--18" in this example--plus 0.75" for the overlay of the

[2020-12-14 20:34] TedCC1209 commented on #227
@AntonioGloria are you doing the hash mark fix on this issue or would you prefer I created a new one? I am fine either way just let me know.

Thanks,

Ted

[2020-12-14 20:54] AntonioGloria commented on #227
@TedCC1209 I can work on the hash mark fix on this issue.

[2020-12-16 13:27] TedCC1209 commented on #227
Hi Antonio, I am just wondering if you are close on the hash mark fix--we are needing it for the update we want to roll out. Let me know if you think it'll be completed today.

Thanks,

Ted

[2020-12-16 13:32] TedCC1209 commented on #125
Hi @RyanMDev , the drilling looked correct on this except for the Hamper Face orientation and the pilot hole drilling. From @CCDevNelson :
"
![image](https://user-images.githubusercontent.com/61025894/102354629-136d2200-3f68-11eb-9058-ad0dc8d26a50.png)
![image](https://user-images.githubusercontent.com/61025894/102354647-19630300-3f68-11eb-9ea5-dede3725fbf7.png)

As you can see from the above pics

[2020-12-16 15:19] TedCC1209 commented on #125
@CCDevNelson I read through this again and saw that @RyanMDev disabled the pilot holes purposely to see if that was causing the hinge drilling issue.

[2020-12-16 16:10] TedCC1209 opened #233 "2D Views - Plan view - Have door be a break/opening in wall rather than just dashes"
Right now walls just have dashes to show where a door/opening is:

![Wall Dashes](https://user-images.githubusercontent.com/61025894/102374187-491d0580-3f7e-11eb-8628-13113744e5b9.png)

We should have a hard break instead:

![Wall Dashes 2](https://user-images.githubusercontent.com/61025894/102374353-75d11d00-3f7e-11eb-8dd8-d62ba8024090.png)

[2020-12-16 16:19] TedCC1209 opened #234 "2D Views - show return wall dimensions"
I am not seeing return wall dimensions on square rooms, not on the plan view or the elevations:

![return wall dimension plan view missing](https://user-images.githubusercontent.com/61025894/102375113-5a1a4680-3f7f-11eb-8fd9-01a062298a43.png)

![return wall dimension elevation view missing](https://user-images.githubusercontent.com/61025894/102375235-8209aa00-3f7f-11eb-9afa-a58c04a00b71.png)

We n

[2020-12-16 16:25] TedCC1209 commented on #234
To be accurate on these, we likely need to add a door molding width on the room builder prompts as well and the door width would be the opening dimension of the door. The return wall width dimension needs to be the distance to the molding (the buildable area), so we need to clarify to the user that that is what we are asking for.

[2020-12-16 16:32] AntonioGloria commented on #227
Hi @TedCC1209
The hash mark fix is ready, I have just uploaded it.
![image](https://user-images.githubusercontent.com/74732175/102376976-c8fc9d00-3f89-11eb-95c7-0bce769818a3.png)
The fix can be found here: https://github.com/nailsonlandim/SNaP-Dev/tree/3DLabels

[2020-12-16 17:05] TedCC1209 commented on #227
Great, thanks! Worked on my testing too. @sarahhightower @kategodfrey @JBTattersall please test as well.

@ClassyTeddy I think you can do the pull request on this and the rest of the "Ready to Merge" items to set up for the update.

Thanks,

Ted

[2020-12-16 18:09] kategodfrey commented on #227
Looks good on my end

![image](https://user-images.githubusercontent.com/63115502/102388567-2fd08500-3f8f-11eb-89ce-ae5995e75a15.png)

[2020-12-16 18:10] kategodfrey commented on #227
Wall C I have a shelf space below the drawer stack to see if it would mess up the hash... it's not a real design

[2020-12-16 18:31] TedCC1209 commented on #216
This may need to be addressed before the update is released

[2020-12-16 18:37] ClassyTeddy commented on #216
I am not sure it will be a very quick fix. I have yet to really look into it. All I know is that quartz is an option to select in the countertop materials. And that there is no quartz countertop part. There is a seperate HPL, Melamine, And Granit part for countertops, but I am not aware on how much work it would be to add a quartz option

[2020-12-16 18:45] TedCC1209 commented on #216
Okay well we can't keep users limited to melamine. Can you push your current fixes for this and we will have to just deal without quartz and without all the correct edge options for HPL, etc.?

Thanks,

Ted

[2020-12-16 18:46] RyanMDev commented on #125
On branch `Hinge-Drilling`:

- Pass tool name and diameter for hinge drilling: CCDevNelson/SNaP-Dev@a7be90e3781d4aa9cb24c78c011045dfd5b92273

- Changed hamper door orientation and drilling with commit: CCDevNelson/SNaP-Dev@06559f5cfd8d6b3c04baedfa2d56ea9b3357632e

- Re-enable pilot hole drilling: CCDevNelson/SNaP-Dev@7eebe6225c032385eb313f2c37aecf570c1f95e2

[2020-12-16 18:46] ClassyTeddy commented on #216
Yeah, I will create the pull request now.

[2020-12-16 19:08] sarahhightower commented on #227
This appeared to work for me. Thanks!

![Test Image](https://user-images.githubusercontent.com/72047269/102394690-5b576d80-3f97-11eb-8da1-1e359d1a3a37.JPG)

[2020-12-17 22:18] CCDevNelson commented on #125
Ryan,
After speaking with Ned this morning, it turns out that our tooling file in CADCode did not have the correct tooling to match the Skipper Machine (at least for that small bit). I made the changes needed and the XML that Ted sent me prior to these most current changes, works fine now. Other than the rotation of the Hamper Door of course. So we need to revert back to before the "Pilot" tool na

[2020-12-17 23:24] TedCC1209 opened #235 "Update Moderno Door Color Options"
We need to update the Moderno Door color options to the following:

U Cannes
U Cassis
U Driftwood
U Ember
U Mystic
U Nizza
U Silva
U Skye

@SeanRadvan , are you able to do this or does @ClassyTeddy need to?

Thanks,

Ted

[2020-12-18 06:57] #130 closed

[2020-12-18 15:45] SeanRadvan opened #236 "Drawer Prompts on master build 12 / 18."
Was testing the master branch post ryans merge yesterday and got this popup when opening drawer prompts.
![drawer](https://user-images.githubusercontent.com/54151330/102633330-8237b000-410d-11eb-9f18-d7abe27458a6.jpg)

[2020-12-18 16:02] TedCC1209 commented on #236
I am getting the same thing

[2020-12-18 16:08] ClassyTeddy commented on #236
None of the merges that Ryan has made should have affected the drawers. It looks like there is a logic error happening with double jewelry drawers in the prompts menu.

[2020-12-18 16:14] SeanRadvan commented on #236
Doing some more testing, but on multi drawer stacks it only has an option for "Drawer 1 Height," is this correct / related?

[2020-12-18 16:15] ClassyTeddy commented on #236
Yes and yes, once SNaP reaches the error, it stops creating more options in the prompts menu. I am pushing a fix now, SNaP was building an old version of the drawers that lacked some necessary values for Double Jewelry Drawers. I am also adding a small line of logic to avoid the error on older drawer stacks.

[2020-12-18 16:17] ClassyTeddy commented on #236
Fix should be available on the `master` branch now.

[2020-12-18 16:22] SeanRadvan commented on #236
![drawr update](https://user-images.githubusercontent.com/54151330/102636889-73073100-4112-11eb-8142-ad3424a4ae3e.jpg)
Looking better. I'm not sure what the requirements are for the double jewelry but i don't see a prompt for it.

[2020-12-18 16:25] ClassyTeddy commented on #236
I believe you need either a 6 or 7 hole drawer and a depth of at least 16 inches

[2020-12-18 16:27] TedCC1209 commented on #236
Looks good for me now, and the double jewelry works in the parameters Teddy identified.

[2020-12-21 13:28] TedCC1209 opened #237 "Dog Ear Not Working"
I was testing the latest version of SNaP (Master Branch) and when I tried dog-ear-ing partitions, my numbers were not being reflected in the drawings (no numbers were being reflected):

![Dog Ear Not Working](https://user-images.githubusercontent.com/61025894/102781784-7b9b7980-4355-11eb-964f-fbcaedb19de2.png)

It has been a while since I tested dog ear partitions I think so I'm not sure when it s

[2020-12-21 13:38] TedCC1209 commented on #237
When I put a top shelf in above those sections above (kept the dog ear numbers in there even though it wasn't being reflected in the scene), it adjusted the depth of the top shelf as though the dog ear was working.

[2020-12-21 13:42] TedCC1209 opened #238 "XML Export "Elements not closed" error"
Exported a test job to XML on the master branch and got the following message from XML Notepad when trying to open the XML:

![XML Export Error 12-21-20](https://user-images.githubusercontent.com/61025894/102782930-64f62200-4357-11eb-8e04-c0f4fe54aa86.png)

It would then only open the XML in regular Notepad and not my XML Notepad viewer.

[2020-12-21 13:52] TedCC1209 opened #239 "2D Views - Dimensions need inch mark"
We need to add the inch (") notation mark to the wall height and build height dimensions. Right now they don't have any unit of measure attached to them:

![2D Views dimensions need inch mark](https://user-images.githubusercontent.com/61025894/102783942-e9957000-4358-11eb-8f7c-7b6feca8827c.png)

[2020-12-21 13:53] TedCC1209 commented on #235
@SeanRadvan @ClassyTeddy can we get this fixed this morning and sent to Ryan before the new update please? @SeanRadvan please let @ClassyTeddy know if you need him to handle this one, I wasn't sure if it was something you could address yet. Thanks, Ted

[2020-12-21 14:05] TedCC1209 opened #240 "Room Category Error Custom Rooms"
While testing the master branch I tried creating a custom room. The first issue is that I never got a prompt for the room category. Secondly, after I collected the walls and then attempted to add the room to the active project I got the following error message:

![Custom Room Room Category Error](https://user-images.githubusercontent.com/61025894/102785233-ddaaad80-435a-11eb-97fc-9ed2ad52250a.png)

[2020-12-21 14:09] TedCC1209 commented on #240
If this fix is going to take a lot of time, we can revert the room category feature addition and work on it after the update is good to go. I would like users to see that we are adding this, but it isn't a "must-have" for this update. So, if it's quick, go ahead and make the fix, otherwise it's okay to prioritize the other items we are pointing out. Thanks, Ted

[2020-12-21 14:16] ClassyTeddy commented on #238
Can you send over the .xml file so I can take a look at it.

[2020-12-21 14:19] nailsonlandim commented on #239
Fixed

![image](https://user-images.githubusercontent.com/70038700/102786416-363f7200-437e-11eb-936f-69fc90828b62.png)

https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23239-dimensions-needs-inch-mark

[2020-12-21 14:22] ClassyTeddy commented on #237
I cannot seem to replicate the dog ears not showing up in the drawing. What are the other setting that you have enabled on that partition? Another prompt might be causing an error, so I need to replicate it exactly and try to find where the issue is.

[2020-12-21 14:25] TedCC1209 commented on #238
Yes see the following:

https://drive.google.com/file/d/0B7I2qIHfcFaNZDBPaUxDVzRxZk9jbUQtbXVUZDZQLVpEdjY0/view?usp=sharing

So in this job at one point I tried putting in a Top Shelf piece but was having issues clicking the partition that I wanted because it had tall doors on each side of it, so I ended up pressing "Esc" to exit out of placing that part. Could that have caused the issue?

I didn't

[2020-12-21 14:36] ClassyTeddy commented on #238
Try it on the master branch again. It was not because of the Top Shelf Mishap, there was an error when it was writing to the XML that was caused by the Wooden Door Export changes that caused it to not finish writing to the XML. I removed the issue and it should be working now.

[2020-12-21 14:39] TedCC1209 commented on #238
Great, it exported fine now. Thanks!

[2020-12-21 14:39] #238 closed

[2020-12-21 14:45] TedCC1209 commented on #237
For this particular set of partitions the settings where as follows:

![Dog Ear Partition Prompts 1](https://user-images.githubusercontent.com/61025894/102788662-3cbef100-4360-11eb-903d-0a0d8a4b3c3d.png)

![Dog Ear Partition Prompts 2](https://user-images.githubusercontent.com/61025894/102788672-3f214b00-4360-11eb-8d29-57ef2986475a.png)

![Dog Ear Partition Prompts 3](https://user-images.githubuse

[2020-12-21 14:45] ClassyTeddy commented on #240
A fix for this should be ready to go on the `master` branch

[2020-12-21 14:50] ClassyTeddy commented on #237
It is still working for me. What other assemblies do you have that are apart of the partition?

[2020-12-21 14:50] TedCC1209 commented on #237
Is it the tall partitions causing the issue? Here is another one where a shorter partition (37H) shows the dog ear but the taller partitions (62H) do not:

![Dog Ear 1](https://user-images.githubusercontent.com/61025894/102789257-1b123980-4361-11eb-98db-715c535deeeb.png)

![Dog Ear 2](https://user-images.githubusercontent.com/61025894/102789272-1e0d2a00-4361-11eb-9cdb-c87ace444189.png)

@AntonioGl

[2020-12-21 14:52] TedCC1209 commented on #237
By just changing the 62H partitions to 37H the dog ear showed up in the previous test:

![Dog Ear 3](https://user-images.githubusercontent.com/61025894/102789454-6cbac400-4361-11eb-94af-b5a159ec33eb.png)

[2020-12-21 14:54] TedCC1209 commented on #237
Same with the original test job, just had to change it to shorter partitions to see the dog ear:

![Dog Ear 4](https://user-images.githubusercontent.com/61025894/102789695-b2778c80-4361-11eb-8207-f0c96a5c4ec0.png)

[2020-12-21 14:55] SeanRadvan commented on #235
Sorry just saw this, to clarify it looks like you want cannes, cassis,
skye, added and luxe, zahara removed is that correct?  It looks like it
pulls the names based on the ModernoDoorColors.csv, just need to find where
it pulls the blender file from and get the colors for it to load. If you
have the company website that would be great.

On Mon, Dec 21, 2020 at 6:54 AM Theo <notifications@github.co

[2020-12-21 14:59] TedCC1209 commented on #235
Thanks Sean. I need the list in SNaP to match the list I put in the OP, whatever that ends up being on adding/deleting. None of these are new colors, they are all currently available Uniboard textured melamine colors in SNaP.

[2020-12-21 15:07] AntonioGloria commented on #237
Hi @TedCC1209,
The change I made was to add a Remesh modifier in the .blend file for the Closet Panel assembly, on top of the modifiers that adjust that part's dimensions. It might be contributing to this issue. I can try to replicate these partition settings and tweak the values on the modifier to see if that solves the issue.

[2020-12-21 15:08] ClassyTeddy commented on #235
@SeanRadvan I just got to this one, it was a really quick change that is ready to go now. Should be ready for testing on the `master` branch now.

[2020-12-21 15:10] ClassyTeddy commented on #237
I can confirm that this was not an issue on previous branches, so I am going to run through each branch recently merged and try to find which branch causes it.

[2020-12-21 15:16] SeanRadvan commented on #235
Perfect, just for my learning would you mind telling me what files / lines
had to be changed?

On Mon, Dec 21, 2020 at 8:09 AM ClassyTeddy <notifications@github.com>
wrote:

[2020-12-21 15:24] ClassyTeddy commented on #235
So in this situation, if you look at this commit 5d766dbc, all I needed to do was change what options were available in the `ModernoDoorColors.csv`, because we already had all of those colors available as .blend files.

[2020-12-21 15:27] ClassyTeddy commented on #237
I can confirm that this issue appears to originate from the 3D Labels Branch

[2020-12-21 15:58] TedCC1209 commented on #235
This looks good. Thanks

[2020-12-21 15:59] TedCC1209 commented on #240
This works now, thank you

[2020-12-21 16:16] TedCC1209 opened #241 "2D Views: Exposed annotation hash mark"
I noticed that the Top Shelf exposed notation has mark is coming in at the bottom corner of the shelf again rather than at the top corner--I thought we had that fixed before?

Also the CT exposed notation has mark is coming in as though the countertop is 1.5" thick even when it is melamine and only 0.75" which makes it look like the hash mark is floating/out of place. Can we have it determine the

[2020-12-21 16:18] TedCC1209 opened #242 "2D Views Plan View - Top Shelf & Countertops"
Top shelf appears to show up in the plan view of 2D Views while countertops do not seem to show. Can we have both show up on the plan view but have them in gray rather than black?

[2D Views.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5725313/2D.Views.pdf)

Thanks,

Ted

[2020-12-21 16:19] TedCC1209 commented on #239
Thanks for adding those Nailson. Is there a reason your wall height and build height dimensions come out more bold/are a different text than mine?

[2D Views.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5725278/2D.Views.pdf)

[2020-12-21 16:21] TedCC1209 commented on #241
The countertop label hash mark is the same as the CT exposed annotation hash mark-- it is coming in as though the CT is 1.5" thick even when it is only 0.75" thick melamine material. It should also either come in exactly at the top of the CT or it should always assume it is 0.75" thick--though this will be more noticeable than the exposed label hash mark, so it would be nice if it could determine

[2020-12-21 16:31] TedCC1209 opened #243 "2D Views: Add Filler Annotation"
We need to add a filler annotation when a filler is present--width of filler should be on top line with the word filler on a second line below, center justified text and centered below the filler on the same level/line as the opening width dimensions. See the following example:

![Filler annotation](https://user-images.githubusercontent.com/61025894/102799101-456af380-436f-11eb-8f25-f460664992a9.p

[2020-12-21 17:00] ClassyTeddy commented on #63
Which need addressed specifically?

[2020-12-21 17:07] TedCC1209 commented on #63
Certainly:

-Doors automatically coming with Top and Bottom KDs (Available to test on Teddy-Door-KD-Fixes)
-Door openings between 21"and 24" automatically having force double door checked (Available to test on riya-fixed)
-Door KD's extend the entire depth of the partition and cleats move accordingly (Available to test on Teddy-Door-KD-Fixes)--This one looks like the top KD correctly extends the e

[2020-12-21 17:17] SeanRadvan opened #244 "Room category required."
When testing room category, even though it says its required you can just click OK and it will still create the room afterwards. If it passes any information then we should probably make it so the user cant continue without selecting a room type.
![image](https://user-images.githubusercontent.com/54151330/102803664-d513a080-4375-11eb-88d8-90e270f75459.png)
![Required2](https://user-images.githubus

[2020-12-21 17:21] ClassyTeddy commented on #63
So these two work for me on the master branch:
-Doors automatically coming with Top and Bottom KDs
-Door KD's extend the entire depth of the partition and cleats move accordingly

I will look into the automatically having force double door checked

[2020-12-21 17:27] TedCC1209 commented on #63
These work when there is nothing in the opening prior to placing the doors. However, these act like I wrote above and don't work properly when placed above drawers and hampers

[2020-12-21 17:35] TedCC1209 commented on #244
@ClassyTeddy are you able to restrict the user from hitting "Ok" until they make a selection?

The user will learn will quick not to just hit Ok since that means they cannot make adjustments to the room dimensions if they do that, but then they will have to delete the room and re-make the room--which will cause further issues if they delete the room then create another room in the same project wit

[2020-12-21 17:36] ClassyTeddy commented on #244
I couldn't find a way to force the user to select a category, this is unfortunately the best option. It will pass on information that no room category was selected when the user exports to XML. I also prefer this solution as it makes testing faster not having to pick a category.

[2020-12-21 17:36] TedCC1209 commented on #125
Just noting for reference that another test job has been emailed this morning to Mark/Sean W. for testing.

[2020-12-21 17:38] ClassyTeddy commented on #63
Oh, they never functioned that way. That will require far more logic. I can try and look into a solution

[2020-12-21 17:47] ClassyTeddy commented on #244
As far as I know, there is no way to restrict the user from clicking any button. I also pursued the option of creating a new popup if the user selects OK without filling the fields out, but that also isn't possible. I spent a lot of time on this one, but I could not figure out how to force a selection.

[2020-12-21 17:51] TedCC1209 commented on #244
Okay, for now I think it'll be okay. I've been messing around with creating rooms clicking Ok before selecting a category, deleting the room by selecting the X, and then creating a new room with the same name afterward and I'm not running into any issues.

@SeanRadvan this will just be a known potential thing you may get questions on.
@kategodfrey this will be good to include in the SNaP newslette

[2020-12-21 18:13] TedCC1209 commented on #244
@CCDevNelson does this break the XML if a category is not selected? Here is what the XML looks like when you don't put a category (I named the room "No Category Room"):

![Category Break](https://user-images.githubusercontent.com/61025894/102808320-65a1af00-437d-11eb-82d5-093d32a5dc4a.png)

Here is the XML from the above job:

https://drive.google.com/file/d/102YH1T11ZMxNRP6w6zKXiJqIV4DYEj3s/view?

[2020-12-21 18:23] TedCC1209 opened #245 "Door prompts"
The door prompts are now messed up a bit. Here are the door prompts which duplicate the door type and pull location:

![Door Prompts](https://user-images.githubusercontent.com/61025894/102809235-de553b00-437e-11eb-8ebb-2c1b90ef9cfd.png)

The shelf options for the doors don't have an option for adding shelves, and duplicate many of the options from "Door Options":

![Door Prompts 2](https://user-im

[2020-12-21 18:36] CCDevNelson commented on #244
Ted, I thought this was going to be a drop-down list that they are required to select a category? As far as the XML goes, yes, this would cause us problems on this end since this is a required field that BC needs. If we "wait" till the point-in-time that the XML is read into production, it will make for a mess. I can check for that field to be something it's not suppose to be, but then we would ha

[2020-12-21 19:02] CCDevNelson commented on #125
Drill Test of 12_21_20
Drilling instructions missing in the XML for Doors and Hamper Faces. Blind corner Partitions drills correctly, but the Doors and Hamper Faces are missing the drilling info.
![BlindPard](https://user-images.githubusercontent.com/44483142/102812535-6853d280-4384-11eb-917a-635cfc7ac489.png)
![HampDoor](https://user-images.githubusercontent.com/44483142/102812541-6a1d9600-4384-1

[2020-12-21 19:18] ClassyTeddy commented on #244
This might be a possible solution, but this is probably an issue that @RyanMDev will need to solve.

There are multiple problems to this issue.

For one, at the time, the only way I could find to save a rooms category to was to append it onto the name of the rooms file at room creation. The reason for this was due to the fact that the value of the `Room Category Property` is saved across SNaP. So

[2020-12-21 19:23] ClassyTeddy commented on #63
There is a possible solution for all the issues brought up here on the `Door-Defaults-Working-Above-Drawers` branch. This fix should work for both drawers and hampers. This branch also fixed the automatically having double doors be selected, but this only works on placement of the doors, as it was working before. This branch also fixes issue #245, as there were some duplications and incorrect inde

[2020-12-21 19:23] TedCC1209 commented on #244
There is a drop down list that has all the current categories and in order for the user to change the dimensions of a room (other than a Custom Room) they have to choose a category to get that option--as seen in the OP it very clearly says REQUIRED to choose a category and it is right where the user is going to be looking (https://github.com/CCDevNelson/Snap-Updates/issues/130). Unfortunately righ

[2020-12-21 19:37] TedCC1209 commented on #63
@sarahhightower @kategodfrey @JBTattersall  Just making sure you guys are seeing this

[2020-12-21 20:09] nailsonlandim commented on #243
Got it @TedCC1209
One question, It`s needed the just the filler amount or do you need also the deduction (if there is any)

![image](https://user-images.githubusercontent.com/70038700/102817688-0197de80-43af-11eb-9956-dcb57d64c1eb.png)

[2020-12-21 20:13] kategodfrey commented on #63
I tested: Door-Defaults-Working-Above-Drawers and it appears to have the fixes for the automatic KD placements and the other door issues from 245. One thing I noticed is that if you delete the doors the KDs stay @TedCC1209 but maybe that's not a big deal.

[2020-12-21 20:19] SeanRadvan opened #246 "Moderno Skye Texture"

[2020-12-21 22:18] nailsonlandim commented on #243
Hi @TedCC1209 ,

Done.

![image](https://user-images.githubusercontent.com/70038700/102827199-e504a200-43c0-11eb-9fa1-19eda654ae01.png)

Available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23243-add-filler-annotation

[2020-12-21 22:57] sarahhightower commented on #63
Automatic KD placements and door/shelf prompts appear to be working fine. In one of my test runs, however; I had an issue getting the door prompt to open. I'm attaching a visual for this. Let me know if you would like me to post the ccp file or if this is enough to understand the issue.

![Uploading SNaP_ [C__Users_shightower_Documents_SNaP Projects_Test Room_41110_Testing Doors.blend] 12_21_2020

[2020-12-22 01:16] RyanMDev commented on #244
Please test the solution found on commit: CCDevNelson/SNaP-Dev@fbe22c0bcb37b35bd99dfffd1c4e7d25fd1bcf1e

This ensures that a room will **never** be created if the room category has not been selected.

Now if a user clicks "Ok" without selecting a room category, a message will be shown alerting the user that no room will be created because they did not select a room category.

This should bypass an

[2020-12-22 01:21] RyanMDev commented on #244
@ClassyTeddy  You will also notice that I have added a message box operator in order to alert the user that they have not selected a category (commit: CCDevNelson/SNaP-Dev@f952013df55ad9832eafef86c2ade7ff7fc4373d).

You are correct here:

However you can call another operator with its own `draw` function. Which is what I have done here.

[2020-12-22 01:25] RyanMDev commented on #125
Can we share that test job/XML here?

[2020-12-22 02:18] RyanMDev commented on #125
Not sure which commit/branch was used for the above test, however I have tested this on master branch commit: CCDevNelson/SNaP-Dev@fbe22c0bcb37b35bd99dfffd1c4e7d25fd1bcf1e

Hinge drilling for doors and hamper doors was working fine for me.

XML:
[snap_job_hinge_drilling_test_12-21.zip](https://github.com/CCDevNelson/Snap-Updates/files/5727372/snap_job_hinge_drilling_test_12-21.zip)

Test room:
![h

[2020-12-22 13:03] TedCC1209 commented on #125
https://drive.google.com/drive/folders/16a4dcSmD8P5qWnUJAPx5rS0gtEwDpKbF?usp=sharing

[2020-12-22 13:05] TedCC1209 commented on #229
@ClassyTeddy the designers are asking that this be elevated. Is this an easy fix to get done today/tomorrow? Thanks.

FYI @kategodfrey @sarahhightower

[2020-12-22 13:25] TedCC1209 commented on #63
Teddy, with BCPs the doors aren't reading the opening correctly so it is automatically putting in double doors in small spaces--can you have it figure out the opening space (cab opening width - BCP depth + 0.75" outside partition overlap) when determining whether to have Force Double Doors selected? Right now it is just looking at cab openings width I believe.

I could not replicate Sarah's door p

[2020-12-22 13:25] TedCC1209 commented on #63
Here's a pic of the BCP small double doors:

![small double doors](https://user-images.githubusercontent.com/61025894/102893264-853ce400-441e-11eb-8378-01aca38b24fe.png)

[2020-12-22 13:27] TedCC1209 commented on #244
This looks good to me, thanks for figuring out an initial solution Ryan

[2020-12-22 13:34] TedCC1209 opened #247 "Flat Crown Overhang"
Right now Flat Crown overhang defaults to 1.25" (this measures from the front of the crown so the 1.25" overhang is the 0.75" thickness of the crown plus 0.5" topshelf overhang).

Can we change a few things on this please?

1. Can we have the measurement be from the back of the crown so it doesn't add the extra 0.75" thickness of the crown (the current default would then be 0.5" instead of 1.25")

[2020-12-22 13:36] TedCC1209 commented on #177
When we get to this item, please also increase the amount of shelves allowed to 15. Thanks, Ted

[2020-12-22 13:39] TedCC1209 opened #248 "2D Views: Make FB and partition height labels darker"
Right now the FB and partitions height labels are light gray--we end up making copies of plans for various departments so we are worried this light font won't copy well. Can we make these labels darker? Black or a darker gray is fine.

Thanks,

Ted

[2020-12-22 14:00] TedCC1209 opened #249 "2D Views: Elevations should be scaled with one another"
We are not requiring that the exported 2D View exports are scaled at 3/8" or 1/4", but they should be scaled with eachother--in other words, the elevations of a closet should be exported onto paper as the same height as each other (unless there are different wall heights, then those elevations should at least be scaled to one another. Here is what is happenings sometimes:

[2D Views 2.pdf](https:/

[2020-12-22 14:09] TedCC1209 commented on #243
Just the filler is good. The placement on your examples looks great.

[2020-12-22 14:28] TedCC1209 opened #250 "2D Views: Label locks (top and side) and Double Jewelry drawers"
We need to label locks (and whether they are top or side locks--just say "Top Lock" or "Side Lock") and double jewelry drawers ("Db Jwlry"). Not sure where the best place is to put the labels but do your best--I would say put it on the left side of the drawer face but if you have a side lock and a double jewelry drawer in the same drawer the space could be limited. Let me know if you're struggling

[2020-12-22 14:30] TedCC1209 opened #251 "Add regular jewelry drawer option"
We need to add a regular jewelry drawer option to drawers 4H-6H that adds a jewelry insert into the drawer box. When we get to this issue, please get with me on the sizing and insert options.

Thanks,

Ted

[2020-12-22 14:33] SeanRadvan commented on #244
Looks great, this should prevent a ton of end user error.

On Tue, Dec 22, 2020 at 6:27 AM Theo <notifications@github.com> wrote:

[2020-12-22 14:38] TedCC1209 commented on #221
The left end and right end deduction option essentially does this already but we shouldn't allow it to be set back--it should only be able to be brought forward. I want to ensure the drilling on this is correct, so let's look at it together when you get to this issue.

[2020-12-22 14:42] TedCC1209 opened #252 "Set back filler option"
We should allow for fillers to be moved back and not just be flush with the front of the partition--we set back the filler sometimes to help avoid an obstacle that is on a wall (like a light switch) or when the left/right return wall is less deep than the partition. Ideally this setback option would go where the left/right end deduction option currently is and the left/right end deduction option w

[2020-12-22 14:45] TedCC1209 opened #253 "Capping Filler option"
We should add the option for a capping filler--this is where there is a regular flush inset filler like is currently available and then a piece of molding is placed on top of the filler and overlapping the front of the adjacent partition 1/4". The height of the capping filler is sized like a door and the width should be oversized. The capping filler would be edged 1L/2S (1 height length and both w

[2020-12-22 14:46] #236 closed

[2020-12-22 14:47] #235 closed

[2020-12-22 14:48] ClassyTeddy commented on #63
The BCP Small double doors issue is fixed and ready for testing on the `Door-Defaults-Working-Above-Drawers` branch.

[2020-12-22 14:55] TedCC1209 commented on #63
Looks good, thanks Teddy

[2020-12-22 14:58] ClassyTeddy commented on #229
This should be ready for testing on the `master` branch

[2020-12-22 15:29] ClassyTeddy commented on #229
This should be ready for testing on the `master` branch

[2020-12-22 15:38] ClassyTeddy commented on #247
So we have two major options here. We can have it detect to see if there is a topshelf upon placement of the flat crown and adjust the value of `Front Overhang` to change only upon placement (Meaning that the Flat crown will not automatically adjust with the top shelf, nor vice versa) This would be fairly easy and all I would really need to do is find a way to check and see if top shelf is present

[2020-12-22 15:39] ClassyTeddy commented on #247
So we have two major options here. We can have it detect to see if there is a topshelf upon placement of the flat crown and adjust the value of `Front Overhang` to change only upon placement (Meaning that the Flat crown will not automatically adjust with the top shelf, nor vice versa) This would be fairly easy and all I would really need to do is find a way to check and see if top shelf is present

[2020-12-22 15:39] ClassyTeddy commented on #247
So we have two major options here. We can have it detect to see if there is a topshelf upon placement of the flat crown and adjust the value of `Front Overhang` to change only upon placement (Meaning that the Flat crown will not automatically adjust with the top shelf, nor vice versa) This would be fairly easy and all I would really need to do is find a way to check and see if top shelf is present

[2020-12-22 15:39] ClassyTeddy commented on #247
So we have two major options here. We can have it detect to see if there is a topshelf upon placement of the flat crown and adjust the value of `Front Overhang` to change only upon placement (Meaning that the Flat crown will not automatically adjust with the top shelf, nor vice versa) This would be fairly easy and all I would really need to do is find a way to check and see if top shelf is present

[2020-12-22 15:57] TedCC1209 commented on #247
Let's go with the first option. Thanks Teddy

[2020-12-22 16:16] sarahhightower commented on #229
Tested, and it worked for me. Thanks!

[2020-12-22 19:41] AntonioGloria commented on #237
Hello @TedCC1209
I got the dog ears working again.
![image](https://user-images.githubusercontent.com/74732175/102926831-55f89800-445b-11eb-8efd-da64753becb2.png)
The fix is available here: https://github.com/nailsonlandim/SNaP-Dev/tree/3DLabels

[2020-12-22 20:49] TedCC1209 commented on #237
Looks good to me, thanks!

[2020-12-22 20:56] TedCC1209 commented on #63
@ClassyTeddy I think this is probably good to go. Can you do a pull request on this? These door items should likely be fixed in the master before I prep a new hinge drilling test (not that it necessarily affects the drilling, but just in case).

[2020-12-22 22:00] kategodfrey commented on #239
Tested this and it looks good. My wall heights are not bolded...

[12-22 Test.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5732178/12-22.Test.pdf)

[2020-12-22 23:04] kategodfrey commented on #243
Looks good.

[filler2D Views.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5732307/filler2D.Views.pdf)

[2020-12-22 23:17] kategodfrey commented on #63
Tested the BCP. Looks good.

[2020-12-22 23:18] kategodfrey commented on #229
Tested and it worked for me as well. Thank you.

[2020-12-22 23:31] nailsonlandim commented on #242
Hi @TedCC1209 @sarahhightower @kategodfrey

Found out the bug that caused that. Now countertops will be correctly displayed.

The problem was caused (my bad) because when unlinking cleats I did not deselect any existing selected object, and the way Blender works it needs to set an object as active to unlink it from a different scene (in this case a 2D view).

So as a note for any developer in the

[2020-12-22 23:31] nailsonlandim commented on #241
Hi @TedCC1209 @kategodfrey @sarahhightower

Fixed, Also found a way to correctly label the material based on the countertop cutpart name.

![image](https://user-images.githubusercontent.com/70038700/102941846-7bed5f00-4492-11eb-95de-3a1d36397d26.png)

![image](https://user-images.githubusercontent.com/70038700/102941953-c4a51800-4492-11eb-8e38-450c72b20fb7.png)

Available at: https://github.com/na

[2020-12-23 14:38] TedCC1209 commented on #241
These look to be coming in at the right heights now, thank you for fixing that. The labels do not seem to follow the left and right ends when they have l/r overhang, however.

[2D Views.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5735720/2D.Views.pdf)

[2020-12-23 14:52] TedCC1209 commented on #243
The filler annotation looks good, thank you Nailson.

A little concerned about the following though, which issue @kategodfrey also ran into on this branch--after labeling and hitting "Prepare 2D Views" and while selecting which views we wanted prior to selecting "Render Selected Scenes" we got the following error and green objects:

![Filler Branch Error](https://user-images.githubusercontent.com/

[2020-12-23 14:59] nailsonlandim commented on #242
Sorry, I`ll add the Countertops just as the Topshelves are added.

About the color I`ll check that with Antonio.

[2020-12-23 15:00] nailsonlandim commented on #241
Thanks for point the overhang issue. I think that`s a fast fix. Thanks!

[2020-12-23 15:03] nailsonlandim commented on #243
I`ll check that error. Thanks for sharing the error messages, they have the information I need.

[2020-12-23 15:08] sarahhightower commented on #243
Filler looks good to me as well. I did not encounter the same error as Katie.

[2020-12-23 15:37] SeanRadvan opened #254 "3/4 backing incorrectly displaying"
![Backing](https://user-images.githubusercontent.com/54151330/103013323-2e0c4180-44fa-11eb-9e64-01448dbc8167.jpg)
On multi pards it appears that the left most opening always displays the 3/4 in backing differently from other openings with 3/4 backing. Tested on multiple opening sizes, upper / lower and changing order in which ones are enabled first, appears to be happenign in all. Unknown if it is

[2020-12-23 15:43] ClassyTeddy commented on #254
It appears that it just isn't removing the cleat and cover cleat objects on the first opening when 3/4" backing is selected. I will look into it after I finish the current issue with flat crown I am working on.

[2020-12-23 16:23] sarahhightower commented on #241
Countertop labels look good. A couple other things I noticed while running this test;

Test 1:

I used the countertop prompts to change the countertop selection for each area. I chose to do HPL on wall A, Melamine on wall B, and Granite on wall C. The drawer section with the melamine counter incorrectly notes it's height 41.91". A 4.39" toe kick was used in the design so the area with the melamine

[2020-12-23 17:17] TedCC1209 commented on #241
@nailsonlandim , let's create new issues for what Sarah has pointed out. I replicated them all myself.

1. The build height issue is something you and @AntonioGloria should be able to address I believe--it just looks like it accounted for a 1.5" thick CT for both melamine and HPL/granite tops when it should have just been 0.75" for the melamine CT (the 41.91" build height for her job is correct fo

[2020-12-23 17:22] TedCC1209 opened #255 "2D Views: Accounting for CT thickness in build height"
This issue stems from a comment made by @sarahhightower in https://github.com/CCDevNelson/Snap-Updates/issues/241:

My response was as follows: The build height issue is something you [@nailsonlandim]and @AntonioGloria should be able to address I believe--it just looks like it accounted for a 1.5" thick CT for both melamine and HPL/granite tops when it should have just been 0.75" for the melamine

[2020-12-23 17:48] TedCC1209 opened #256 "Different Countertop Types and Colors within same room"
My response: The other issues about having multiple types of countertops within a room may need to be addressed by @ClassyTeddy because all countertops are currently being assigned the color chosen in the Countertop Material prompt from the Closet Materials menu and being assigned whether Melamine, HPL, or Granite is selected in the prompts for each particular CT. This is likely a more involved fi

[2020-12-23 20:09] ClassyTeddy commented on #247
This should be ready for testing on the `Flat-Crown-Overhang-Adjustments` branch.

[2020-12-23 21:43] sarahhightower commented on #247
Tested and worked great for me. Thanks!

[2020-12-23 22:47] nailsonlandim commented on #241
Hi @TedCC1209  Solved the following issue:

![image](https://user-images.githubusercontent.com/70038700/103042111-46f71000-4557-11eb-9d7b-64ffee2335ed.png)

Now (Exp.) labels will behave correctly, available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23241-exp-annotation-hash-mark.

[2020-12-28 15:27] nailsonlandim commented on #242
Hi @TedCC1209,

I've added the Countertop at the Plan View,

![image](https://user-images.githubusercontent.com/70038700/103224028-ec1e3980-4905-11eb-9151-6907b5701790.png)

Tell me what you think.

Available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23241-exp-annotation-hash-mark

[2020-12-28 15:50] TedCC1209 commented on #243
@nailsonlandim this didn't come up in our meeting today, but a reminder to look into the issue @kategodfrey and I ran into with the error and green walls

[2020-12-28 15:53] nailsonlandim commented on #243
Can you or @kategodfrey share the file? that would speed up the bug-catching process.

[2020-12-28 15:55] SeanRadvan commented on #243
So i was able to replicate this error i think. From what i can tell it
happens if a room has previously been rendered, clearing 2d views from the
drop down seems to stop it, but it should probably clear 2d views when
opened.

On Mon, Dec 28, 2020 at 8:50 AM Theo <notifications@github.com> wrote:

[2020-12-28 16:16] kategodfrey commented on #243
https://drive.google.com/drive/folders/1QxfCLpfCkLOux5RXor4cWOdUw9YZ1acN?usp=sharing

@nailsonlandim let me know if I need to give you access to this folder. My blend file for this error is the only file in the folder right now.

[2020-12-28 18:27] TedCC1209 opened #257 "2D Views: Flat crown"
For flat crown built to ceiling, we need to label how many holes down the top KD is placed if the top KD is lowered:

![Flat Crown Top Holes Down](https://user-images.githubusercontent.com/61025894/103235447-7616d400-48ff-11eb-9d58-077a312637b7.png)

When a top KD is lowered one or two holes, a second line should be added to the Flat Crown label (which currently gives the height) and the second li

[2020-12-28 18:40] TedCC1209 commented on #247
Thanks Teddy, this is looking good. One thing is about returns showing a mitered look. Here is what you had fixed in https://github.com/CCDevNelson/Snap-Updates/issues/148 and the following bullet:

- The returns are now extended and clip with the front in order to make it appear mitered and to not reveal core

It looks like this isn't happening anymore:

![FC returns](https://user-images.githubus

[2020-12-28 18:48] ClassyTeddy commented on #247
Ah, the returns aren't being adjusted using the new overhang calculation (from the back instead of the front). I will tackle it once I finish the backing issue.

[2020-12-28 19:56] nailsonlandim commented on #243
Hi @TedCC1209 @kategodfrey

Fixed.

Available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23243-add-filler-annotation

[2020-12-28 20:34] TedCC1209 commented on #243
Thanks Nailson! I don't think the was related to your fixes in this branch so thank you for taking care of it anyway :) It now acts like I thought it acted in the past (with it just adding the image files when hitting render again rather than coming up with the error and turning the room green).

[2020-12-28 20:42] nailsonlandim commented on #255
Hi @TedCC1209 @sarahhightower

Fixed, now Build Height on countertop dimensions shows the correct value.

I was getting the ctop thickness from the Insert instead of the cutpart itself.

Available at: https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23241-exp-annotation-hash-mark

[2020-12-28 21:13] TedCC1209 commented on #125
@CCDevNelson Not sure if the last test was messed up because I used the Hinge_Drilling branch (I think I was confused about where changes/updates were being made, I am pretty sure all the changes should have been/were in there when I tested), but it looks like it all has been merged to the master branch now anyway. So, here is a new test from the current master branch:

https://drive.google.com/dr

[2020-12-28 22:09] TedCC1209 opened #258 "2D Views: Annotate left and right CT overhang amount"
Need to add an annotation for left and right overhang amounts for countertops

![overhang prompts](https://user-images.githubusercontent.com/61025894/103245784-812d2c80-491e-11eb-9406-16f86391504a.png)

![overhang](https://user-images.githubusercontent.com/61025894/103245787-81c5c300-491e-11eb-92b3-28c441338075.png)

[2020-12-28 22:09] TedCC1209 commented on #258
If the amount is zero, then no annotation is needed

[2020-12-28 22:30] TedCC1209 opened #259 "Countertops: Need a "Customer to Provide" option"
We need to add a "Customer to Provide" option for countertops where it will still draw the selected countertop in the scene so that the customer can see what their project will ultimately look like, but the countertop should not be exported to the XML to be produced or priced. This should be a button on the countertop prompts (both for the normal countertop assembly prompt and the island counterto

[2020-12-28 22:45] TedCC1209 commented on #255
It still is calculating 1.5" for the countertop if I have granite selected for countertops in the Closet Materials menu, even if I have Melamine selected for a particular countertop.

[2D Views.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5749000/2D.Views.pdf)

(Wall A has a 4.39" tk space, 36.02" pards, and a 0.75" thick melamine top - the build height should show 41.16", not 41.91")
(W

[2020-12-29 13:19] TedCC1209 commented on #248
@AntonioGloria @nailsonlandim can you all work on this today by chance?

[2020-12-29 14:08] TedCC1209 commented on #242
Thanks Nailson, I am seeing the CTs on the plan view now.

Can you tell me what the dotted lines are in your example? Are those uppers? I think we kept those as solid lines, no?

[2020-12-29 16:02] AntonioGloria commented on #248
Hi Ted
I can take a look at this issue today.

[2020-12-29 17:21] nailsonlandim commented on #242
Yes, they are uppers. In fact, makes sense to be solid lines but as far as I remember they were dashed in this situation.

[2020-12-29 18:22] kategodfrey commented on #242
@TedCC1209 This is what I got:
![Screenshot 2020-12-29 112044](https://user-images.githubusercontent.com/63115502/103305339-1d5f3e00-49c8-11eb-81b4-78e8aeccb830.png)

[2020-12-29 18:26] kategodfrey commented on #242
I just see issues in the fine details. For the countertop issue specifically:

1) In the plan view, the countertop doesn't connect on the left side.

Other small issues:

2) The closet components are layered when there are uppers and lowers.
3) The ceiling height is hidden under the left corner (Job Name, Job Number, Install Date...)

[2020-12-29 18:34] kategodfrey commented on #242
![lines](https://user-images.githubusercontent.com/63115502/103306007-c490a500-49c9-11eb-9bc6-4104f77f00cf.png)

[2020-12-29 19:24] TedCC1209 commented on #242
Alright, well let's make them solid please. Also please let me know what you're thinking for fixes on what Katie pointed out and an ETA if possible. Thanks, Ted.

[2020-12-29 19:56] nailsonlandim commented on #242
Hi @kategodfrey

That seems a faster fix. probably just a tweak on how the countertop is "positioned" on PV. (ETA, 1-2h, today) 1-2 PM Arizona Time

Are you referring to the text?
![image](https://user-images.githubusercontent.com/70038700/103310126-a17bea80-49f5-11eb-9e71-428dd210e8dd.png)

I can adjust the 2D view image handling to use the canvas until right below the texts. (ETA, 3-4h, today) 5

[2020-12-29 20:01] nailsonlandim commented on #242
Hi @kategodfrey ,

![image](https://user-images.githubusercontent.com/70038700/103310674-eeac8c00-49f6-11eb-9b79-68d9496c4274.png)

These glitches are due to the blender render (specifically Freestyle renderer). I think @AntonioGloria could explain it better.

Unfortunately, we can't do much to fix it. unless Antonio has something in his hat.

[2020-12-29 20:40] kategodfrey commented on #242
**Yes I can do that for you. I will create a subfolder in the one I shared with you the other day that will have closet designs. I have put my file in it of the project above, it's called "countertest." **

https://drive.google.com/drive/folders/1QxfCLpfCkLOux5RXor4cWOdUw9YZ1acN?usp=sharing

[2020-12-29 20:43] nailsonlandim commented on #242
Hi @kategodfrey

I need permission to access the folder. Thanks!

[2020-12-29 20:46] AntonioGloria commented on #242
Hi @kategodfrey,

@nailsonlandim is correct. This glitch is related to orthographic views and to the fact that many objects are meeting or intersecting at those spots.

[2020-12-29 20:49] kategodfrey commented on #242
@nailsonlandim @AntonioGloria Ok that makes sense. It's no big deal!

and @nailsonlandim can you give me your email address so I can give you access?

[2020-12-29 20:50] nailsonlandim commented on #242
nailson.landim@bairesdev.com

[2020-12-29 20:51] kategodfrey commented on #242
Great. You should be able to open it now!

[2020-12-29 21:34] nailsonlandim commented on #242
Hi @kategodfrey

I fixed the issue on countertops. Now it shows correctly it.

[2020-12-29 22:07] AntonioGloria commented on #248
Hi @TedCC1209,
Here's the fix to this issue. I'll post here the screenshots I shared with you before.

Before:
![248_Labels_Before](https://user-images.githubusercontent.com/74732175/103316909-8c9c5880-49ef-11eb-87ce-70217e210055.png)

Now:
![248_Labels_After](https://user-images.githubusercontent.com/74732175/103316941-ab025400-49ef-11eb-91b1-cc8816a55fd3.png)

The fix is available here: https://

[2020-12-29 22:12] nailsonlandim commented on #255
Hi @TedCC1209 ,

I am trying to reproduce your issue without success.

[2D Views - CTOP 1.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5752347/2D.Views.-.CTOP.1.pdf)

[2D Views - CTOP 2.pdf](https://github.com/CCDevNelson/Snap-Updates/files/5752346/2D.Views.-.CTOP.2.pdf)

For me, they are correctly calculated, just as you said.

I used 4.39" TK, 36.02" Pards, 0.75" for melamine, and 1.5"

[2020-12-29 22:18] kategodfrey commented on #242
I can see the line now connects👍, but the list of closet components are still stacked in that third opening with the hamper.

![image](https://user-images.githubusercontent.com/63115502/103317594-db92bf80-49e8-11eb-86e0-3acd43bb7f55.png)

[2020-12-29 22:18] kategodfrey commented on #242
And we want that dotted line to be solid.

[2020-12-29 22:24] nailsonlandim commented on #242
I am working on it right now. As soon as I have it I'll push and tell you.
I wanted to push it so you can have it faster. Sorry for any inconvenience,

[2020-12-29 22:25] kategodfrey commented on #242
All good! Just didn't want to forget about it. Thank you!!

[2020-12-30 13:29] TedCC1209 commented on #254
Was it the changes about cleat not being drawn in 2D that caused this? https://github.com/CCDevNelson/Snap-Updates/issues/226 . Just a thought. Please don't spin your wheels on this too long Teddy, we have too many other pressing issues for you to address. If you're unable to get it, please ask Ryan to look into it and move onto other items. This can just be a known glitch for now. Thanks, Ted

[2020-12-30 13:31] TedCC1209 commented on #14
This is a high priority item now (not before the update, but this should be top of the list after) @ClassyTeddy

[2020-12-30 13:34] ClassyTeddy commented on #254
I figured out the problem, just working on a solution. The hutch backing is being considered a backing that needs to have a cleat, so I need to find a way to change some of it's variables when the first opening is made 3/4", but I also need to make sure that it doesn't change the thickness of the hutch backing. I should have this done soon.

[2020-12-30 18:32] ClassyTeddy commented on #254
This is ready for testing on the `master` branch.

[2020-12-30 19:14] SeanRadvan commented on #254
Tested, looking good.

[2020-12-30 20:33] TedCC1209 commented on #254
Tested and the 1st opening issue looks fine. However, after extending the hutch partitions and putting on a hutch back, I tried to open the Construction Options in the partition prompts and they wouldn't open and when I tried to make changes in the Opening Sizes prompts for the partitions nothing worked and errors popped up when I exit the partitions prompts. Here are some of the errors I have got

[2020-12-30 20:36] TedCC1209 commented on #254
The above errors look to only occur when I have a capping bottom on

[2020-12-30 21:14] ClassyTeddy commented on #254
A fix for the above error should be ready for testing on the `master` branch

[2020-12-30 21:57] ClassyTeddy commented on #247
This is ready for testing on the `Flat-Crown-Overhang-Adjustments` branch.

[2020-12-30 21:59] nailsonlandim commented on #242
Hi @TedCC1209

I've fixed the PV labels issue.

![PV_labels](https://user-images.githubusercontent.com/70038700/103382976-cd6b9e80-4acf-11eb-8af8-fce44f9b44d8.png)

It's available at https://github.com/nailsonlandim/SNaP-Dev/tree/issue_%23241-exp-annotation-hash-mark

At this very moment, Antonio and I are working on the solid lines.

Correct me if I am wrong, but for now, those dashed lines means

[2021-01-04 13:27] TedCC1209 commented on #247
Still seeing the core of the material when I have returns (in all scenarios I could try--to ceiling, not to ceiling, etc). Also, it recognizes when there is top shelf present but seems to just add what the "Extend Front" amount is from the topshelf rather than looking to see what the depth of the particular top shelf is in determining the location of the FC. See as follows for both these items (le

[2021-01-04 13:30] TedCC1209 commented on #254
Looks good, thanks Teddy

[2021-01-04 13:33] TedCC1209 commented on #125
From @CCDevNelson on Thursday:

[2021-01-04 13:33] #124 closed

[2021-01-04 13:33] #56 closed

[2021-01-04 13:35] #229 closed

[2021-01-04 13:36] #240 closed

[2021-01-04 13:36] #244 closed

[2021-01-04 13:38] TedCC1209 commented on #242
Yes they are overlapping but from this view the TS would be in front of/on top of the CT

[2021-01-04 13:39] ClassyTeddy commented on #247
I can keep looking into the returns and the core issue, but the second issue you brought up about placement will be a bit trickier. I will start by having flat crown adjust the front overhang prompt on placement based on the top shelf depth like you suggested

[2021-01-04 13:56] sarahhightower commented on #254
Tested and worked well for me.

[2021-01-04 13:59] TedCC1209 commented on #257
Currently if the "Extend to Ceiling" option is selected the label will still just put the height of the FC that was in the height prompt previously, so when you get to addressing this issue you will also have to need to account for the extend to ceiling option when displaying the FC height.

[2021-01-04 14:13] nailsonlandim commented on #242
Hi @TedCC1209 @kategodfrey

The reason why dashed lines occur is that at Plan View the upper is positioned inside the other opening. And right now the TS is under the openings.

![image](https://user-images.githubusercontent.com/70038700/103542975-8806f280-4e7c-11eb-9e65-0af43354450a.png)

So the rendered image is this:

![image](https://user-images.githubusercontent.com/70038700/103541676-8a684d0

[2021-01-04 14:22] TedCC1209 opened #260 "2D Views: Fix allowable areas for images/views"
This is a priority item that I believe @nailsonlandim can address quickly. We need to restrict plan and elevation views from overlapping items on the Legend or from eachother. There needs to be a small buffer:

![overlaps](https://user-images.githubusercontent.com/61025894/103544627-a01b4980-4e5d-11eb-8b9f-ac975cd0a5f7.png)

[2021-01-04 14:29] TedCC1209 opened #261 "2D Views: Some labels not clearing"
It seems certain labels aren't clearing out after clearing all 2D views and re-labeling a scene. It'd be nice if there were a "clear all labels" option or something so that the user knows they are starting out clean (if there is already one and I am just dumb for not knowing, please let me know). For this following example, there may be an issue with CT and flat crown specifically, but the old par

[2021-01-04 14:36] sarahhightower commented on #242
Tested and all of the above mentioned issues (besides the dotted lines and overlapping height/text) appear correctly in my test.

![Test Image](https://user-images.githubusercontent.com/72047269/103545915-7bc06c80-4e5f-11eb-996f-221e16d4aba0.JPG)

[2021-01-04 14:38] TedCC1209 opened #262 "2D Views: Label Capping Bottoms"
Need to add a label for capping bottoms that also contains its depth. The hash mark would come from the bottom center of the capping bottom, point down and left to the annotation that says "Capping Bottom [depth in inches]".

[2021-01-04 14:45] #254 closed

[2021-01-04 14:46] #63 closed

[2021-01-04 14:47] #152 closed

[2021-01-04 14:47] #148 closed

[2021-01-04 14:48] #154 closed

[2021-01-04 14:48] #202 closed

[2021-01-04 14:48] #207 closed

[2021-01-04 14:50] TedCC1209 opened #263 "Capping Bottoms: Force Bottom KD"
For capping bottoms, we need to force bottom KDs for the openings the capping bottom covers. This is not priority

[2021-01-04 14:51] #181 closed

[2021-01-04 15:11] TedCC1209 commented on #221
1. Change existing "Extend Left Side" and "Extend Right Side" prompts to say "Extend Left Side Down" and "Extend Right Side Down", respectively
2. Change "Left End Deduction" and "Right End Deduction" prompts to say "Extend Left Side Forward" and "Extend Right Side Forward", respectively.
3. Change "Extend Left Side Forward" and "Extend Right Side Forward" so that positive numbers means it is bein

[2021-01-04 15:12] #206 closed

[2021-01-04 15:13] #163 closed

[2021-01-04 15:13] #164 closed

[2021-01-04 15:15] TedCC1209 commented on #261
Also, when I re-do labels, many labels just seem to be added on top of old ones which then makes the labels extra dark because (I assume) of the multiple layers on top of each other

[2021-01-04 15:15] #226 closed

[2021-01-04 15:15] #227 closed

[2021-01-04 15:15] #218 closed

[2021-01-04 15:19] #211 closed

[2021-01-04 15:19] #141 closed

[2021-01-04 15:21] #142 closed

[2021-01-04 15:22] #143 closed

[2021-01-04 15:22] #213 closed

[2021-01-04 16:57] #245 closed

[2021-01-04 17:35] TedCC1209 commented on #125
@ClassyTeddy, per the email from @CCDevNelson, the pilot hole drill depth needs to be changed from 0.5mm to 4mm (0.157"). Please confirm this is something you can address.

Thanks, Ted

[2021-01-04 17:45] ClassyTeddy commented on #125
I should be able to address hopefully. I am currently helping J with something, then I will make sure that I know where to change the pilot hole drill depth.

[2021-01-04 17:54] ClassyTeddy commented on #221
So, for the first issue, all you would need to do is change the name of the prompts, and make sure that all the variables reference the new names. "Extend Left Side" and "Extend Right Side" are found on line 30 and 31 of the `common_prompts.py` file. Once you change the name of the prompt, you then have to go into `data_closet_carcass.py` and change every reference to the old name to now match the

[2021-01-04 18:17] ClassyTeddy commented on #125
I believe I changed the depth on the pilot holes. Here is what it looked like on my end before:
![Pilot hole depth before](https://user-images.githubusercontent.com/62624110/103565842-47a87400-4e7e-11eb-8ab5-37b8d36c18b7.png)

And here is what it looks like now:
![Pilot hole depth after](https://user-images.githubusercontent.com/62624110/103565864-5131dc00-4e7e-11eb-95b3-b32a091080dc.png)

This sh

[2021-01-04 21:19] nailsonlandim commented on #260
Hi @TedCC1209

Fixed the overlapping.

![image](https://user-images.githubusercontent.com/70038700/103579717-91fa1700-4eb7-11eb-9db2-771b405e2934.png)

![image](https://user-images.githubusercontent.com/70038700/103579910-fa48f880-4eb7-11eb-8db0-b995a0832149.png)

![image](https://user-images.githubusercontent.com/70038700/103580187-7ba08b00-4eb8-11eb-8a15-79c4f477a87b.png)

![image](https://user-

[2021-01-04 22:42] ClassyTeddy commented on #247
This should be ready for testing on the `Flat-Crown-Overhang-Adjustments` branch.

[2021-01-04 22:48] TedCC1209 commented on #260
Awesome, thank you Nailson.

@sarahhightower @kategodfrey

[2021-01-04 22:50] TedCC1209 commented on #247
Looks good to me, thank you Teddy

[2021-01-04 22:53] TedCC1209 commented on #125
The pilot holes look good there Teddy, we will test with the Hamper faces once we make the necessary changes there.

@RyanMDev this is what @CCDevNelson said after looking into the Hamper Face drilling issue further:

![image](https://user-images.githubusercontent.com/61025894/103587630-f1026080-4ea4-11eb-9b27-470b8c661740.png)

[2021-01-04 22:53] JJanneh commented on #221
![Extend Left  Right Side Ammount](https://user-images.githubusercontent.com/76751383/103587585-d203ce80-4ea4-11eb-8a23-df8ea1fe3f40.png)

[2021-01-05 03:01] RyanMDev commented on #125
Here is an updated xml to test, created from the 'Hinge Drill Test 12-28-20' project:
[snap_job_rotated_hamper_face_orientation.zip](https://github.com/CCDevNelson/Snap-Updates/files/5767802/snap_job_rotated_hamper_face_orientation.zip)

I've included an additional `Orientation` element which should tell CADCode the hamper parts should be rotated as shown above:
![m_orientation_xml](https://user-i

[2021-01-05 13:36] ClassyTeddy commented on #14
I have a couple questions about this issue.

1. What should be added to the drawing when the option is enabled?
2. Where would you like the option?
3. What does the XML need to include?

Any further description would be much appreciated.

[2021-01-05 13:59] TedCC1209 commented on #14
1. Add TK Skin option in TK Prompts

![TK Skin Button](https://user-images.githubusercontent.com/61025894/103653623-08336380-4f22-11eb-8ad9-246aec1ec1bd.png)

2. If the button is selected, a 1/4" piece of material (matching closet material color) should be placed across the front of the TK matching the height of the TK and the full width of the TK assembly (covering the seam made by the two TK end

[2021-01-05 14:00] TedCC1209 commented on #14
When this is finished, we will also want to make sure the 2D views show the TK skin (no seams from the TK end caps capping the front/back pieces of the TK) and label that the TK is skinned.

[2021-01-05 14:12] TedCC1209 commented on #14
Sorry, and to clarify, "Toe kick" should always be spelled out when displayed in the SNaP prompts, though in 2D views labels can reference toe kicks with TK. I say TK out of habit and ease of writing here.

[2021-01-05 15:09] TedCC1209 commented on #14
If "Variable Height" is selected, the TK skin should export as the same extended height of the other exported TK pieces.

[2021-01-05 15:22] TedCC1209 commented on #14
We do not need to see the core of the 1/4" material in the scene--the installers will miter the corners together when there is a return, but because there are no "exposed ends" we don't need to see the core material in order to remind the user to select anything to cover exposed core material.

[2021-01-05 15:38] sarahhightower commented on #260
Looks good to me. Thanks!

[2021-01-05 16:02] sarahhightower commented on #247
In my test the core of the material was no longer available and the crown recognized the top shelf depth. Thanks!

I also tested using KDs and then applying flat crown. The flat crown was automatically placed in the location of the deepest partition and did not recognize that the KD was a shallower depth.  Is it possible to have the flat crown recognize the KD depth for placement? Thanks!

![Visua

[2021-01-05 16:04] kategodfrey commented on #260
Looks good!

![image](https://user-images.githubusercontent.com/63115502/103668889-e099c680-4f34-11eb-8593-d9e6b15d2ce3.png)

[2021-01-05 16:53] TedCC1209 commented on #247
Good catch @sarahhightower -- Yes, when there is no topshelf the flat crown should be the depth of the opening and not the depth of the left partition clicked. @ClassyTeddy is that a straight forward fix?

[2021-01-05 17:16] ClassyTeddy commented on #247
Yes and no. It depends on how we want it to function. It would be fairly complicated to have the flat crown automatically adjust to the lowest depth found in between the panels selected due to the fact that flat crown currently only knows the depths of the panels you select.

 If we want it to select the smaller panel of the two panels selected, that would be fairly simple.

And it is not possible

[2021-01-05 18:16] ClassyTeddy commented on #247
Ready for testing on the `Flat-Crown-Overhang-Branch`

[2021-01-05 18:23] TedCC1209 commented on #247
Looks to be acting correctly as far as seeing TS, etc.

Looks like returns needs to have 0.75" added to the back as they stop short of the going all the way to the back of the partition:

![extend returns](https://user-images.githubusercontent.com/61025894/103684195-6a06c400-4f48-11eb-95a2-085725dfde8d.png)

[2021-01-05 18:34] JJanneh commented on #221
![LSide_Down](https://user-images.githubusercontent.com/76751383/103685124-e8179a80-4f49-11eb-8c79-576b4aec78b2.PNG)
updated

[2021-01-05 18:42] ClassyTeddy commented on #247
A fix for that is now ready for testing on `Flat-Crown-Overhang-Adjustments`

[2021-01-05 19:25] TedCC1209 commented on #247
Looks good, thank you Teddy!

[2021-01-05 23:29] CCDevNelson commented on #125
Ryan,
No difference, part still came in oriented wrong. But, also, I looked into this XML and I don't see those changes in this one. Could it be that this is the original one??
Mark

[2021-01-05 23:45] RyanMDev commented on #125
Interesting, if I download the one above, I am seeing the additional `Orientation` element as well as the hamper font parts referencing the ID.

Additional `Orientation` element should be on line 1007:
![orientation_element_ln](https://user-images.githubusercontent.com/6529544/103711377-2756e300-4f6c-11eb-9e53-8d287f214c94.png)

![orientation_element_notepad](https://user-images.githubusercontent.

[2021-01-06 16:07] CCDevNelson commented on #125
Ryan,
I was mistaken, those are in there...I was looking in the wrong place for them. They are indeed there and as stated above.
So that brings up the fact that it is not working to turn the part with these options.

[2021-01-06 16:14] JJanneh commented on #221
Custom_Partition_Depth Branch Testing

[2021-01-06 16:55] sarahhightower commented on #247
Tested and worked great. Thanks!

[2021-01-06 17:56] TedCC1209 opened #264 "Need to adjust the cover cleat export logic"
Braeden is testing the pricing program which goes off the XML which may bring up more of these types of issues, but currently the program is exporting too much cover cleat.

The following job has one opening 16.5" wide--meaning only 33" worth of cover cleat is needed:

![cover cleat test](https://user-images.githubusercontent.com/61025894/103794870-7ea79280-5002-11eb-8760-de9ba029f8db.png)

Three

[2021-01-06 18:08] ClassyTeddy commented on #264
It makes sense Ted but that is exactly how the cover cleat should be exporting already. The only difference is I cant add up all the opening widths. Instead, whenever I find a cover cleat when exporting, it should add the length fo the cover cleat to a consistent number. Then, after every other part has been exported, I divide the number by 2, check to see if it is white or almond, then I do the r

[2021-01-06 20:45] ClassyTeddy commented on #221
Hey @JJanneh

So what you have on the `Custom_Part_Depth` branch is a good start, but you only really have one step of what needs to be done ready.

So you had asked me how to not allow negative numbers in an email, and in order to do that, you need to do this:

Basically, what this means, is that inside of the `check` function found at line 1794, you need to check and see if the prompts equal a n

[2021-01-06 22:07] JJanneh commented on #221
This makes sense. But from my understanding Change "Extend Left Side Forward" and "Extend Right Side Forward" so that **positive numbers means it is being extended** (currently with it being a "Deduction" you have to do a negative number to add depth to the partition), and only allow positive numbers, we don't want to deduct.

I placed the code inside check function found at line 1794. That exampl

[2021-01-06 22:18] ClassyTeddy commented on #221
Ah, I just thought you hadn't gotten to that part.

So, at lines 255, 263, 296, and 304, you will find that the `.y_dim` of the left and right partitions and the `.y_loc` of the left and right fillers are being manipulated using the variables "Left_End_Deduction" and "Right_End_Deduction". Theses variables are created using the ".get_var()" function on lines 220 and 221. You need to change the dri

[2021-01-07 13:50] nailsonlandim commented on #255
Hi @TedCC1209

I've fixed it, Now if 2D views get cleaned and the countertops changed like melamine -> granite for instance, it changes the hashmark position and label properly.

I also have found a possible problem that @kategodfrey @sarahhightower and @JBTattersall will receive questions about it:

**Countertops on older designs**

If you change the countertop as mentioned on a new design, there

[2021-01-07 13:50] nailsonlandim commented on #261
Hi @TedCC1209

We fixed it by clearing and hiding unnecessary hashmarks and texts.

It's available at: https://github.com/nailsonlandim/SNaP-Dev/tree/master

It also includes the hotfix.

[2021-01-07 14:42] ClassyTeddy opened #265 "2D Views Labels not appearing"
1. All partition and Top Shelf dashes are missing
2. All pard sizes are missing
3. Toe Kick size is not noted
4. The shelves that are behind the doors are not visible.
5. Ceiling height/closet height/dresser height missing on elevations
6. Plan view and elevation views are missing wall labels (A, B, C, etc)
7. Plan view is missing component notations
8. Plan view is missing wall lengths and ceilin

[2021-01-07 14:53] ClassyTeddy commented on #265
Hey @nailsonlandim, I just tested https://github.com/CCDevNelson/SNaP-Dev/tree/hotfix and I am still not seeing all the labels. I am currently only making a 2D view report for one partition and door, but I don't see the partition height.

[2021-01-07 15:00] TedCC1209 commented on #265
The hotfix looks to be working, thanks Nailson. @sarahhightower can you test it too please to verify?

The only thing I might say is that the font for the partition heights on the elevations is very small, smaller than I remember them being, but perhaps I overlooked it before. Thoughts @kategodfrey @sarahhightower?

![image](https://user-images.githubusercontent.com/61025894/103907138-1cac6300-50b

[2021-01-07 17:12] TedCC1209 commented on #265
@ClassyTeddy can we get this merged with the master so we can test its compatibility there?

Thanks,

Ted

[2021-01-07 18:58] ClassyTeddy commented on #265
It has been merged and master is ready for testing.

[2021-01-07 20:16] TedCC1209 opened #266 "Exporting XML from Project created on different device"
Currently if someone sends a project to another user (via email, etc.) the second user is unable to export an XML from SNaP for that project. I think it has something to do with it still looking at the file path for the old user when exporting the XML--I am able to open the room from someone else and make changes to the assemblies and save to the new file path location and even export 2D views, so

[2021-01-07 21:42] TedCC1209 opened #267 "2D Views: Out of place line on first elevation"
There is a line on the first elevation of the 2D views that looks out of place. It appears to be from Plan View labels and hash marks per @nailsonlandim:

![weird mark](https://user-images.githubusercontent.com/61025894/103948005-41bcc800-50f6-11eb-8fac-8f71a8c8e855.png)

Also per @nailsonlandim , "Probably we can hide them by adding another layer that is visible only on Plan Views."

[2021-01-08 16:46] AntonioGloria commented on #212
Hi @TedCC1209,
Here's the fix for this issue.
2D Views will now show any objects that are behind doors or faces unless those objects are explicitly marked not to show in see-through views. Vertical panels, KDs, drawers, and toe kicks won't show as dashed lines. While working on this issue, I also found a fix for the glitch highlighted in this comment: https://github.com/CCDevNelson/Snap-Updates/is

[2021-01-08 16:51] TedCC1209 commented on #212
Thanks @AntonioGloria! Great start and glad you found a fix for the issue pointed out in the comments of 242.

An initial question--does it differentiate between a top/bottom KD and a middle KD? There are times there will be a KD (or KDs) that is/are not at the top or bottom of the door that we would want to show up as a dotted line behind the doors.

[2021-01-08 17:20] AntonioGloria commented on #212
At the moment it doesn't differentiate KD placements, it just identifies whether the shelves are locked.

[2021-01-08 19:40] SeanRadvan opened #268 "TL Oxford White not exporting correctly."
When Braden was checking jobs in the pricing software, he received and error that went away when he switch the color of the snap job off of TL Oxford White.  I was able to replicate the error and confirm the software was working correctly with other colors, so I dont believe its anything on that end.  I confirmed "tl oxford white" exists in the csv, but in the xml the color was coming out as "TL o

[2021-01-08 19:54] TedCC1209 commented on #268
Thanks Sean.

He's using the current user version correct? Was the XML he was testing from his version or was the XML sent from someone else? And if it was from someone else, what version were they using?

Then, was the error he was receiving on the pricing software or on SNaP?

I just exported a job from SNaP in TL Oxford White and it correctly came out as TL Oxford White in the XML:

![TL Oxford

[2021-01-08 19:57] TedCC1209 commented on #268
The edgebanding name also correctly states TL Oxford White:

![edgebanding](https://user-images.githubusercontent.com/61025894/104058421-ebf92600-51b0-11eb-943b-c6de8eb6cec2.png)

If there is a different output name for TL Oxford White that needs to be in the XML, we can make that change, we just need to know what it needs to be. Thanks, Ted

[2021-01-08 20:46] TedCC1209 opened #269 "Door Prompt Error when door above hamper & drawers"
@kategodfrey found this issue. Getting an error when trying to open up door prompts when the door is placed above a hamper & drawers (just a hamper seems to be okay and just drawers seems to be okay):

![Door prompt error2](https://user-images.githubusercontent.com/61025894/104062511-db987980-51b7-11eb-971a-011d2addff2a.png)

![Door prompt error](https://user-images.githubusercontent.com/61025894/

[2021-01-08 20:57] TedCC1209 commented on #212
Okay, let's take out KDs as an excepted item for now then if you can, until we can differentiate between the KDs we want dotted lines for and those we don't. It'll be better to have a dotted line at the top and bottom of a door/drawer face if it means we can see middle KDs as well.

[2021-01-08 21:57] kategodfrey opened #270 "2D Changes Material Back to Oxf White"
When I have a material other than white it changes back to oxf white when I do a 2D render. Also, my 2D views legend says my material is white... My first try I used Aprese Ski and this time I used Cannes. We will probably want this fixed before the release. Sorry I didn't catch it before.

![image](https://user-images.githubusercontent.com/63115502/104068252-d2aca580-51c1-11eb-9cea-868ddd29f32c.p

[2021-01-08 22:12] AntonioGloria commented on #212
Got it. I have removed KDs from the exceptions for the time being.
![KDs_Included](https://user-images.githubusercontent.com/74732175/104070157-d47b6680-51cb-11eb-9f64-579856ec42d3.png)
The latest version of this fix is here: https://github.com/nailsonlandim/SNaP-Dev/tree/3DLabels

[2021-01-11 13:32] TedCC1209 commented on #270
Thanks Katie. For some reason I thought both of these issues existed previously and they were just known bugs but perhaps I am mistaken, but that doesn't mean they don't need to be addressed. I know I have noticed that the countertops often revert to white or to another default material sometimes after a 2D view rendering.

@sarahhightower @nailsonlandim @AntonioGloria @ClassyTeddy @SeanRadvan @JB

[2021-01-11 14:04] JJanneh commented on #270
Ok will be testing this out

On Mon, Jan 11, 2021 at 6:33 AM Theo <notifications@github.com> wrote:

[2021-01-11 16:14] ClassyTeddy commented on #269
Ready for testing on the `Fixing-Doors-Above-Multiple-Assemblies` branch. This issue should fix the prompt error, and doors should now still have their defaults working when placed above two assemblies. More than two assemblies however, some of the defaults/interconnectedness (like starting with a top KD or accounting for BCP's) with partitions gets turned off due to that being too much logic to r

[2021-01-11 16:18] TedCC1209 commented on #269
Thanks Teddy--that's fine for now as long as the prompt menus will still come up and changes can be made in those scenarios, even if the defaults aren't perfect.

[2021-01-11 16:24] ClassyTeddy commented on #270
I can confirm that this issue exists on the current user branch (1.2.1), saving appears to not be the issue (it happens whether I do or don't save before I create the 2D export), it only changes to Oxford White when `Save 2D Drawing As` button is pressed, and it doesn't change the material selected, so pressing the `Update Materials` button or selecting a new color will have the scene return to no

[2021-01-11 16:29] sarahhightower commented on #270
@TedCC1209 I looked at old plans and no matter the color, the legend always showed Oxford White. The countertop, however; showed correctly in some plans that I looked at.

[2021-01-11 16:51] sarahhightower commented on #269
I was able to stack multiple assemblies and open the door prompts okay. I did this error message when creating the top doors of my section on the right, but it didn't appear to affect the functionality of any of the components.

![SNaP_  C__Users_shightower_Documents_SNaP Projects_Training Day 1_41110_Door Test blend  1_11_2021 9_37_50 AM](https://user-images.githubusercontent.com/72047269/1042124

[2021-01-11 16:58] ClassyTeddy commented on #269
I just made a change @sarahhightower, let me know if that fixed the error popping up.

[2021-01-11 17:04] sarahhightower commented on #269
@ClassyTeddy  I pulled the branch again to test it and now access to all products and components has disappeared.

![SNaP 1_11_2021 10_03_58 AM](https://user-images.githubusercontent.com/72047269/104214229-6c5b9900-53f4-11eb-885b-14760fa9a6b6.png)

[2021-01-11 17:06] kategodfrey commented on #269
@ClassyTeddy @sarahhightower Same thing happened for me. Everything is gone.

[2021-01-11 17:06] ClassyTeddy commented on #269
Yep, I just need to find the syntax error I created, give me one moment

[2021-01-11 17:07] ClassyTeddy commented on #269
Pull the origin and try again please.

[2021-01-11 17:16] kategodfrey commented on #269
@TedCC1209 @ClassyTeddy Worked for me! I tried a few different scenarios and it seemed to work well for each one.

[2021-01-11 17:16] sarahhightower commented on #269
Okay, everything reappeared and I completed another test this time including hampers and shelves in my stacked components. No errors appeared and the door prompts worked. Thank you!

[2021-01-11 17:26] JJanneh commented on #270
I selected several color pallets and noticed the color gets changed to the selected color pallet. Then when attempting to save 2D render. Save 2D Drawing As button is pressed, and it doesn't change the material selected, until render is completed then it reverts back to Oxford White after several different 2D Render and file names I have created the same result.
![Before_Saving_](https://user-imag

[2021-01-11 17:28] TedCC1209 commented on #270
Thank you everyone. These do need to be addressed--because they were existing issues @kategodfrey are you okay if we do the update now and address these issues for the next update?

[2021-01-11 17:31] ClassyTeddy commented on #270
I think I have a fix working on the `2D-Views-Changing-Material-To-White` branch.

[2021-01-11 17:38] SeanRadvan commented on #269
Looks like its working to me, stacked a door / drawer on a hamper and was
able to access the prompts.

On Mon, Jan 11, 2021 at 10:17 AM sarahhightower <notifications@github.com>
wrote:

[2021-01-11 18:03] sarahhightower commented on #270
I ran two tests. In both tests the color still reverted to white after to the 2D, but the ledger had the correct color.

![image](https://user-images.githubusercontent.com/72047269/104220346-97e28180-53fc-11eb-8287-1bf16a38d45b.png)

[2021-01-11 18:16] ClassyTeddy commented on #270
You can fix the color reverting to white in the scene by selecting the 'Update Materials' button

[2021-01-11 18:26] sarahhightower commented on #270
I did see that, but I assumed the fix was trying to address this so you didn't have to do it. Its great to have an option that helps us get the correct color back and, in my opinion, this is fine for the current update we've been working on. But, in the future it would be ideal not to have to have to "update materials" to get the right color back.

[2021-01-11 18:48] TedCC1209 commented on #269
Cool, thank you everyone. @ClassyTeddy can you get this merged, then we can test again one last time before Ryan sets the update up (hopefully tomorrow)?

[2021-01-11 20:35] SeanRadvan commented on #270
hitting update materials and changing paint to "none" appears to be working
correctly in the drawings.

On Mon, Jan 11, 2021 at 11:26 AM sarahhightower <notifications@github.com>
wrote:

[2021-01-11 20:58] CCDevNelson commented on #268
Ted, Looking through the XML (and I just spotted this in your pic above) but the edgeband2sku is "Unknown". This was a problem awhile back that we were having. But this should be a SKU number passed here. "Unknown" is not in the csv file, thus it causes an error.

[2021-01-11 21:09] TedCC1209 commented on #268
Thanks and good catch, if you (or anyone else) can identify when "Unknown" is passed as the SKU number please create a new issue so it can be addressed. I will look into it as well.

[2021-01-11 21:10] TedCC1209 commented on #268
If it's just TL Oxford White having "Unknown" incorrectly as the SKU number then we can just do that here.

[2021-01-11 21:17] ClassyTeddy commented on #268
A material exports as unknown when it cannot find a material name with the given SKU number upon export. The given SKU number is determined by the given material name and the given thickness of the part, and the material names are determined by the import. Set up this way, there should rarely be a time when the export has "Unknown" as the SKU number. It is possible, that it is looking for a color

[2021-01-11 21:22] RyanMDev commented on #268
Yes. In this case, two SKUs have the same `ItemTypeCode` and `ItemColorCode` and SNaP does not know which one to use:

![multiple_skus_warn](https://user-images.githubusercontent.com/6529544/104239741-da618980-540f-11eb-971d-1e63b1ab3aa6.png)

![multiple_skus](https://user-images.githubusercontent.com/6529544/104239715-cfa6f480-540f-11eb-8e60-2347d4ecbc31.png)

[2021-01-11 21:38] TedCC1209 commented on #268
Just spoke with Brock and we should eliminate the SKU number EB-0000415 and just use EB-0000398 for TL Oxford White edgebanding. I will eliminate it on the shared google sheet if @ClassyTeddy you want to delete it from the SNaP ccitems csv.

@SeanRadvan I'm not sure if this fixes the issue Braeden was running into so we will keep this issue open

[2021-01-11 21:55] JJanneh commented on #221
Tried this it breaks.
So, at lines 255, 263, 296, and 304, you will find that the .y_dim of the left and right partitions and the .y_loc of the left and right fillers are being manipulated using the variables "Left_End_Deduction" and "Right_End_Deduction". Theses variables are created using the ".get_var()" function on lines 220 and 221. You need to change the driver functions of the left_filler,

[2021-01-11 21:56] ClassyTeddy commented on #221
Can you show me how it breaks?

[2021-01-11 21:59] JJanneh commented on #221
![Screenshot (40)](https://user-images.githubusercontent.com/76751383/104243279-937a9080-541d-11eb-8b7d-14b78f41524f.png)
I had to revert changes @ClassyTeddy

[2021-01-11 22:06] ClassyTeddy commented on #268
Ready for testing on the `CSV-Change-1/11/21` branch.

[2021-01-11 22:14] ClassyTeddy commented on #221
So the error message is that `self_var` is not defined, which it isn't. It then shows you the line where it encountered an error and stopped, which is line 220 in `data_closet_carcass.py`.
The line creating the error is:
[code]

What the line should be is this:
[code]

`self` is referring to the assembly itself, and `get_var` is a function that can be called on assemblies that retrieves the given

[2021-01-11 23:43] RyanMDev commented on #125
After looking into this, I found that the operation groups for hampers were giving the correct width and length to change the orientation, but the width and length on the labels were not reflecting this.

The following XML fixes the hamper front labels to match the operation group width and length:

[snap_job_fixed_hamper_labels.zip](https://github.com/CCDevNelson/Snap-Updates/files/5798936/snap_j

[2021-01-12 14:00] TedCC1209 commented on #270
This is fine for the legend portion of things so go ahead and merge this, but the issue should remain open until the main issue of the closets turning back white has been addressed.

[2021-01-12 14:04] TedCC1209 commented on #268
TL Oxford White edgebanding now exports the correct SKU:

![TL White](https://user-images.githubusercontent.com/61025894/104324216-63c29b80-54a4-11eb-92b3-9c99b24f126f.png)

[2021-01-12 14:57] JJanneh commented on #221
@ClassyTeddy
![Screenshot (44)](https://user-images.githubusercontent.com/76751383/104330933-bf445780-54ab-11eb-8866-f6961f4f15a6.png)
The Changes worked but the UI in SNap looks like this..

[2021-01-12 15:15] JJanneh commented on #221
[image: Ext_LT&Ext_RT_Deduction.png]

On Tue, Jan 12, 2021 at 7:25 AM Theo <notifications@github.com> wrote:

[2021-01-12 15:28] TedCC1209 commented on #252
J, while you are doing this, can you move the filler options so there is a left filler column and a right filler column? Essentially just switching the location of where the "Left End Deduction" and "Right Filler Amount" options currently are. Then you can create a new row for the filler setback amount to go right under the row for the left and right filler amounts.

![FILLER COLUMNS](https://user

[2021-01-12 15:30] JJanneh commented on #252
Ok thanks for the ScreenGrab as well.

On Tue, Jan 12, 2021 at 8:28 AM Theo <notifications@github.com> wrote:

[2021-01-12 16:41] TedCC1209 opened #271 "XML Export: Fillers"
Currently, fillers export the exact width that is entered into the Construction Options, even if that is just 0.5". We need to change the export logic for fillers to be as follows:

-Add 2" to the width entered in Construction Options, with a minimum exported width amount of 4"

[2021-01-12 16:59] JJanneh commented on #252
![Screenshot (45)](https://user-images.githubusercontent.com/76751383/104346453-adb77b80-54bc-11eb-98c2-a2fef9e1507d.png)
New row for the filler setback amount added

[2021-01-12 17:10] TedCC1209 commented on #252
Thanks for making the left/right columns, next please put the setback amount row below the filler amount row.

Also, because this section affects more than just filler options, please change the words "Filler Options:" (circled below) to say "Filler and Left/Right End Options:"

![Filler Options](https://user-images.githubusercontent.com/61025894/104347860-52868880-54be-11eb-806f-ffa960a72303.png)

[2021-01-12 17:33] ClassyTeddy commented on #221
Alright so, when a piece comes put really thin like that, that means there is a driver error, and it decides to just calculate to 0. Can you send the 4 lines you changed so I can see what might be causing the error?

[2021-01-12 17:41] JJanneh commented on #252
![Screenshot (50)](https://user-images.githubusercontent.com/76751383/104351297-777cfa80-54c2-11eb-97d8-35b3f35bc5fc.png)
Renamed & Moved setback amount

[2021-01-12 18:07] JJanneh commented on #221
File location **data_closet_carcass.py**
Lines Below
**255**- left_filler.y_loc("-Depth_1+Left_End_Deduction", [Depth_1, Left_End_Deduction])
**263**-left_side.y_dim('-Depth_1+Left_End_Deduction',[Depth_1,Left_End_Deduction])
**296**-right_filler.y_loc("-Last_Depth+Right_End_Deduction", [Last_Depth, Right_End_Deduction])
**304**-right_side.y_dim('-Last_Depth+Right_End_Deduction',[Last_Depth,Right_

[2021-01-12 18:34] TedCC1209 commented on #125
From the email thread: "Ryan,  Downloaded the file last night and optimized it through CADCode, and ran it this morning. Looks good. The doors are orientated correctly on the table and everything looks good on them!!!"

[2021-01-12 18:43] TedCC1209 commented on #252
Thanks J, please also get rid of the capitalization of the letter B in Setback--It should say "Setback" instead of "SetBack". When you are ready for us to test the functionality of this please give us the branch name. Thanks, Ted

[2021-01-12 18:50] TedCC1209 opened #272 "Fillers: Option to edge bottom edge"
For fillers of upper cabinets, sometimes the bottom of the filler needs to be edgebanded to avoid the customer seeing exposed particle board. We need to add this option, likely just a "Edge Bottom of Filler" button at the bottom of the left/right filler column sections in the Construction Options menu that it currently being adjusted in https://github.com/CCDevNelson/Snap-Updates/issues/252 and ht

[2021-01-12 20:03] JJanneh commented on #252
Branch location Custom-partition-depth
![Screenshot (52)](https://user-images.githubusercontent.com/76751383/104365604-71444980-54d5-11eb-8efe-b1b18468afd8.png)

[2021-01-12 21:42] TedCC1209 opened #273 "CL colors crashing SNaP"
After creating a new room, if I set my material color to a CL color (try CL Rialto) prior to putting in partitions then SNaP will crash when I try to put partitions on a wall.

If I put in white partitions first, then it changes to CL Rialto fine if I change it after the fact. It didn't matter the number of openings for the partitions when I put it in.

Confirmed with @kategodfrey that it happened

[2021-01-12 22:15] RyanMDev commented on #125
Great!

I have made the relevant changes with commit: CCDevNelson/SNaP-Dev@0c32ec1f73a7adf140924c50209a36734405c9cb

[2021-01-13 00:52] RyanMDev commented on #273
Fix for this is on master: CCDevNelson/SNaP-Dev@809b43d020aaac3b1dca2038676778f1ac1baf3c

[2021-01-13 13:44] TedCC1209 commented on #273
Thank you Ryan--the fix worked for me this morning

[2021-01-13 15:52] sarahhightower commented on #273
The fix worked for me as well. Thank you!

[2021-01-13 16:21] JJanneh commented on #252
![set-back-filler-option](https://user-images.githubusercontent.com/76751383/104478941-1a477e80-5580-11eb-83c6-f70ee8c746dc.png)
@ClassyTeddy I tried to move the whole object and just got a upper movement. I was thinking about adding new_method to completely move this item along the Y Axis not completely sure. I'm requesting some guidance on this if possible. Thanks

[2021-01-13 20:03] ClassyTeddy commented on #252
That is actually really odd, I have never seen an object behave that way unintentionally. It shouldn't be necessary to create a new function. Are you sure you you changed the objects `.y_loc` and not it's `.y_rot`?

[2021-01-13 20:49] JJanneh commented on #252
Ok. right_filler.y_loc("-Last_Depth+Right_End_Deduction", [Last_Depth, Right_End_Deduction])
right_filler.y_rot(value = -90)
Goal is to move along the Y axis like the top part did. I was not able to move the complete object along the Y Axis fully.
![Screenshot (59)](https://user-images.githubusercontent.com/76751383/104507750-758b6800-55a4-11eb-92a4-2a31e85e2839.png)

[2021-01-13 20:56] ClassyTeddy commented on #252
What branch are you currently working on?

[2021-01-13 20:59] JJanneh commented on #252
Set-back-filler-option branch

On Wed, Jan 13, 2021 at 1:57 PM ClassyTeddy <notifications@github.com>
wrote:

[2021-01-13 21:03] ClassyTeddy commented on #252
Can you update it with the current changes? At the moment, I don't have the same options as you, and it is moving along the axis properly for me.

[2021-01-13 21:16] ClassyTeddy commented on #252
Right. I know about those options. So I pulled the commit and it still is the same. I looked at the commit history, and I am having trouble finding your changes. For one, most of your commits look like this, and only sometimes does it actually have a change to the data_closet_carcass.py file:
![Commit Example](https://user-images.githubusercontent.com/62624110/104511312-bd60be00-55a9-11eb-8f85-c6b

[2021-01-13 21:24] JJanneh commented on #252
I just made another change and requested you.
Thanks for all the help man

On Wed, Jan 13, 2021 at 2:16 PM ClassyTeddy <notifications@github.com>
wrote:

[2021-01-13 21:37] ClassyTeddy commented on #252
So again, I cannot mimic the problem you are having with the filler where it rotates instead of moving backwards. I went back to your photo and noticed that the green line pointed to the y-rotation and it's value was 99.1, which does in fact rotate it in that direction and have it mimic the photo. So the pink y is actually the location driver. If you select it, it will show you what equation is de

[2021-01-13 21:50] JJanneh commented on #252
Ok. @ClassyTeddy I just backspaced Y Location (**Depth Deduction**) area to 0 then changed the Y rotation -89.6
![Location](https://user-images.githubusercontent.com/76751383/104514292-37934180-55ae-11eb-91c6-3fa2edb6dae1.PNG)

[2021-01-13 21:57] ClassyTeddy commented on #252
Right, so I wanted you to change the value in the Partition Prompts Menu on a new partition.

A location of 0 will move the filler to the back if the partition because that is the local 0 y location. (0,0,0) is actually the bottom, back, left corner of an assembly. Changing the rotation isn't necessary.

So place a new partition, and only use the construction options in the prompts menu to move th

[2021-01-13 22:09] JJanneh commented on #252
@ClassyTeddy Ok. When in the construction options in the prompts menu moving back and forward just made the filler larger. Only in the other menu appears to shift the filler
![Screenshot (62)](https://user-images.githubusercontent.com/76751383/104516025-e20c6400-55b0-11eb-8429-f59c8336a073.png)
Assembly Menu:
![Partition_](https://user-images.githubusercontent.com/76751383/104516063-f5b7ca80-55b0-

[2021-01-13 22:23] ClassyTeddy commented on #252
Ok, so you are currently moving the y location of the partition and moving it back which is not what I asked. Don't worry about the assembly menu. Just worry about the prompts menu.

Let's back up a bit.

You said you were trying to move the left filler along the y-axis, and when you tried, you said that "you just got upper movement". What I am trying to say is that you were accidentally rotating

[2021-01-14 14:03] JJanneh commented on #252
Yes that makes sense.

On Wed, Jan 13, 2021 at 3:23 PM ClassyTeddy <notifications@github.com>
wrote:

[2021-01-14 16:09] JJanneh commented on #252
![Screenshot (63)](https://user-images.githubusercontent.com/76751383/104616936-1da63d00-5648-11eb-9b40-ed3466d07250.png)
Changed prompts @ClassyTeddy

[2021-01-14 16:21] ClassyTeddy commented on #252
I don't see the prompts menu open. What did you change?

[2021-01-14 16:26] JJanneh commented on #252
Line 255
left_filler.y_loc("Length_1+Left_End_Deduction", [Depth_1,
Left_End_Deduction])

On Thu, Jan 14, 2021 at 9:21 AM ClassyTeddy <notifications@github.com>
wrote:

[2021-01-14 16:30] JJanneh commented on #252
![Prompts_menu](https://user-images.githubusercontent.com/76751383/104619420-13d20900-564b-11eb-8c55-9207e480372d.PNG)

[2021-01-14 16:46] ClassyTeddy commented on #252
Ah so you changed the `.y_loc` driver for the left filler.

So, I noticed that what you did was change `-Depth_1` to `Length_1`. This will cause an error in the driver function, causing it to calculate to 0. The reason for the error is that `Length_1` doesn't exist as far as the driver function is concerned. It only knows about 2 variables, which are `[Depth_1, Left_End_Deduction]`. If you want to

[2021-01-14 16:57] JJanneh commented on #252
Ok yeah that makes sense. Thanks again your help is greatly appreciated. I will make these changes and see how things go.

[2021-01-14 17:17] TedCC1209 opened #274 "v1.2.2 update testing"
Please test the update going from 1.2.1 to 1.2.2 by opening the branch Version-1.2.1 and report any issues found in this thread.

REMINDER: ALWAYS discard the changes the update makes to the 'Version-1.2.1' branch. Never commit the changes the updater makes when testing the update process.

[2021-01-14 17:22] TedCC1209 commented on #274
The colors that were gotten rid of in https://github.com/CCDevNelson/Snap-Updates/issues/189 are still showing up after doing the update.

![discontinued colors](https://user-images.githubusercontent.com/61025894/104625729-4c291580-5652-11eb-8cfb-b68f57b1fb4e.png)

[2021-01-14 17:28] TedCC1209 opened #275 "XML exporting wrong fog gray and hardrock maple material"
What SNaP is currently exporting Fog Grey or Hardrock Maple are selected as the material:

PM-0000359 --> Dura White_Fog Grey 15200 3/4
PM-0000361 --> Dura White_Hardrock  15200 3/4

What SNaP needs to be exporting:

In replacement of PM-0000359: PM-0000376 --> Fog Grey 3/4
In replacement of  PM-0000361: PM-0000384 --> Hardrock Maple 3/4

[2021-01-14 17:30] ClassyTeddy commented on #274
I can confirm that they are not currently on the master branch. I believe the issue is that the discontinued colors are not in the snap_db folder, which is the only folder that gets changed when updating, but are instead in the data/materials folder.

@RyanMDev a possible solution would be moving all the materials we want over to snap_db/materials, then only looking for .blend files in the one loc

[2021-01-14 17:30] TedCC1209 commented on #275
Any chance a fix for this can be included in the update? Thanks, Ted

[2021-01-14 17:33] ClassyTeddy commented on #275
I will look into this one.

[2021-01-14 17:47] JJanneh commented on #252
![Screenshot (64)](https://user-images.githubusercontent.com/76751383/104628782-e0e14280-5655-11eb-805e-bcf4f8795f9b.png)
@ClassyTeddy

[2021-01-14 17:53] ClassyTeddy commented on #252
What do you need my help with J?

[2021-01-14 17:54] JJanneh commented on #252
This seems to be working thanks.

[2021-01-14 18:01] ClassyTeddy commented on #275
Can I change the display name for the following materials:

PM-0000359 --> Dura White_Fog Grey 15200 3/4
PM-0000361 --> Dura White_Hardrock 15200 3/4

Currently their display names are:
Fog Grey
Hardrock Maple

Can I change them to be:
Dura Fog Grey
Dura Hardrock Maple

If not, then I can still solve the issue, I will have to put in logic that if it runs into the Fog Grey or Hardrock Maple Display

[2021-01-14 18:08] TedCC1209 commented on #275
I don't think we want those SKU numbers available to choose so the display name doesn't matter right now--the one side white_one side fog gray (or hardrock maple) will only be utilized when we add the garage line of products and we need the interior of cabinets to be white and the exterior a different color. So, the display name of those two actually probably doesn't matter since we don't want the

[2021-01-14 18:09] TedCC1209 commented on #275
If you need to set their display name as something, I would go with the following:

White_Fog Grey
White_Hardrock Maple

[2021-01-14 18:15] JJanneh commented on #272
![Screenshot (65)](https://user-images.githubusercontent.com/76751383/104631649-c610cd00-5659-11eb-9271-582e0910af88.png)

[2021-01-14 18:17] ClassyTeddy commented on #275
Ready for testing on the `Wrong-Colors-Exporting` branch.

[2021-01-14 18:19] TedCC1209 commented on #272
Thanks J, can you make this a button option? If selected then the bottom edge is edgebanded and if not selected then it is exposed (no edgebanding) with the default being no edgebanding.

[2021-01-14 18:31] JJanneh commented on #272
Ok a button, not a check box option similar to the Extend L/R correct?

[2021-01-14 18:32] TedCC1209 commented on #272
By button I mean check box, sorry

[2021-01-14 19:32] RyanMDev commented on #274
This is happening because the material files will still exist on a user's
installation in the data/materials folder. These materials also still exist
in the CCItems list which is why they are being searched for and added if
found.

Is there a reason that these discontinued materials need to be left in the
CCItems.csv list?

On Thu, Jan 14, 2021 at 9:30 AM ClassyTeddy <notifications@github.com>
wro

[2021-01-14 19:34] TedCC1209 commented on #275
XML exported the correct SKU for me now, thanks Teddy

[2021-01-14 19:38] JJanneh commented on #272
Edge Bottom of Filler CheckBox option
![Screenshot (67)](https://user-images.githubusercontent.com/76751383/104639659-e6925480-5664-11eb-9877-df3a543ad458.png)

[2021-01-14 19:53] TedCC1209 commented on #272
Thank you--what is the "Edge Banding Selected" option you have under it? I do not think that is necessary.

[2021-01-14 19:55] TedCC1209 commented on #274
For this release and iteration feel free to just delete them from the csv. In the future we may want to figure out a way to keep old colors on the list for reference purposes, but go ahead and delete the rows of the discontinued colors now if that will fix this issue for the release.

Thanks, Ted

[2021-01-14 19:58] TedCC1209 commented on #274
Or can we just add the word "Discontinued" to the Display Name or whatever field SNaP is looking for to match the material file?

[2021-01-14 20:14] ClassyTeddy commented on #274
I have made the changes on the `Wrong-Colors-Exporting` branch. We won't really be able to test it however until the change gets put into the release.

[2021-01-14 20:17] JJanneh commented on #272
Ok. I can remove it Thanksfor the feedback it's greatly appreciated

On Thu, Jan 14, 2021 at 12:54 PM Theo <notifications@github.com> wrote:

[2021-01-14 20:42] JJanneh commented on #272
Option-to-edge-bottom-edge Branch
![Screenshot (69)](https://user-images.githubusercontent.com/76751383/104646927-5d801b00-566e-11eb-9db8-3a57c1ad9fd8.png)

[2021-01-14 21:45] RyanMDev commented on #274
I have merged these changes for CCItems into master and updated the release candidate for testing.

Adding "DISCONTINUED" to the display name will be okay for these few colors and this release. Moving forward into SNaP 2.0, if we want to keep discontinued colors in CCItems.csv, it will be a better idea to use an additional field/column for determining if the color is discontinued or not.

[2021-01-14 23:23] kategodfrey commented on #274
The 2D views are not showing the dotted lines behind doors representing hang or shelves. We have an issue that addresses this that @AntonioGloria fixed. #212 . Is that branch to a point it can be merged?
This is currently what it's showing up as. The middle left doors I have open 50% and the middle right doors are closed. I also seemed to have lost the partition that divides them and part of the r

[2021-01-14 23:26] TedCC1209 commented on #274
Yes^^ I think we overlooked having that branch merged. It would be great if we could have it in this update

[2021-01-14 23:54] AntonioGloria commented on #212
Hi @TedCC1209 and @kategodfrey,

The 2D views dashed lines now only exclude top and bottom KDs while showing other KDs.
![github_sample](https://user-images.githubusercontent.com/74732175/104662926-71894400-5691-11eb-9eae-79de4fda5c7d.png)
![custom_sample](https://user-images.githubusercontent.com/74732175/104662924-6e8e5380-5691-11eb-84a7-84047ff21c37.png)

The latest version of this fix is here:

[2021-01-15 00:03] RyanMDev commented on #274
I merged this branch on 1/5 - [Pull Request #288](https://github.com/CCDevNelson/SNaP-Dev/pull/288)

Any commits made to this branch after that date have not been reviewed and need to have a pull request created for them.

[2021-01-15 00:09] TedCC1209 commented on #274
Thank you for looking into that Ryan. @AntonioGloria it looks like your fixes in https://github.com/CCDevNelson/Snap-Updates/issues/212 are good to go on this same branch? @ClassyTeddy please create a pull request and we will do extra testing tomorrow.

Thank you everyone

[2021-01-15 15:37] TedCC1209 commented on #264
@ClassyTeddy can you get this one done this morning and do a pull request please?

[2021-01-15 16:03] ClassyTeddy commented on #264
I can take a look, but I don't know if i can get it done quickly. I'll do my best to get it done quickly

[2021-01-15 17:19] RyanMDev commented on #274
I have merged the new pull request "#297 - 3 d labels" and updated the release candidate for testing.

[2021-01-15 17:26] TedCC1209 commented on #274
Thank you for being so prompt @RyanMDev

@kategodfrey @sarahhightower please test again today and let us know your results. Thanks, Ted

[2021-01-15 17:37] sarahhightower commented on #274
The shelves and rods are appearing, but this appears to have caused some issues with labeling. I don't see the closet height, the ceiling height, or the toe kick. Also, the dashes are missing from the depths.

![2D Views pdf - Adobe Acrobat Reader DC 1_15_2021 10_33_15 AM](https://user-images.githubusercontent.com/72047269/104759662-7abff280-571d-11eb-80e0-51217d5b4950.png)

[2021-01-15 17:39] TedCC1209 commented on #274
@AntonioGloria please advise. We need to get this sorted out. Thanks, Ted

[2021-01-15 17:42] RyanMDev commented on #274
Is this happening on the master branch as well? or only when testing the update from 1.2.1 to 1.2.2?

[2021-01-15 17:44] TedCC1209 commented on #274
These look like the same issues the hot fix in https://github.com/CCDevNelson/Snap-Updates/issues/265 addressed. That was merged with the master before but perhaps the latest merge of Antonio's branch overrode them? I will check the master branch as well as the update from 1.2.1 to 1.2.2

[2021-01-15 17:50] AntonioGloria commented on #274
This is how the 2D views are looking on my end. I'm not sure if anything is missing in them.

![Current_2D_Views_Renders](https://user-images.githubusercontent.com/74732175/104761010-d7c0a600-5727-11eb-890e-aa7ce1efa47c.png)

[2021-01-15 17:53] sarahhightower commented on #274
This happened when I was testing the Master branch, 1.2.2. The same thing happened for Katie when she tested that branch as well. We will now test 1.2.1 and report back.

[2021-01-15 17:57] RyanMDev commented on #274
Alright, I will need to fix this. Let me take a look.

[2021-01-15 18:37] RyanMDev commented on #274
Alright, this is ready to test on the master branch.

[2021-01-15 19:01] ClassyTeddy commented on #264
This is ready for testing on the `Cover-Cleat-Export-Logic` branch. I tested it myself and I believe it is good to go, but I would like an extra pair of eyes.
A couple of things of note, I still left a lot of the logic intact, let me just quickly run through what it is

1. I get the length of every cover cleat part
2. I add all the lengths together
3. I check to see if it is 80 inches or less, if

[2021-01-15 19:18] RyanMDev commented on #274
Alright, 2D views have been fixed, ready to test on master branch. CCDevNelson/SNaP-Dev@ad80b515ff9027bb0cdefa5b0486ef5a38c296f1

[2021-01-15 19:28] kategodfrey commented on #274
![image](https://user-images.githubusercontent.com/63115502/104769828-1e64cf00-572d-11eb-803a-c6643f492ceb.png)
 Measurements are back, but the dashed lines of what is behind the doors are now gone.

[2021-01-15 19:29] kategodfrey commented on #274
Plan view:

![image](https://user-images.githubusercontent.com/63115502/104769922-46543280-572d-11eb-8165-f63bcb917922.png)

[2021-01-15 19:30] sarahhightower commented on #274
Same scenario with me.

![2D Views pdf - Adobe Acrobat Reader DC 1_15_2021 12_28_28 PM](https://user-images.githubusercontent.com/72047269/104770066-6b48a580-572d-11eb-9d45-50eca6dc82f7.png)

[2021-01-15 19:31] kategodfrey commented on #274
Also my doors in the corners each have shelves in them but the plan view does not reflect that. Left side has 8 shelves, right has 11.

[2021-01-15 19:33] JJanneh commented on #272
This is ready for testing on the Option-to-edge-bottom-edge-branch.

[2021-01-15 20:02] TedCC1209 commented on #274
@AntonioGloria is it looking in the door prompts for shelves added through there rather than through a shelf stack?

[2021-01-15 20:36] AntonioGloria commented on #274
It doesn't seem to do that. Apparently, it only counts and labels shelves that were added separately.

[2021-01-15 20:38] TedCC1209 commented on #264
When it is white or almond, can you have it double the total length before determining the total needed lengths, rather than doubling the number of lengths needed? Let me know if that makes sense--when you double the needed lengths rather than the total length of cover cleat before determining the needed lengths, it exaggerates leftover material.

[2021-01-15 20:41] TedCC1209 commented on #274
@ClassyTeddy this is showing a middle KD between the two drawers above the hamper--I think there shouldn't be based on our fix from https://github.com/CCDevNelson/Snap-Updates/issues/188. It also shows a double bottom KD that should be restricted by our fix in https://github.com/CCDevNelson/Snap-Updates/issues/111. Are those fixes being reflected in the master branch / update?

[2021-01-15 20:42] TedCC1209 commented on #274
How long would it take you to add the count and labels for shelves from the door prompts?

[2021-01-15 21:00] JJanneh commented on #253
Option-to-edge-bottom-edge branch
![Screenshot (74)](https://user-images.githubusercontent.com/76751383/104778071-ffb90500-5739-11eb-97d3-528127f31ee8.png)

[2021-01-15 21:07] AntonioGloria commented on #274
I think it might take me around 2-3 hours.

[2021-01-15 21:10] ClassyTeddy commented on #264
Hey Ted. That makes sense, I'll change it from how it was set up before.

[2021-01-15 21:20] ClassyTeddy commented on #264
That does make sense, however, we set it up like this because of how the cover cleat length is retrieved. I get the length of **each** cover cleat.

So in your example, you say this:

So, I don't add up all the opening widths, I add each cleat length. So it basically is already multiplied by 2. Which is why I divide by 96, and then divide by 2, because we split the cover cleats. However, we don't

[2021-01-15 21:24] ClassyTeddy commented on #274
It looks like #188 never got merged, but #111 did. I will look into why there is a duplicate KD, and I will make a pull requests for #188

[2021-01-15 21:35] TedCC1209 commented on #264
After our phone convo and your moving that one line so that it determines the needed lengths after multiplying by two for white/almond, it looks to be working good now. Thanks

[2021-01-15 22:19] ClassyTeddy commented on #274
Hey @TedCC1209 I couldn't mimic the double bottom KD issue. Are there any other setting you have turned on in the door, drawer, or partition prompts that might be affecting the number of KD's? I tried having a base partition and a hanging partition, I tried placing the assemblies in different orders, and I tried placing two 1 drawer stacks instead of one 2 drawer stack, but I never got a duplicate

[2021-01-15 22:30] sarahhightower commented on #274
The last time it happened I had brought in drawers and then changed my mind about using then. So I deleted them and then replaced them with a hamper. I just tried this again and the same thing happened.

![2D Views pdf - Adobe Acrobat Reader DC 1_15_2021 3_28_29 PM](https://user-images.githubusercontent.com/72047269/104784894-7956f000-5746-11eb-87fa-47a7c47c3766.png)

[2021-01-15 22:32] TedCC1209 commented on #274
I just mimicked what @sarahhightower had in her picture -- put in the partitions (did not make it floor-based section, meaning I did not click the down arrow), put in the hamper, put in the two drawers, then put in the door, and it came up with two KDs at the bottom.

[2021-01-15 22:33] TedCC1209 commented on #274
![Untitled](https://user-images.githubusercontent.com/61025894/104785135-12860680-5747-11eb-86c5-361823608e83.png)

[2021-01-15 23:07] ClassyTeddy commented on #274
@TedCC1209 Figured it out. If you place doors above **anything** and select the `Fill Opening` option, they assume that they are not above something and they place a duplicate KD at the bottom of the partition. If you unselect bottom KD in the door prompts, or if at any point you open the partition prompts and make a change, like swapping over to the construction tab, the duplicate KD will be remo

[2021-01-15 23:10] TedCC1209 commented on #274
Ah okay, nice work figuring that out. Good to know. That fill opening option seems to be causing a bunch of issues (backing, etc.). For this update, let's not worry about it then and we will address for the next update.

[2021-01-15 23:14] ClassyTeddy commented on #274
The reason this wasn't an issue with duplicate KD's before is because of the changes we made with #63 and #269. Where as before, when the door was placed above something, I told it not to do the dynamic KD's because I couldn't easily find the partition anymore. But our recent changes made that a lot easier, but now, since it **always** knows what partition it is in, there is no logic to stop it fr

[2021-01-15 23:26] kategodfrey commented on #274
Agreed

[2021-01-15 23:31] RyanMDev commented on #274
Fix for this issue is available: CCDevNelson/SNaP-Dev@eb690508307329ac1124e290614a79751facfca5

[2021-01-15 23:54] TedCC1209 commented on #274
Looks to be working for me on the Master branch:

![image](https://user-images.githubusercontent.com/61025894/104789362-1cf9cd80-5752-11eb-93a1-46a3ff7b909c.png)

Though the program while drawing did seem a little slower than usual (not sure if related to this fix)

[2021-01-16 01:20] AntonioGloria commented on #274
I have changed the shelf counting in plan views to also include shelves added via door prompts.
![2021-01-15 18_45_23-Window](https://user-images.githubusercontent.com/74732175/104793095-97344d00-5766-11eb-9a5b-74116549e640.png)
![2021-01-15 18_46_40-Window](https://user-images.githubusercontent.com/74732175/104793096-9b606a80-5766-11eb-9fec-706a3bbb4ccf.png)
This fix is here: https://github.com/n

[2021-01-16 16:12] TedCC1209 commented on #274
Worked for me:

![image](https://user-images.githubusercontent.com/61025894/104816831-d1d7cd00-57da-11eb-8c93-dc4ca415972a.png)

@ClassyTeddy can you do a pull request for this please? @sarahhightower @kategodfrey please test if you can.

[2021-01-18 03:10] sarahhightower commented on #274
Tested https://github.com/nailsonlandim/SNaP-Dev/tree/2dviews-add-door-prompt-shelves-to-plan-view-shelf-count.

Shelves and hanging component appear behind doors, but the shelf counts appear off.  On the left side I have 1 adjustable shelf and 3 KD shelves but the plan view says 2 shelves. On the right side I have two adjustable shelves and 2 KDs but the plan view says 3 shelves.  I initially tho

[2021-01-18 04:58] TedCC1209 commented on #274
My guess is that the logic counts the bottom KD of a door assembly as a shelf no matter what, but @AntonioGloria would have to confirm that. If we can exclude from counting as a shelf the bottom KD for Tall doors when there is a hang in the same section I think that would address what @sarahhightower  pointed out here.

[2021-01-18 13:38] TedCC1209 commented on #272
Hi J,

This graphic shows it pointing to the bottom of a partition, not the bottom of a filler. Are you having it edgeband the short bottom edge of the filler or are you having it edge the bottom of the partition? This issue concerns edgebanding the bottom of fillers. And are you including XML export logic into this so that when "Edge Bottom of Filler" is selected (which we will need a Left and Ri

[2021-01-18 14:03] JJanneh commented on #272
I have the option set up only so far to select the on/off currently .I do
not have the XML export logic currently in place just yet. Need to get with
Teddy. Still need work to do some fine tuning.

On Mon, Jan 18, 2021 at 6:38 AM Theo <notifications@github.com> wrote:

[2021-01-18 14:09] TedCC1209 opened #276 "Partition Edgebanding: Edge Short Ends"
We need to add logic so that the bottom and top edges of partitions are edgebanded when the partition is 36H (46.10) or less. Also we need to add the option to manually add edgebanding to the short edges of taller partitions when selected by the user. Here is where I see the "Edge Bottom of Partition" option going in the Construction Options of the partition prompts:

![edge short ends](https://us

[2021-01-18 14:10] TedCC1209 commented on #276
When "Edge Bottom of Partition" is selected, the XML should have both the top and bottom edges edgebanded. Also, the top and bottom edges of the scene should show the edgebanding and not the core material.

[2021-01-18 14:39] TedCC1209 commented on #276
fyi--the scene currently shows edgebanding on the top and bottom of partitions when it is 29H (37.28) or less, but the XML does not reflect it.

[2021-01-18 14:52] JJanneh commented on #272
I have the option set up only so far to select the on/off currently .I do
not have the XML export logic currently in place just yet. Need to get with
Teddy. Still need work to do some fine tuning.
![Screenshot (77)](https://user-images.githubusercontent.com/76751383/104930215-1772d200-5962-11eb-8753-9b4d2f893ffb.png)

[2021-01-18 16:52] TedCC1209 commented on #275
@ClassyTeddy have you done a pull request for this yet? If not, please do

[2021-01-18 17:02] ClassyTeddy commented on #275
It is on the master, Ryan pulled it as well as the discontinued colors.

[2021-01-18 18:20] RyanMDev commented on #274
@sarahhightower, can you share the room/blend file you created to test to get these results?

[2021-01-18 18:40] sarahhightower commented on #274
Sure. Here you go.

https://drive.google.com/file/d/1x_I1qXPe1wlluWQs0dkpzgB3nuO6fN2x/view?usp=sharing

[2021-01-18 19:07] TedCC1209 commented on #274
@AntonioGloria is also working on a fix--he has the exclusion for counting bottom KDs as a shelf when it is both 1. a tall door and 2. there is a hang assembly in the opening. However, he let me know he found an issue counting the shelves in hang sections so he is looking into that as well.

[2021-01-18 19:25] RyanMDev commented on #274
Alright then, I won't step on his toes, unless my help is needed.

[2021-01-18 19:27] TedCC1209 commented on #274
@AntonioGloria can you let us know how this is going? Do you want to post what you have so far and see if others can help collaborate on a fix for the remaining parts you are still working on?

[2021-01-18 19:41] AntonioGloria commented on #274
Sure, let me share where this stands at the moment:
I am able to account for when a door is defined as "Tall" to not count its bottom KD as a shelf. But I noticed this didn't work in the example provided in the Drive link above, because in that room the door is set to "Upper" and to "Fill Opening", which can produce something that looks very similar to a Tall Door. So should I account for these fa

[2021-01-18 19:49] TedCC1209 commented on #274
Ah yes, I see that. A user should be taught to make those "Tall" doors since that is what they are, then the handle placement would automatically go to 40" (it looks like @sarahhightower kept it as an upper door, filled opening, and then manually put the handles at 39"). So, no, I don't think we need to account for all of that.

By the way--we still need to keep the bottom KD of a tall door counti

[2021-01-18 23:53] RyanMDev commented on #274
I see a pull request for Antonio's WIP.

Is this the only thing to finish here?

[2021-01-18 23:55] TedCC1209 commented on #274
Yes, once Antonio and Nailson finish that up it's all we need to add and then we are good to push the auto update

[2021-01-19 00:32] AntonioGloria commented on #274
Hi @TedCC1209 and @RyanMDev,

We have a fix for the shelf counting issue.

The fix is here: https://github.com/nailsonlandim/SNaP-Dev/tree/2dviews-add-door-prompt-shelves-to-plan-view-shelf-count

[2021-01-19 00:44] TedCC1209 commented on #274
Thanks! In my initial testing it looks good to me.

@RyanMDev I think we are good to go when this is merged. I say go ahead and merge Nailson's latest pull request and send out the auto update when you are ready.

Thank you for everyone's work on this!

@kategodfrey @sarahhightower @SeanRadvan please be ready to provide us feedback with anything that users may find that we missed in our testing. B

[2021-01-19 17:24] TedCC1209 opened #277 "Add Customer Type selection in Project Info"
We need to add a new field to the Project Info called "Customer Type". I figure it should go after Client ID but before the Project Address:

![Customer Type](https://user-images.githubusercontent.com/61025894/105070124-1021f600-5a40-11eb-9259-9d8938b36ccc.png)

Here are the customer types:

CHMB | CUSTOM HOME BUILDER
-- | --
COMM | COMMERCIAL CONTRACTOR
HOWN | HOMEOWNER
THMB | TRACT HOME BUILDER

[2021-01-19 17:56] JJanneh commented on #272
![Screenshot (84)](https://user-images.githubusercontent.com/76751383/105073905-ee773d80-5a44-11eb-8bd7-ad396a4af45f.png)
Edge Bottom Left & Right

[2021-01-19 18:54] #274 closed

[2021-01-19 18:54] #212 closed

[2021-01-19 18:54] #275 closed

[2021-01-19 18:54] #264 closed

[2021-01-19 18:55] #273 closed

[2021-01-19 18:55] #125 closed

[2021-01-19 18:55] #270 closed

[2021-01-19 18:55] #268 closed

[2021-01-19 18:55] #269 closed

[2021-01-19 18:55] #255 closed

[2021-01-19 18:55] #265 closed

[2021-01-19 18:55] #261 closed

[2021-01-19 18:55] #247 closed

[2021-01-19 18:55] #248 closed

[2021-01-19 18:55] #243 closed

[2021-01-19 18:55] #237 closed

[2021-01-19 18:56] #239 closed

[2021-01-19 18:56] #242 closed

[2021-01-19 18:56] #241 closed

[2021-01-19 18:56] #260 closed

[2021-01-19 19:50] JJanneh commented on #252
![Screenshot (85)](https://user-images.githubusercontent.com/76751383/105085333-d7404c00-5a54-11eb-9329-d817cfde1585.png)
Set-back-filler-option Branch Testing

[2021-01-19 20:36] SeanRadvan commented on #252
While testing this, it looks like the filler amount is subtracting from the
overal width, is this correct? I assumed filler would be say 2" filler on a
40" cabinet for an overall with of 42". This appears to be 2" filler on a
40" cabinet is 40" overall, with 38" cabinet width.

On Tue, Jan 19, 2021 at 12:51 PM J.Janneh <notifications@github.com> wrote:

[2021-01-19 20:44] TedCC1209 opened #278 "Potential Update Issue with Drawer Library & Door Prompts"
If I do the update from the 1.2.1 branch on GitHub like we were doing to test the update, will I end up with exactly what users should be experiencing when they do the update or would the release candidate repo need to be updated again for me to get to see what users should be experiencing right now?

@sarahhightower is reporting that the drawers are still a basic library item rather than a whole

[2021-01-19 20:48] SeanRadvan commented on #278
I was just testing this on my laptop that was updated like an end user
would and it appears that drawers are listed under BOTH basic items and as
stacks of drawers in their own tab. I just got a call about drawers not
displaying correctly in 2D views, but am unsure if thats related yet.

On Tue, Jan 19, 2021 at 1:44 PM Theo <notifications@github.com> wrote:

[2021-01-19 20:50] ClassyTeddy commented on #278
I also haven't seen/can replicate those issues. I am unsure as to why those issues might be happening because all the relevant files for doors and drawers are in the snap_db folder, which is the folder that gets updated. @RyanMDev can you help shed some light on this issue?

[2021-01-19 20:56] TedCC1209 commented on #252
Sean, are you saying there is an issue? The widths are working as they always have been. The "Width" you see on the upper left of the opening start prompts is the exterior width of that entire hanging opening assembly, which includes the fillers as part of the assembly. The interior widths of the openings (that you see in the Opening Sizes menu) adjust according to the number of partitions (0.75"

[2021-01-19 20:59] SeanRadvan commented on #252
Ok so it appears to be working as intended then, I just didnt know how
classy did fillers, and I was used to it being the other way around.

On Tue, Jan 19, 2021 at 1:56 PM Theo <notifications@github.com> wrote:

[2021-01-19 21:01] TedCC1209 commented on #252
@JJanneh The setback option looks to be working correctly, thank you.

[2021-01-19 21:07] TedCC1209 commented on #272
I am assuming the most recent iteration of the option to edge the bottom of the fillers can be found in the Set-back-filler-option branch for https://github.com/CCDevNelson/Snap-Updates/issues/252 (correct me if I am wrong). If so, @JJanneh here are a couple changes to make please--1. please switch the order of the Extend Left/Right Side Forward row and the Edge Bottom of Left/Right Filler row:

!

[2021-01-19 21:12] TedCC1209 commented on #278
Confirming for everyone that even when @SeanRadvan loaded SNaP defaults that the drawer stack options were still available in both his Basic Library and the separate Drawer Stack Library.

[2021-01-19 21:13] RyanMDev commented on #278
I am looking into this.

Updating from the 1.2.1 branch will be the same as users have with the exception of old files outside of the snap_db folder being left around. This is most likely what is happening.

[2021-01-19 21:14] RyanMDev commented on #278
Loading SNaP defaults now ran automatically after an update.

[2021-01-19 21:17] RyanMDev commented on #278
Do they have both drawers as a basic item **and** the new separated drawers?

or

No new drawers and only the older basic library item?

[2021-01-19 21:22] TedCC1209 commented on #278
Just talked with her and like @SeanRadvan it is in both places (there are new drawers and the old basic item drawers)

[2021-01-19 21:25] RyanMDev commented on #278
Alright, in that case the old .blend file and .png image have somehow been left around. Deleting both of these will resolve the problem.

[2021-01-19 21:30] TedCC1209 commented on #186
Sounds like @sarahhightower is running into this issue a lot while doing training today with a new designer. And unfortunately it sounds like the "recover last session" option isn't recovering very recent of a session.. I have asked her to forward her logfiles when it happens. Not sure if there is anything else we can provide that would help us figure this particular issue out? Thanks, Ted

[2021-01-19 21:30] RyanMDev commented on #278
Then this is probably similar in that the old .blend file for doors was not updated correctly. Removing the .blend file will make it draw doors from the new logic.

[2021-01-19 21:33] ClassyTeddy commented on #278
Actually, the .blend file does not affect the prompts menu. It can cause errors in that the prompt menu might look for prompts that don't exist, but it should always be the new prompts menu.

[2021-01-19 21:36] RyanMDev commented on #278
@ClassyTeddy you are right, that couldn't be it then.

[2021-01-19 21:39] JJanneh commented on #272
![Edge_Bottom_of_Filler](https://user-images.githubusercontent.com/76751383/105096192-f5fa0f00-5a63-11eb-9f73-40ad452caaab.PNG)
Set-back-filler-option branch is correct branch.

[2021-01-19 21:42] TedCC1209 commented on #272
Thanks, and then as discussed above, the option to edge the bottom of the filler should just be a check box since it it just a yes/no option and not an amount, and defaulted to not being checked.

[2021-01-19 21:52] JJanneh commented on #272
![Edge_Bottom_of_Filler_Checkbox](https://user-images.githubusercontent.com/76751383/105097495-ebd91000-5a65-11eb-8051-8f3df76c287b.PNG)

[2021-01-19 21:59] RyanMDev commented on #278
I cannot replicate any doors showing the old prompts menu.

However, when I open a project made with 1.2.1 library data (door) in 1.2.2, the "shelves" menu does not display. This is because the new prompt page is looking for new prompts that the old doors do not have.

Notice that the "Shelf Options" tab is selected but nothing is showing. This could make it appear that the door prompts menu is sh

[2021-01-19 22:02] TedCC1209 commented on #278
@sarahhightower is currently training someone right now and will have to confirm when she gets done later this afternoon

[2021-01-19 22:55] sarahhightower commented on #278
I've been creating all new files in 1.2.2 today and seeing this door prompt. To replicate the error and I just created a new file in 1.2.2 for you to have here.  Also, the person that I was training and was using 1.2.2 SNaP has the same door prompts. If we stay on the "Door Options" tab and change the shelves there all seems to be working well. If we attempt to change to the "Shelf Options" and cl

[2021-01-19 23:07] RyanMDev commented on #278
Thanks, and were you using an install of 1.2.2 for this testing?

[2021-01-19 23:17] sarahhightower commented on #278
Yes, I was using 1.2.2 for this testing.

[2021-01-19 23:18] sarahhightower commented on #278
I am just seeing your updated post with the second question. It was an earlier version up until this morning when I updated it to 1.2.2.

[2021-01-19 23:44] RyanMDev commented on #278
Alright, I can replicate this as well when updating from earlier versions.

So this is a case of the .blend file not being updated correctly.

The old door prompts menu is not actually being shown. Instead, the new one cannot draw correctly because old drawers do not contain the correct prompts. The old doors are being drawn in because the pre-built .blend file for them was somehow not updated fro

[2021-01-19 23:53] RyanMDev commented on #278
This will also work.

[2021-01-20 00:36] sarahhightower commented on #278
This worked for me! Thanks!

[2021-01-20 00:55] TedCC1209 commented on #278
Great, thank you @RyanMDev @sarahhightower , we will be passing on these instructions to other end users as well for them to fix the door prompts.

How are we addressing removing the old drawers from their basic libraries? Is this something they can go and remove the blend file? If so, where can they/we find it?

[2021-01-20 01:01] RyanMDev commented on #186
Unfortunately, the logfile created after a crash in Blender 2.7x will only show Blender's internal C code stack trace and not any Python output. Although it may give some clues as to what may be happening, it is certainly not precise.

The good news is that Blender 2.91 now does include Python output in the logfile. So we will be able to utilize this in SNaP 2.0.

It is possible to write the conso

[2021-01-20 01:18] RyanMDev commented on #278
1) Navigate to the "Closet Products - Basic" category.
2) Use "Open Location in Browser" to view the .blend files and thumbnails.
![open_loc_browser](https://user-images.githubusercontent.com/6529544/105113695-41b7b300-5a7a-11eb-80fb-11b9e3699ef4.png)

3) For removing old **drawers**: delete 'Drawers.blend' and 'Drawers.png'
![fix_drawers](https://user-images.githubusercontent.com/6529544/10511346

[2021-01-20 01:23] TedCC1209 commented on #278
Thanks @RyanMDev !

@kategodfrey are you able to send these instructions to users tomorrow?

[2021-01-20 03:30] kategodfrey commented on #278
Yes I will do that.

[2021-01-20 16:15] TedCC1209 opened #279 "Update Failed for a User"
@SeanRadvan had a call/voicemail from a user saying the update "failed" (many others' updates have been fine). Is there a place for @SeanRadvan to download a fresh version of 1.2.2 that he can manually go put on this user's (and new users') computer? This would be helpful from a tech support standpoint.

[2021-01-20 16:17] SeanRadvan commented on #279
I downloaded the 1.2.2 update.zip and would like to be able to know how to apply that as well, to have more tools in my belt.

[2021-01-20 16:21] JJanneh opened #280 "Developer running into parse error"
I'm getting the following error when i open a room, export room, and save a room.
![Screenshot (92)](https://user-images.githubusercontent.com/76751383/105203862-d36a0380-5b00-11eb-93ad-a1ff910c3f41.png)

[2021-01-20 16:22] ClassyTeddy commented on #280
This is an issue that I would like @RyanMDev to help with only after the more pressing update issues are resolved.

[2021-01-20 18:12] RyanMDev commented on #279
Alright, there are two options here:

1) **Manual update from a previous version.**
    a) Download update zip from the `Snap-Updates` repo here:
https://github.com/CCDevNelson/Snap-Updates/releases/tag/v1.2.2

    b) Unzip and you should have a folder inside named `Snap-Updates-1.2.2`, rename this folder to `snap_db`. Remember that when you unzip the folder you will get a containing folder `Snap-

[2021-01-20 18:28] RyanMDev commented on #280
Investigate your .ccp project files, one of them has a syntax error on line 19.

[2021-01-20 19:00] ClassyTeddy commented on #14
This is partially ready for testing on the `Adding-TK-Skins` branch. I disabled them for island toe kicks at the moment because they were causing errors, but the option is fully available and ready for testing on the standard toe kicks.

[2021-01-20 19:20] sarahhightower commented on #186
While using SNaP in training today the program shut down on us randomly again. I did my best to direct the trainee to follow the above directions. Hoping I got what you needed:

load_materials_from_db Finished: 1.5128 sec
Read new prefs: C:\Users\libby\AppData\Roaming\Blender Foundation\Blender\2.78\config\fd_userpref.blend
found bundled python: C:\Users\libby\Documents\SNaP-Dev-1.2.0 (1)\SNaP-Dev

[2021-01-20 19:42] JJanneh commented on #221
![Screenshot (97)](https://user-images.githubusercontent.com/76751383/105226208-f1456180-5b1c-11eb-97c3-404032889abb.png)

[2021-01-20 19:43] TedCC1209 commented on #279
Thank you @RyanMDev

@SeanRadvan I think what Ryan just posted is everything you need but please let us know if there is something else.

Thanks, Ted

[2021-01-20 19:50] TedCC1209 commented on #221
Thanks J, looks good. Now that I am seeing it I think the right wording would be "Extend Left End Pard Forward", "Extend Right End Pard Forward", "Extend Left End Pard Down", and "Extend Right End Pard Down" (I would prefer to say Partition instead of Pard, but it is already long enough).

When you change that wording will this be ready for testing? Let me know the name of the branch you are worki

[2021-01-20 20:46] JJanneh commented on #221
Changing names and functions now. Testing Pop up feature in progress for the Extend L/R End Forward Current branch Custom_Partition_Depth
![Pard_](https://user-images.githubusercontent.com/76751383/105232229-4eddac00-5b25-11eb-85c4-7a2e58dc39fb.PNG)

[2021-01-20 21:01] TedCC1209 commented on #14
Awesome, thanks Teddy. The prompt option looks good and the returns work well. A couple fixes:

1. The skins are coming in only as white and the XML has "unknown" as to the color/SKU/etc. It should match the color of the closet (the corresponding 1/4" material like we do for 1/4" backs):

![White TK Skin](https://user-images.githubusercontent.com/61025894/105232827-2efab800-5b26-11eb-8d60-17fdf07d

[2021-01-20 21:23] ClassyTeddy commented on #14
I am unsure as to why they are only coming in as Oxford white, but it looks like the "Unknown" sku is because there are 3 1/4"  materials that have Oxford White as the display name and 110100 as the color code:

PM-0000087 | Oxford White | Oxford White | OXFORD WHITE250 G1S 1/4
PM-0000088 | Oxford White | Oxford White | OXFORD WHITE250 G2S 1/4
PM-0000089 | Oxford White | Oxford White | OXFORD WHIT

[2021-01-20 22:06] TedCC1209 commented on #14
Just like 1/4" backs,  for Oxford White, Cabinet Almond, Duraply White, and Duraply Almond, we should use the 1/4" material with the SKU PM-0000041 Dura White_Almond 10200 (one sided white the other side almond)

[2021-01-21 02:53] RyanMDev commented on #186
@sarahhightower, do you have any of the logfiles to share as well?

[2021-01-21 16:05] TedCC1209 commented on #221
Thank you J.

@ClassyTeddy is there a particular reason you had the L/R end extension down be a button first and then the second popup have it ask the amount?

[2021-01-21 16:16] ClassyTeddy commented on #221
I don't believe so. It does make the logic for the hutch easier, but the logic could be changed

[2021-01-21 16:25] sarahhightower commented on #186
@RyanMDev I do not. I'm sorry I interpreted your message wrong. I thought you only needed the console_output. I am done training for the week and won't be in SNaP quite as much but I'll send both the logfile and the console_output if this happens again. Thanks!

[2021-01-21 17:00] JJanneh commented on #221
![Screenshot (100)](https://user-images.githubusercontent.com/76751383/105384491-830da700-5bcf-11eb-92b8-5e2bbb0621f3.png)

[2021-01-21 17:12] TedCC1209 commented on #221
@kategodfrey @sarahhightower please take a look at how the forward & down extensions look and work in the prompt menus and let me know your thoughts on its user friendliness (call or email me please). Thanks, Ted

[2021-01-21 19:44] ClassyTeddy commented on #14
Both of these issues are fixed and ready for testing on the `Adding-TK-Skins` branch

[2021-01-21 19:58] TedCC1209 commented on #221
Okay let's keep it like this J, thank you. Let's change the wording of the prompt to enter the extension amounts to the following:

![Wording](https://user-images.githubusercontent.com/61025894/105405408-5ca83580-5be8-11eb-8891-d2efa12dc02a.png)

[2021-01-21 20:26] JJanneh commented on #221
Change the wording requested.
![Wording of the prompt](https://user-images.githubusercontent.com/76751383/105408343-10f78b00-5bec-11eb-9c72-732093db2a9a.PNG)

[2021-01-21 21:00] JJanneh commented on #253
Capping-Filler-Option Branch
![Capping_Filler](https://user-images.githubusercontent.com/76751383/105411624-da703f00-5bf0-11eb-861c-524ace5a5dfd.PNG)